{% assign margin = section.settings.margin | split: ',' %}
{% assign margin_top = margin[0] %}
{% assign margin_bottom = margin[1] %} 
{% assign padding = section.settings.padding | split: ',' %}
{% assign padding_top = padding[0] %}
{% assign padding_bottom = padding[1] %} 

margin-top:{{margin_top}}px; 
margin-bottom:{{margin_bottom}}px;
padding-top:{{padding_top}}px; 
padding-bottom:{{padding_bottom}}px; 
{% if section.settings.show_background_image %}
  background-attachment:fixed;
  background-repeat:repeat;
  background-position:center center; 
  background-size: cover;
{% endif%}