{% if product.metafields.dT_bundle_handles['Bundle Products Handles'] %}
{%- assign handle_metafields =  product.metafields.dT_bundle_handles['Bundle Products Handles'] | split: ',' -%}
{%- assign handle_size =  handle_metafields | size -%}
{%- assign bundle_discount =  product.metafields.dT_bundle_handles['Discounts'] -%}

<div class="dT_bundleSelector">

  {% form 'product', product, id: "bundleAddToCartFrmId", class: "bundleAddToCartFrmCls" %}
  <div class="dt-sc-product_bundle">

    <div class="section-title"> <h3>{{ 'upsell.general.heading' | t}}</h3> </div>

    <div class="frequently-buy-togeather-products">
      <div class="products-grouped-info">

        <div class="dt-sc-thumb-image">
          <div>
            <div class="" data-bundle-product-id="{{ product.id }}" data-bundle-product-handle="{{ product.handle }}">
              <a href="{{ product.url | within: collection }}" class="item-image">                
                {%- assign product_img_url_1 = product.featured_image.src | product_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload"
                     src="{{ 'loading.gif' | asset_url }}"
                     data-src="{{ product_img_url_1 }}"
                     data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                     data-aspectratio="{{ product.featured_image.src.aspect_ratio }}"
                     data-sizes="auto"            
                     alt="{{ product.featured_image.src.alt | escape }}">            
                <noscript>
                  {{ product.featured_image.src | product_img_url: '480x480', scale: 2 | img_tag: product.featured_image.src.alt, 'dt-sc-noscript-image' }}
                </noscript>
              </a>
            </div>

            <div class="main-product" id="dT_bundle-product-{{ product.id }}" data-bundle-product-id="{{ product.id }}" data-bundle-product-handle="{{ product.handle  }}">
              {% include 'dT_bundle-product-list', product:product %}
            </div>
          </div>

          {% for handle in handle_metafields limit:10 %}
          {% assign a = handle | strip %}
          {%- assign pro = all_products[a] -%}
          <div>
            <div class="" data-bundle-product-id="{{ pro.id  }}" data-bundle-product-handle="{{ pro.id  }}">
              <a href="{{ pro.url | within: collection }}" class="item-image">
                {%- assign product_img_url_2 = pro.featured_image.src | product_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload"
                     src="{{ 'loading.gif' | asset_url }}"
                     data-src="{{ product_img_url_2 }}"
                     data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                     data-aspectratio="{{ pro.featured_image.src.aspect_ratio }}"
                     data-sizes="auto"            
                     alt="{{ pro.featured_image.src.alt | escape }}">            
                <noscript>
                  {{ pro.featured_image.src | product_img_url: '480x480', scale: 2 | img_tag: pro.featured_image.src.alt, 'dt-sc-noscript-image' }}
                </noscript>
              </a>
            </div>

            <div class="group-product" id="dT_bundle-product-{{ pro.id }}" data-bundle-product-id="{{ pro.id }}" data-bundle-product-handle="{{ pro.handle  }}">
              {% include 'dT_bundle-product-list', product:pro %}
            </div> 
          </div>  
          {% endfor %}
        </div>

        <div class="bundle-product-cart-total">
          <span>{{ 'upsell.general.total' | t}}</span>
          <span class="dT_totalBundleSalePrice">$4,095.00 USD</span> 
          <span class="dT_totalBundleOriginalPrice">$4,550.00 USD</span>
        </div>

        <div class="bundle-product-add-to-cart">
          <button type="submit" class="btn btn-product-add-to-cart">{{ 'upsell.general.add_all_to_cart' | t}}</button>
        </div>

        <div class="bundle-product-offer-note">
          {{ 'upsell.general.get_discount_label1' | t}} {{ bundle_discount }}% {{ 'upsell.general.get_discount_label2' | t}}
        </div>

      </div>
    </div>
  </div>

  {% endform %}


</div>
{% endif %}

<style>

  .dt-sc-product_bundle{ background: var(--DTTertiaryColor); padding: 30px; display: inline-block; width: 100%; border-radius: var(--DTRadius); }
  .dt-sc-product_bundle .section-title h3{ margin: 0 0 15px; line-height: normal;}
  .dt-sc-product_bundle .dt-sc-thumb-image{ display: flex; justify-content: space-between; }
  .dt-sc-product_bundle .dt-sc-thumb-image > div{ text-align: center; margin-bottom: 20px; position: relative; width: calc(25% - 15px);}
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child){ margin-right:30px}
  .dt-sc-product_bundle .dt-sc-thumb-image .item-image img{ width:100%;}
  .dt-sc-product_bundle .dt-sc-thumb-image a.item-image{margin-bottom: 30px; display: block; overflow: hidden; border-radius: var(--DTRadius);}
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child{position: relative;}
  
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ content: "\f067"; font-family:fontAwesome; position: absolute; top: 50%; 
    transform: translateY(-50%); right: -20px; font-size: 14px; color: var(--DTPrimaryColor); }
  
  .dt-sc-product_bundle .dt-sc-thumb-image li:not(:last-child){ margin-bottom:15px;}

  .dt-sc-product_bundle .dt-sc-thumb-image  [type=checkbox]{ margin: auto; }  
  .dt-sc-product_bundle .dt-sc-product-details{ display: flex; align-items: center; margin-bottom: 0; flex-flow: column wrap;line-height: normal;}
  .dt-sc-product_bundle .dt-sc-product-details span{font-weight: 600; padding: 0 3px; color: var(--DTPrimaryColor); }

  .dt-sc-product_bundle .bundle-product-cart-total{ font-weight: 600;  font-size: var(--DTFontSize_H6); }
  .dt-sc-product_bundle .dt-sc-select-btn{ width: 100%; padding: 10px 15px; border-radius: var(--DTRadius);  background-color: var(--DTBodyBGColor); border: 1px solid var(--DTColor_Border);}
  .dt-sc-product_bundle .varient-options{ z-index: 1; display: none; margin-bottom: 15px; padding: 15px !important; width:100% !important; box-shadow: var(--DTboxShadow); border-radius: var(--DTRadius); background-color: var(--DTBodyBGColor); position: absolute; }
  .dt-sc-product_bundle .product-form__controls-group{ display:flex; flex-flow: column; }
  .dt-sc-product_bundle .product-form__controls-group ~ *{ display:none;}
  .dt-sc-product_bundle .product-form__controls-group .selector-wrapper{ display: inline-flex; text-align: left; margin-bottom:15px;}
  .dt-sc-product_bundle .product-form__controls-group .selector-wrapper:last-child{  margin-bottom:0px; }
  .dt-sc-product_bundle .selector-wrapper label { display: inline-flex; font-weight: bold; width: 50%;}
  .dt-sc-product_bundle .selector-wrapper .select2.select2-container { width: 50% !important; }
  .dt-sc-product_bundle .selector-wrapper select{ padding: 5px; width: 100%; background-color: var(--DTColor_Border); border-radius: var(--DTRadius);}
  .dt-sc-product_bundle .dt-sc-btn.btn-product-add-to-cart, .bundle-product-add-to-cart, .bundle-product-offer-note{ display: inline-block; margin: 0 10px 20px 0px;}

  .bundle-product-cart-total{ display: flex; margin: 0 0 20px; }
  .bundle-product-cart-total > * + * { margin-left: 10px;}
  .dt-sc-product_bundle .bundle-product-offer-note{font-style: italic;}
  span.dT_totalBundleOriginalPrice{ text-decoration: line-through; opacity: .5; color: inherit; font-weight: 400;}
  .group-product .old-price{ font-size: 80%; opacity: .5; text-decoration: line-through;}
  .group-product .old-price, .group-product .special-price{margin: 0 5px;}

  .dt-sc-product_bundle .dt-sc-thumb-image ul{ position: relative; }
  
  .checkbox_style { display: inline-block; position: relative; cursor: pointer; font-size: 0; height: 0; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
  .checkbox_style input[type="checkbox"] { float: left; width: 36px; height: 6px; cursor: pointer; background-color: var(--DTSecondaryColor); -webkit-appearance: none;
border-radius: 8px; position: relative; }
  .checkbox_style input[type="checkbox"]:before { content: ""; width: 17px; height: 17px; box-shadow: var(--DTboxShadow);
background-color: var(--DTSecondaryColor); border-radius: 50%; position: absolute; top: -6px; z-index: 1; left: -2px;
transition: var(--DTBaseTransition); }
   .checkbox_style input[type="checkbox"]:after { content: ""; height: 100%; width: 14px; position: absolute; left: 0; border-radius: 17px;
background-color: rgba(32, 100, 105, 0.5); transition: var(--DTBaseTransition); }
  .checkbox_style input[type="checkbox"]:checked:before { left: calc(100% - 16px); background-color: var(--DTPrimaryColor); }
  .checkbox_style input[type="checkbox"]:checked:after { width: 100%; border-radius: 8px; }
  

  @media only screen and (max-width: 991px) and (min-width: 767px)  {
    .dt-sc-product_bundle .dt-sc-thumb-image, .dt-sc-product_bundle .product-list{ grid-template-columns: repeat(2,1fr); }

    .dt-sc-product_bundle .dt-sc-thumb-image{ display: grid; gap: 30px; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ display:none; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div{width:100%;}
  }

  @media (max-width:767px) {
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ display:none; }
    .dt-sc-product_bundle .dt-sc-thumb-image, .dt-sc-product_bundle .product-list { grid-template-columns: repeat(2,1fr);}
    .dt-sc-product_bundle .dt-sc-thumb-image{display:block;  }
    .dt-sc-product_bundle .dt-sc-thumb-image > div{width:100%; margin-bottom: 40px;}
  }

  @media (max-width:575px) {
    .dt-sc-product_bundle .dt-sc-thumb-image, .dt-sc-product_bundle .product-list { grid-template-columns: repeat(1,1fr);}
  }

</style>


<script type="text/javascript">
  const DT_DISCOUNT = '{{ bundle_discount }}';
  const BUNDLE_MAIN_PRODUCT_ID = "{{ product.id }}";

  var bundleProductIds = ["{{ product.id }}"];

                          {% for handle in handle_metafields limit:10 %}
                          {% assign a = handle | strip %}
                          {%- assign pro = all_products[a] -%}
                          bundleProductIds.push( "{{ pro.id }}" );
                          {% endfor %}
</script>