<div class="{{ footer_column_alignment}}">
  {% if block.settings.title != blank  and section.settings.show_footer_title %}        
  <h2 class="footer__title ">{{ block.settings.title }}</h2>
  {% endif %}
  {% if block.settings.richtext != blank %}
  {{ block.settings.richtext }}
  {% endif %}
  {% form 'customer', id: 'newsletter-footer' %}
  {% if form.posted_successfully? %}
  <div class="note note--success">{{ 'general.newsletter_form.mailing_list_success_message' | t }}</div>
  {% endif %}
  {% if form.context == 'footer' %}
  {% if form.errors %}
  {{ form.errors | default_errors }}
  {% endif %}
  {% endif %}
  <input type="hidden" name="contact[tags]" value="prospect,newsletter">
  <input type="hidden" name="contact[context]" value="footer">
  <div class="footer__newsletter">
    <input type="text" value="{% if customer %}{{ customer.first_name }}{% endif %}" placeholder="Enter your name" name="contact[first_name]" id="firstname-{{ block.id }}"  class="footer__newsletter-input" autocorrect="off"  autocapitalize="off" required="required">
    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ block.id }}"  class="footer__newsletter-input" autocorrect="off"  autocapitalize="off" required="required">
    <button type="submit" class="btn footer__newsletter-btn {% if block.settings.reverse_column %}reverse{% endif %}" name="subscribe"value="" ><span>{{ 'general.newsletter_form.sign_up' | t }}</span><i class=" fa fa-paper-plane"></i></button>
  </div>

  
  {% endform %}

  {% if section.settings.social_placement == 'with_newsletter'  and section.settings.show_social %}   
  {% include 'social-links' %}
  {% endif %}
</div>
