<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
<path d="M95.6,243v344.3c0,10.6,8.6,19.1,19.1,19.1h382.5c10.6,0,19.1-8.6,19.1-19.1V243c0-10.6-8.6-19.1-19.1-19.1h-95.6v-95.6
	c0-52.8-42.8-95.6-95.6-95.6c-52.8,0-95.6,42.8-95.6,95.6v95.6h-95.6C104.2,223.9,95.6,232.4,95.6,243z M248.6,128.3
	c0-31.7,25.7-57.4,57.4-57.4s57.4,25.7,57.4,57.4v95.6H248.6V128.3z M133.9,262.1h76.5v38.3c0,10.6,8.6,19.1,19.1,19.1
	s19.1-8.6,19.1-19.1v-38.3h114.8v38.3c0,10.6,8.6,19.1,19.1,19.1s19.1-8.6,19.1-19.1v-38.3h76.5v306H133.9V262.1z"/>
</svg>
