<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:18;stroke-miterlimit:10;}
</style>
<g>
	
		<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -58.5229 277.6381)" class="st0" cx="305.9" cy="209.5" rx="121.7" ry="121.7"/>
	<g>
		<path class="st0" d="M421.3,209.5c-0.4,48-30.7,92.4-76.3,108.7c-45.8,16.3-97.4,2.1-128.5-35.3c-31-37.2-34.6-91.8-9.7-133
			c24.8-41.1,74.3-63.2,121.5-53.6C382.1,107,420.9,154.9,421.3,209.5c0,7.8,12.2,7.8,12.2,0c-0.4-53.2-33.8-101.3-83.7-120
			c-50.1-18.6-108.6-2.8-142.5,38.4c-34,41.4-38.9,101.2-11.1,147.2c27.7,45.9,82.1,69.6,134.6,59.4
			c59.2-11.6,102.2-65.2,102.6-125.2C433.7,201.5,421.4,201.5,421.3,209.5z"/>
	</g>
</g>
<g>
	<path class="st0" d="M510,522.3c-49.7,14-119.1,28-202.8,28.2c-84.8,0.1-155.2-14.1-205.3-28.2v-1.7c0-85.3,69.2-154.6,154.6-154.6
		h98.9c85.3,0,154.6,69.2,154.6,154.6V522.3z"/>
	<g>
		<path class="st0" d="M508.3,516.3c-106.6,30-219.5,36.1-328.6,17.3c-25.7-4.4-51-10.2-76.1-17.3c1.5,2,2.9,3.9,4.5,5.9
			c0-43.8,18.4-85.6,51.7-114.3c28.4-24.6,64.1-35.9,101.3-35.9c27.5,0,55.1,0,82.6,0c11.9,0,23.6-0.1,35.4,1.8
			c21.9,3.7,42.6,12,60.8,24.6c40.5,28,63.8,74.7,63.8,123.6c0,7.8,12.2,7.8,12.2,0c0-45.8-18.7-90.1-52.9-120.8
			c-30.6-27.7-69.9-41.5-110.9-41.5c-28.6,0-57.2,0-85.8,0c-14.1,0-28,0.4-42,3.2c-22.3,4.4-43.8,13.8-62.2,27.3
			c-42.2,30.8-66.6,79.8-66.6,131.9c0,2.7,2,5.1,4.5,5.9c107.8,30.4,221.8,36.4,332.3,17.7c26.6-4.5,53-10.4,78.9-17.7
			C519.2,526,515.9,514.2,508.3,516.3z"/>
	</g>
</g>
</svg>
