{%- assign dt_mega = false -%}
{%- assign primary = false -%}
{%- if link.levels == 1 -%}
{%- assign primary = true -%}
{%- endif -%}
{%- assign secondary = false -%}
{%- if link.levels == 2 -%}
{%- assign secondary = true -%}
{%- endif -%}
{%- assign tertiarySize = 0 -%}
{%- if territory -%}
{%- assign tertiarySize = link.links.size -%}
{%- if tertiarySize > 10 -%}
{%- assign tertiarySize = 10 -%}
{%- endif -%}
{%- endif -%}
{%- capture link_id -%}{{ link.title | handleize }}-{{ loop }}-{{ pack }}{%- endcapture -%}
{%- for block in section.blocks -%} 
{% for i in (1..5) %}
{%- assign megamenu_title = '' -%}
{%- assign link_title = link.title | escape | strip | handleize -%}
{%- assign dt_menu_pick = i | prepend: 'mega_' -%}
{% if block.settings[dt_menu_pick] != blank %}
{% assign megamenu_title = block.settings[dt_menu_pick] | handleize %}
{%- if  link_title == megamenu_title -%}
{% assign columnSize = block.settings.mega_columns %} 
{% if  block.settings.row_reverse %}
{% assign reverse = true %}
{% endif %}
{% assign blockType = block.type %}
{%- assign dt_mega = true -%}
{%- capture megaPromo -%}
{% render 'dt-megaPromo', block: block %}
{%- endcapture -%}
<!-- Product -->
{%- capture megaProduct -%}
{% render 'dt-megaProduct', block: block %}
{%- endcapture -%}
<!-- Product End -->
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}

<li class="{{link.levels}} {% if blockType == "promo_image" %}promo_image{% elsif blockType == "product" %}megaProduct{% else %}text-menu{% endif %}
           top-level-link 
           {% if dt_mega %} has-mega-menu dt-sc-primary
           {% elsif secondary %} dt-sc-secondary
           {% else %} dt-sc-child
           {%endif%}
           {% if link.current %}active{% endif %} {% if primary or secondary or dt_mega %}menu-item-has-children{% endif %}">
  <a href="{{ link.url }}" class=" {% if dt_mega %}mega-menu{% endif %} dt-sc-nav-link dropdown"> 
    {{ link.title | escape }} {% if primary or secondary or dt_mega %}<span class="dt-sc-caret"></span>{% endif %}
  </a>
  
  {% if  dt_mega %}
  <div class="sub-menu-block is-hidden">
    <div class="go-back">
      <a href="javascript:void(0);"></a>
    </div>
    <div class="see-all"></div>
    <div class="dt-sc-dropdown-menu{% if dt_mega %} dt-sc--main-menu--mega{% endif %} {% if primary or secondary %} dt-sc_main-menu--has-links{% endif %}" id="{{ link_id }}">
      <ul class="sub-menu-lists {% if dt_mega %} dt-sc-column {{columnSize}} {% if reverse %}row-reverse{% endif %} {% endif %} ">        
        {%- if link.links != blank -%}
        {%- for child_link in link.links limit: 4 -%}
        <li class="{% if child_link.current %}active{% endif %}">
         <h5> <a href="{{ child_link.url }}" {% if child_link.current %}aria-current="page"{% endif %}>
            {{ child_link.title }}
          </a>
          </h5>
          {%- if child_link.links != blank -%}
          <ul>
            {%- for grandchild_link in child_link.links -%}
            <li class="{% if grandchild_link.current %}active{% endif %}">
              <a href="{{ grandchild_link.url }}" {% if grandchild_link.current %}aria-current="page"{% endif %}>
                {{ grandchild_link.title }}
              </a>
            </li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </li>
        {%- endfor -%}              
        {% endif %}       
        {% if blockType == "promo_image" %}
        {{ megaPromo }}
        {% endif %}       
        {% if blockType == "product" %} 
        {{ megaProduct }}
        {% endif %}
      </ul>
    </div> 
  </div>
  {% else %}
  {%- if link.links != blank -%}
  <div class="sub-menu-block is-hidden">
    <div class="go-back">
      <a href="javascript:void(0);"></a>
    </div>
    <div class="see-all"></div>
    <div class="dt-sc-dropdown-menu{% if primary or secondary %} dt-sc_main-menu--has-links{% endif %}" id="{{ link_id }}">
      <ul class="sub-menu-lists">

        {%- for child_link in link.links -%}
        <li class="{% if primary or secondary %}  {%- if child_link.links != blank -%}menu-item-has-children{% endif %}{% endif %}{% if child_link.current %} active{% endif %}">
          <a href="{{ child_link.url }}" {% if child_link.current %}aria-current="page"{% endif %}>
            {{ child_link.title }}
          </a>

          {%- if child_link.links != blank -%}
          <div class="sub-menu-block is-hidden">
            <div class="go-back">
              <a href="javascript:void(0);"></a>
            </div>
            <div class="see-all"></div>
            <div class="dt-sc_main-menu--has-links" id="{{ link_id }}">
              <ul class="sub-menu-lists">
                {%- for grandchild_link in child_link.links -%}
                <li class="{% if grandchild_link.current %} active{% endif %}">
                  <a href="{{ grandchild_link.url }}" {% if grandchild_link.current %}aria-current="page"{% endif %}>
                    {{ grandchild_link.title }}
                  </a>
                </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>  
  {% endif %}
  {%- endif -%}
</li>
