{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<img class="lazyload"
  src="{{ 'loading.gif' | asset_url }}"
  data-src="{{ img_url }}"
  data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
  data-aspectratio="{{ image.aspect_ratio }}"
  data-sizes="auto"            
  alt="{{ image.alt}}">            
<noscript>
  {{ image | img_url: '480x480', scale: 2 | img_tag: image.alt, 'dt-sc-noscript-image' }}
</noscript> 