{% unless settings.shipping_calculator == 'Disabled' %}
<div id="shipping-calculator">
  <p class="dt-sc-btn" onclick="shippingCall()">{{ settings.shipping_calculator_heading | default: 'Get shipping estimates' }} {% render 'icon-arrow-down' %} </p>
  <div style="display:none; margin-top:20px;" id="shipping-calculator-block">
    <p class="field">
      <label for="address_country">Country</label>
      <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </p>
    <p class="field" id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label">Province</label>
      <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </p>  
    <p class="field">
      <label for="address_zip">Zip/Postal Code</label>
      <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
    </p>
    <p class="field">
      <input type="button" class="get-rates btn button" value="{{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' }}" />
    </p>
  </div>
  <div id="wrapper-response"></div>
</div>
{% endunless %}

<script id="shipping-calculator-response-template" type="text/template">
  {% raw %}
  <p id="shipping-rates-feedback" {{#if success}} class="success" {{else}} class="error" {{/if}}>
  {{#if success}}
    {{#if rates}}
      {{#rates}}
        {{#if @first}}
            Rates start at {{price}}.
        {{/if}}
      {{/rates}}
    {{else}}
      We do not ship to this destination.
    {{/if}}    
  {{else}}
    {{ errorFeedback }}
  {{/if}}
  </p>
  {% endraw %}
</script>

<!--[if lte IE 8]>
<style> #shipping-calculator { display: none; } </style>
<![endif]-->


<script>
var  theme = {
  strings: {
    shippingCalcSubmitButton: {{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' | json }},
    shippingCalcSubmitButtonDisabled: {{ settings.shipping_calculator_submit_button_label_disabled | default: 'Calculating...' | json }},
    {% if customer %}shippingCalcCustomerIsLoggedIn: true,{% endif %}
    shippingCalcMoneyFormat: {{ shop.money_with_currency_format | json }}
  }
  }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
<script src="/services/javascripts/countries.js"></script>
<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
<style type="text/css">
  #shipping-calculator svg {
    margin-left: 5px;
  }  
  #shipping-calculator .field label {
    display: block;
    margin: 0 0 .3em;
    font-size: 1em;
  }
  #shipping-calculator .field input[type=text] {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: .4em .6em;
    font-size: 1em;
    outline: 0;
    -webkit-appearance: none;
    border: 1px solid var(--DTColor_Border);
      }  

  #shipping-calculator #wrapper-response {
    clear: both;
  }
  #shipping-calculator select{
    width: 100%;
    padding: 5px 5px 1px 5px;
    border-radius: var(--DTRadius);
      border: 1px solid var(--DTColor_Border);
        }
  
  #shipping-calculator .dt-sc-btn { width: auto !important; display: inline-block; }
  
  @media (max-width: 800px) {
    #shipping-calculator .field {
      float: none;
    }
  }
</style>