<div class="dt-sc-social-icons-wrapper {{ footer_column_alignment}}">
  {% if block.settings.title != blank  and section.settings.show_footer_title %}        
<h5 class="footer__title ">{{ block.settings.title}}</h5> 
{% endif %}
  <ul class="dt-sc-social-icons {{ social_styleClass }}">
    {% if settings.social_twitter_link != blank %}
    <li>
      <a class="icon-fallback-text twitt hexagon" target="blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.twitter' | t: name: shop.name, platform: 'Twitter' }}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.twitter' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_facebook_link != blank %}
    <li>
      <a class="icon-fallback-text fb hexagon" target="blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.facebook' | t: name: shop.name, platform: 'Facebook' }}">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.facebook' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
    <li>
      <a class="icon-fallback-text pin hexagon" target="blank" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.pinterest' | t: name: shop.name, platform: 'Pinterest' }}">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.pinterest' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_google_plus_link != blank %}
    <li>
      <a class="icon-fallback-text google hexagon" target="blank" href="{{ settings.social_google_plus_link }}" title="{{ 'layout.footer.google' | t: name: shop.name, platform: 'Google Plus' }}" rel="publisher">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.google' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
    <li>
      <a class="icon-fallback-text ins" target="blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.instagram' | t: name: shop.name, platform: 'Instagram' }}">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.instagram' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
    <li>
      <a class="icon-fallback-text tumblr" target="blank" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.tumblr' | t: name: shop.name, platform: 'Tumblr' }}">
        <i class="fa fa-tumblr" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.tumblr' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
    <li>
      <a class="icon-fallback-text youtube" target="blank" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.youtube' | t: name: shop.name, platform: 'YouTube' }}">
        <i class="fa fa-youtube" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.youtube' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
    <li>
      <a class="icon-fallback-text vimeo" target="blank" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.vimeo' | t: name: shop.name, platform: 'Vimeo' }}">
        <i class="fa fa-vimeo" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.vimeo' | t }}</span>
      </a>
    </li>
    {% endif %}

    {% if settings.social_rss_link != blank %}
    <li>
      <a class="icon-fallback-text rss" target="blank" href="{{ settings.social_rss_link }}" title="{{ 'layout.footer.RSS' | t: name: shop.name, platform: 'RSS' }}">
        <i class="fa fa-rss" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.RSS' | t }}</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_linkedin_link != blank %}
    <li>
      <a class="icon-fallback-text linked-in" target="blank" href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.linkedin' | t: name: shop.name, platform: 'linked-in' }}">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'layout.footer.linkedin' | t }}</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% if section.settings.payment_placement == 'with_social' %}
  {% unless shop.enabled_payment_types == empty %}
  <div class="footer__payment-icons grid__item wide--one-third post-large--one-third large--one-third medium--one-whole">
    <ul class="dt-sc-list-inline payment-icons">
      {% for type in shop.enabled_payment_types %}
      <li class="icon--payment">
        {{ type | payment_type_svg_tag }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endunless %}
  {% endif %}
</div>