<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>{% render 'pagefly-head' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '16x16' }}" type="image/png" />
    {% endif %}
    <style>
      @font-face {
        font-family: 'HelloDino';
        src:  url({{ "HelloDino.otf" | asset_url }});
      }
    </style>
    <style>
      @font-face {
        font-family: 'BakbakOne-Regular';
        src:  url({{ "BakbakOne-Regular.ttf" | asset_url }});
      }
    </style>
    {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- Social meta ================================================== -->
    {% include 'social-meta-tags' %}
    {{ 'dt-framework.css' | asset_url | stylesheet_tag }} 
    {{ 'dt-theme.css' | asset_url | stylesheet_tag }} 
    {{ 'dt-custom.css' | asset_url | stylesheet_tag }}        
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }} 
    {{ 'select2.min.css' | asset_url | stylesheet_tag }} 
    {{ 'custom_lil.css' | asset_url | stylesheet_tag }} 



    {{ 'font-all.min.css' | asset_url | stylesheet_tag }} 
    {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}   
    {{ 'api.js' | shopify_asset_url | script_tag }} 
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    {{ 'dt-plugins.js' | asset_url | script_tag }} 
    {{ 'select2.min.js' | asset_url | script_tag }} 
    {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    {{ content_for_header }}       


    <script>  
      var DT_THEME = {
        strings: {
          addToWishList: {{ 'products.product.addToWishList' | t | json }},
          viewMyWishList: {{ 'products.product.viewMyWishList' | t | json }},
          addToCompareList: {{ 'products.product.addToCompareList' | t | json }},
          viewMyCompareList: {{ 'products.product.viewMyCompareList' | t | json }},
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}          
        },
        moneyFormat: {{ shop.money_format | json }}

      };      
        
       
    </script>


    {% render 'judgeme_core' %}
  {% include 'MonsterUpsell-shopify-prod-head' %}</head>
  <body id="{{ page_title | handle }}" class="{% if settings.home_sidebar   %}{% endif %} {% if settings.enable_boxed %}body-boxed {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {% unless tempate contains 'index' %} others {% endunless %}" style="{% if settings.boxed_bg_image != blank %}background-image:url('{{ settings.boxed_bg_image | img_url: 'master' }}');background-attachment:fixed;background-repeat:no-repeat;background-position:center center;{% endif %}">
    {% if settings.preloader_enable %}
    <div class="se-pre-con"></div>
    {% endif %}

    <div class="mobile-menu" data-menu="dt-main-menu"></div>
    <div class="mobile-menu-overlay"></div>    
    <div class="off-canvas--viewport">
      {% if settings.ajax_cart_method == 'drawer' %}
      {% include 'timber-cart' %}
      {% endif %}
      {% section 'header' %}  
      {% include 'breadcrumb' %}     
      <div class="clearfix"></div>
      <div class="shifter-page {% if settings.ajax_cart_method == 'drawer' %}is-moved-by-drawer{% endif %}" id="container">
        {{content_for_layout}}
      </div>
      <div class="clearfix"></div>
    </div>
    {% section 'footer' %}              
    {% if settings.ajax_cart_method == 'drawer' %}   
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% endif %}


    {{ 'dt-theme.js' | asset_url | script_tag }}     
    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
    {{ 'social-buttons.js' | asset_url | script_tag }}
    {% endif %}
    {% endif %}
    {% section 'modal-newsletter' %}     
    {% section 'gdpr-cookies' %}     
    {% section 'customer-purchased' %}
    {% render 'dT_loading-overlay' %}
    <script src="{{ 'dT_bundle_base.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'dT_bundle.js' | asset_url }}" defer="defer"></script>  
    <script src="{{ 'dT_main.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'dT_main_app.js' | asset_url }}" defer="defer"></script>    
    {% include 'ajax-cart-template' %}        
    {% if settings.enable_scroll_to_top %}
    <a id="to-top" href="#{{ page_title | handle }}" class="dt-sc-to-top" style="display:none">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <path d="M263.432,3.136c-4.16-4.171-10.914-4.179-15.085-0.019c-0.006,0.006-0.013,0.013-0.019,0.019
                 l-192,192c-4.093,4.237-3.975,10.99,0.262,15.083c4.134,3.992,10.687,3.992,14.82,0L245.213,36.416v464.917
                 c0,5.891,4.776,10.667,10.667,10.667c5.891,0,10.667-4.776,10.667-10.667V36.416l173.781,173.781
                 c4.093,4.237,10.845,4.355,15.083,0.262c4.237-4.093,4.354-10.845,0.262-15.083c-0.086-0.089-0.173-0.176-0.262-0.262L263.432,3.136
                 z"/>
        <path d="M447.88,213.333c-2.831,0.005-5.548-1.115-7.552-3.115L255.88,25.749L71.432,210.219c-4.237,4.093-10.99,3.975-15.083-0.262
                 c-3.992-4.134-3.992-10.687,0-14.82l192-192c4.165-4.164,10.917-4.164,15.083,0l192,192c4.159,4.172,4.149,10.926-0.024,15.085
                 C453.409,212.214,450.702,213.333,447.88,213.333z"/>
        <path d="M255.88,512c-5.891,0-10.667-4.776-10.667-10.667V10.667C245.213,4.776,249.989,0,255.88,0
                 c5.891,0,10.667,4.776,10.667,10.667v490.667C266.546,507.224,261.771,512,255.88,512z"/>
      </svg>
    </a>
    {% endif %} 

    <style>
      #shopify-section-16195197305a3d2616.home-testimonial-block .dt-sc-testimonial-section .dt-sc-testimonial.style_3 .dt-sc-testimonial-content:after {
        /* background-image:url("https://cdn.shopify.com/s/files/1/0597/9851/9962/files/Group_1430_3e204ae2-09e0-49fc-943a-737df7f61c41.png?v=1648123529") !important; */
        border:unset;
      }
      .dt-sc-testimonial-image {
        display: none;
      }
    </style>
    <script>
    	 $(document).ready(function(){
			$(".ql-block.returns").prepend('<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 15.207 10.854" viewBox="0 0 15.207 10.854"><path d="M11.707,0h-4v1h4c1.378,0,2.5,1.122,2.5,2.5S13.085,6,11.707,6H1.914l3.146-3.146L4.354,2.146L0,6.5l4.354,4.354  l0.707-0.707L1.914,7h9.793c1.93,0,3.5-1.57,3.5-3.5S13.637,0,11.707,0z"/></svg>')
     		$(".ql-block.shippngtimes").prepend('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve"><g transform="translate(128 128) scale(0.72 0.72)" style=""><g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" ><path d="M 65.745 63.947 H 40.269 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 23.477 V 25.292 c 0 -0.926 -0.753 -1.679 -1.679 -1.679 H 13.093 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 48.973 c 3.131 0 5.679 2.548 5.679 5.679 v 36.655 C 67.745 63.052 66.85 63.947 65.745 63.947 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 27.389 63.947 H 13.093 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 14.295 c 1.104 0 2 0.896 2 2 S 28.493 63.947 27.389 63.947 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 83.897 63.947 H 82.74 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 1.157 c 1.159 0 2.103 -0.943 2.103 -2.103 V 39.502 c 0 -2.155 -0.967 -4.16 -2.653 -5.501 l -5.252 -4.177 c -1.238 -0.986 -2.792 -1.528 -4.375 -1.528 h -5.975 v 31.651 h 2.115 c 1.104 0 2 0.896 2 2 s -0.896 2 -2 2 h -4.115 c -1.104 0 -2 -0.896 -2 -2 V 26.296 c 0 -1.104 0.896 -2 2 -2 h 7.975 c 2.483 0 4.922 0.852 6.865 2.398 l 5.252 4.176 C 88.482 32.976 90 36.122 90 39.502 v 18.342 C 90 61.21 87.263 63.947 83.897 63.947 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 88 46.343 H 75.345 c -2.413 0 -4.376 -1.962 -4.376 -4.375 V 26.296 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 v 15.671 c 0 0.207 0.169 0.375 0.376 0.375 H 88 c 1.104 0 2 0.896 2 2 S 89.104 46.343 88 46.343 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 33.829 70.387 c -4.654 0 -8.44 -3.786 -8.44 -8.439 c 0 -4.654 3.786 -8.44 8.44 -8.44 s 8.44 3.786 8.44 8.44 C 42.269 66.601 38.482 70.387 33.829 70.387 z M 33.829 57.507 c -2.448 0 -4.44 1.992 -4.44 4.44 s 1.992 4.439 4.44 4.439 s 4.44 -1.991 4.44 -4.439 S 36.277 57.507 33.829 57.507 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 76.301 70.387 c -4.654 0 -8.44 -3.786 -8.44 -8.439 c 0 -4.654 3.786 -8.44 8.44 -8.44 c 4.653 0 8.439 3.786 8.439 8.44 C 84.74 66.601 80.954 70.387 76.301 70.387 z M 76.301 57.507 c -2.448 0 -4.44 1.992 -4.44 4.44 s 1.992 4.439 4.44 4.439 s 4.439 -1.991 4.439 -4.439 S 78.749 57.507 76.301 57.507 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 65.745 51.788 H 33.829 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 31.917 c 1.104 0 2 0.896 2 2 S 66.85 51.788 65.745 51.788 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 88 51.788 h -8.641 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 H 88 c 1.104 0 2 0.896 2 2 S 89.104 51.788 88 51.788 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><circle cx="33.834" cy="61.944" r="1.634" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/><circle cx="76.304" cy="61.944" r="1.634" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/><path d="M 83.897 63.947 H 82.74 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 1.157 c 1.159 0 2.103 -0.943 2.103 -2.103 V 39.502 c 0 -2.155 -0.967 -4.16 -2.653 -5.501 l -5.252 -4.177 c -1.238 -0.986 -2.792 -1.528 -4.375 -1.528 h -5.975 v 31.651 h 2.115 c 1.104 0 2 0.896 2 2 s -0.896 2 -2 2 h -4.115 c -1.104 0 -2 -0.896 -2 -2 V 26.296 c 0 -1.104 0.896 -2 2 -2 h 7.975 c 2.483 0 4.922 0.852 6.865 2.398 l 5.252 4.176 C 88.482 32.976 90 36.122 90 39.502 v 18.342 C 90 61.21 87.263 63.947 83.897 63.947 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 24.021 51.788 H 2.165 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 21.856 c 1.104 0 2 0.896 2 2 S 25.125 51.788 24.021 51.788 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 45.165 36.186 H 2 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 43.165 c 1.104 0 2 0.896 2 2 S 46.27 36.186 45.165 36.186 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path d="M 65.745 36.186 H 55.228 c -1.104 0 -2 -0.896 -2 -2 s 0.896 -2 2 -2 h 10.518 c 1.104 0 2 0.896 2 2 S 66.85 36.186 65.745 36.186 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none;stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /></g></g></svg>')
        	$(".ql-block.imports").prepend('<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 127.03" style="enable-background:new 0 0 122.88 127.03" xml:space="preserve"><g><path d="M117.28,117.64l-2.32-2.67l-11,11l-0.01-0.01c-1.23,1.23-3.23,1.25-4.48,0.03l-11.21-10.9l-10.98,10.55 c-1.2,1.24-3.17,1.3-4.46,0.12L61.18,115L50.6,125.89c-0.06,0.07-0.12,0.13-0.19,0.21c-1.25,1.25-3.28,1.25-4.52,0L34.8,115 l-11.43,10.9l0,0c-1.25,1.19-3.24,1.17-4.46-0.06L8.03,114.85l-2.26,2.61c-0.58,0.79-1.52,1.29-2.57,1.29 c-1.77,0-3.19-1.44-3.19-3.19V3.19C0,1.43,1.43,0,3.19,0h116.49c1.77,0,3.19,1.43,3.19,3.19v112.35h-0.01 c0,0.89-0.37,1.78-1.11,2.41C120.44,119.12,118.42,118.97,117.28,117.64L117.28,117.64L117.28,117.64z M19.28,18.31H45.2v6.82h-8.7 v20.76h-8.51V25.13h-8.7V18.31L19.28,18.31z M63.38,41.34h-9.65l-1.39,4.54h-8.7l10.38-27.58h9.33l10.33,27.58h-8.92L63.38,41.34 L63.38,41.34z M61.57,35.37l-3.01-9.91l-3.02,9.91H61.57L61.57,35.37z M74.48,18.31h9.4l4.88,8.49l4.74-8.49h9.28l-8.57,13.36 l9.38,14.22h-9.59l-5.41-8.86l-5.45,8.86h-9.51l9.51-14.37L74.48,18.31L74.48,18.31z M91.22,88.04c1.3,0,2.36,1.05,2.36,2.36 c0,1.3-1.05,2.36-2.36,2.36H24.37c-1.3,0-2.36-1.05-2.36-2.36c0-1.3,1.05-2.36,2.36-2.36H91.22L91.22,88.04L91.22,88.04z M104.58,72.35c1.3,0,2.36,1.05,2.36,2.36c0,1.3-1.05,2.36-2.36,2.36H23.7c-1.3,0-2.36-1.05-2.36-2.36c0-1.3,1.05-2.36,2.36-2.36 H104.58L104.58,72.35L104.58,72.35z M104.7,56.64c1.3,0,2.36,1.05,2.36,2.36c0,1.3-1.06,2.36-2.36,2.36H23.7 c-1.3,0-2.36-1.05-2.36-2.36c0-1.3,1.05-2.36,2.36-2.36H104.7L104.7,56.64L104.7,56.64z M116.49,6.4H6.4v100.95 c1.13-0.59,2.54-0.47,3.57,0.41c0.06,0.05,0.12,0.1,0.18,0.17l0,0l11.09,11.21l11.42-10.88c1.26-1.2,3.24-1.17,4.46,0.05l0.01-0.01 l11,11l10.65-10.97c1.21-1.24,3.18-1.29,4.45-0.12l0,0l11.73,10.84l11.13-10.67c1.25-1.2,3.24-1.18,4.46,0.03l11.14,10.82 l11.2-11.2c0.96-0.98,2.43-1.19,3.62-0.63V6.4L116.49,6.4z"/></g></svg>')
        	$(".ql-block.mail").prepend('<svg id="Layer_1" data-name="Layer 1" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 85.57"><title>mail</title><path d="M3.8,0,62.48,47.85,118.65,0ZM0,80.52,41.8,38.61,0,4.53v76ZM46.41,42.37,3.31,85.57h115.9L78,42.37,64.44,53.94h0a3,3,0,0,1-3.78.05L46.41,42.37Zm36.12-3.84,40.35,42.33V4.16L82.53,38.53Z"/></svg>')
        	$(".ql-block.stolen").prepend('<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 121.52" style="enable-background:new 0 0 122.88 121.52" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M28.84,26.32l0.13,8.96h2.18c0.13,19.75,7.17,33.26,16.37,39.74c3.92,2.76,8.23,4.25,12.59,4.42 c4.37,0.17,8.76-0.98,12.83-3.51c9.43-5.86,17.13-19.18,18.54-40.65h2.55V25.8l-1.94,0.52c-6.42-35.34-53.67-34.86-60.49,0H28.84 L28.84,26.32z M38.27,76.85c-0.74,2.19,23.17,22.34,44.82,0c6.36,5.72,21.14,6.87,28.15,10.78c2.21,1.23,4.22,2.81,5.83,4.93 c4.44,5.86,4.73,15.38,5.81,22.67c-0.36,3.78-2.5,5.96-6.73,6.29H61.9H6.73c-4.23-0.32-6.37-2.5-6.73-6.29 c1.08-7.29,1.38-16.81,5.81-22.67c1.61-2.13,3.61-3.7,5.83-4.93C18.65,83.73,31.91,82.58,38.27,76.85L38.27,76.85z M33.46,36.68 L60.4,39.5h2.16l26.53-2.87c0.04-0.45,0.07-0.89,0.1-1.35H33.44C33.44,35.76,33.45,36.22,33.46,36.68L33.46,36.68z M88.04,44.91 c-8.6,8.83-17.74,9.08-26.6-0.92c-9.63,9.96-18.96,10.66-27.49-0.37c0.46,3.82,1.2,7.33,2.19,10.53c2.33,0.71,4.13,9.95,11.55,5.6 c8.74-2.7,17.72-2.75,26.96,0c6.58,3.9,8.25-2.94,10.45-3.83C86.31,52.65,87.31,48.98,88.04,44.91L88.04,44.91z M69.72,46.19 c-1.05-0.89-1.95-2.02-2.71-3.41l16.06-2.52c0.46-0.07,1.15-0.28,1.53,0.1c0.19,0.19,0.18,0.5-0.01,0.9 C81.7,47.14,75.52,51.11,69.72,46.19L69.72,46.19z M53.14,46.19c1.05-0.89,1.95-2.02,2.71-3.41l-16.06-2.52 c-0.46-0.07-1.15-0.28-1.53,0.1c-0.19,0.19-0.18,0.5,0.01,0.9C41.16,47.14,47.34,51.11,53.14,46.19L53.14,46.19z M61.66,63.49 c5.38,0,9.73,1.69,9.73,3.77c0,2.08-4.36,3.77-9.73,3.77c-5.38,0-9.73-1.69-9.73-3.77C51.93,65.18,56.29,63.49,61.66,63.49 L61.66,63.49z"/></g></svg>')
         })
    </script>
  {% include 'MonsterUpsell-shopify-prod-body' %}</body>
</html>