{% if section.settings.enable %}
{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}

{% case section.settings.background_style %}
{% when 'default' %}
{% when 'parallax' %}
{%- assign background_style = 'data-speed="2"' %}
{% when 'fixed' %}
{%- assign background_style = 'data-speed="1"' %}
{% endcase %}
{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}
<div class="dt-sc-section-wrapper {{lazyScript}} {{section_overlay}} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" style="{% render 'bg-color-image-padding' %}" data-style="parallax" {{background_style}} {% include 'bg_image' %}>  
  <div class="{% render 'container-settings' %}"> 
    <div class="row">
      {% render 'section-heading', class: section.id %}   
      <div class="dt-sc-image-section dt-sc-column">
        {% if section.blocks.size > 0 %}    
        {% for block in section.blocks %}    
        <div class="dt-sc-image-section-wrapper {% if block.settings.reverse_column %}dt-sc-reverse-columns{% endif %}">
          {% if block.settings.image != blank %}
          <div class="dt-sc-image">          
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                   src="{{ 'loading.gif' | asset_url }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                   data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                   data-sizes="auto"            
                   alt="{{ block.settings.block_image.alt | escape }}">            
              <noscript>
                {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt, 'dt-sc-noscript-image' }}
              </noscript>
          </div>
          {% endif %}
          <div class="dt-sc-image-section-content">
            {% if block.settings.font_icon != blank  %} 
            <span class="content-icon"><i class="{{block.settings.font_icon}}"></i> </span>     
            {% endif %}
            {% if block.settings.sub_title != blank %}
            <h4 class="dt-sc-sub-title">{{block.settings.sub_title}}</h4>
            {% endif %}
            {% if block.settings.title != blank %}
            <h2 class="dt-sc-main-title">{{block.settings.title}}</h2>
            {% endif %}  
            {% if block.settings.text != blank %}
            <p class="dt-sc-description">{{block.settings.text}}</p>
            {% endif %}
            {% if block.settings.button_link != blank  and block.settings.button_text != blank %}
            <a href="{{block.settings.button_link}}" class="dt-sc-btn">{{block.settings.button_text}}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% endif %}   
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-overlay:before
  {      
    color: var(--DTPrimaryColor); 
    color: {{ section.settings.background_color }};    
    background: currentcolor; 
    opacity: {{ section.settings.overlay_transparency }};
  }  
  
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Body); color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Body); color:{{ section.settings.section_sub_heading_color }}; } 
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body); color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color); 
      background:{{ section.settings.section_button_bg_color }}; color: var(--DT_Button_Text_Color); color:{{ section.settings.section_button_text_color }}; }
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-heading .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); background:{{ section.settings.section_button_hover_bg_color }}; 
      color: var(--DT_Button_Text_Hover_Color); color:{{ section.settings.section_button_hover_text_color }}; }
  
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-gap: 0;
    align-self: normal;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    padding: 0;
    gap: 0;    
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper:not(:last-child) { margin: 0 0 70px 0; }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image {    
    height: 100%;
    float: left;
    position: relative;
    padding: 0 30px 30px 0;
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image:before,
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image:after {
    content: "";
    position: absolute;
    margin: auto;
    right: 0;
    left: 30px;
    top: 30px;
    bottom: 0;
    z-index: -1;
    transition: var(--DTBaseTransition);
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper:hover .dt-sc-image:after {
    opacity: 1;
    visibility: visible;
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image:after {
    background-image: url('{{ section.settings.block_bg_image | img_url: 'master' }}');
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image:after {    
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    opacity: 0;
    visibility: hidden;    
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image,
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content { width: 50%; }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;    
    padding: 0 0 0 130px;  
  }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .content-icon {
  font-size: 42px; margin-bottom: 15px; display: inline-block; }


  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-main-title {
  position: relative; text-transform: inherit; margin: 0 0 30px; }
  
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-sub-title {
  text-transform: uppercase; margin: 0 0 25px 0; padding: 0 35px; position: relative; display: inline-block; }
  
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content
  .dt-sc-description:not(:last-child) { margin: 0 0 40px 0; }
  
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-sub-title:before,
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-sub-title:after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    pointer-events: none;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    mask-size: cover;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: #bde5d9;
    width: 24px;
    height: 26px;
}
  
#shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-sub-title:before { left:0; -webkit-mask-image:url('{{ settings.heading_left_image | img_url: 'master' }}'); }
#shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-sub-title:after { right:0; -webkit-mask-image:url('{{ settings.heading_right_image | img_url: 'master' }}'); }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content *:last-child { margin: 0; }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns { flex-direction: row-reverse; }
         
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns .dt-sc-image-section-content { align-items: flex-end; text-align: right; padding: 0 130px 0 0; }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns .dt-sc-image { padding: 0 0 30px 30px; }

  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns .dt-sc-image:before,
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns .dt-sc-image:after { left: 0; right: 30px; }
  
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image:before { 
    background: var(--DTPrimaryColor); background-color:{{ section.settings.block_bg }};}
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-main-title {
     color:{{ section.settings.block_heading_color }};}
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-sub-title {
    color:{{ section.settings.section_sub_heading_color }};}
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .dt-sc-description  {
     color:{{ section.settings.block_description_color }};}
  #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content .content-icon i {
     color:{{ section.settings.block_icon_color }}; }  
  
  
  /* Responsive */
  
  @media (max-width:1199px) {

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image,
    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content { width: 100%; flex: 1; }

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper,
    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns { flex-direction: column; }

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content { padding: 50px 0 0; }

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns .dt-sc-image-section-content { padding: 50px 0 0; }

  }

  @media (max-width: 767px) {

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image,
    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content { width: 100%; flex: 1; }

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper,
    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns { flex-direction: column; }

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper .dt-sc-image-section-content { padding: 50px 0 0; }

    #shopify-section-{{section.id}}.about-content-with-image-section .dt-sc-image-section .dt-sc-image-section-wrapper.dt-sc-reverse-columns .dt-sc-image-section-content { padding: 50px 0 0; }

  }
  
</style>
{% endif %}

{% schema %}
{
"name": "Image section",
"class": "about-content-with-image-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Show this section",
"default": true
},
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background image",
"info": "Size: 1920x1280"
},
{
"type": "checkbox",
"id": "show_background_image",
"label": "Enable Background image"
},
{
"type": "select",
"id": "background_style",
"label": "Background Style",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "parallax",
"label": "Parallax"
},
{
"value": "fixed",
"label": "Fixed"
}
]
},
{
"type": "checkbox",
"id": "enable_overlay",
"label": "Enable Background Color (Used as Background Image Overlay Color too)"
},
{
"type": "color",
"id": "background_color",
"label":"Background color"
},
{
"type": "text",
"id": "overlay_transparency",
"label": "Overlay Transparency (0.01 to 1)",
"default": "0.5"
},
{
"type": "text",
"id": "section_heading",
"label": "Main Heading",
"default": "List with image section 2"
},  
{
"type": "text",
"id": "section_sub_heading",
"label": "Sub Heading",
"default": "Sub Heading"
},  
{
"type": "text",
"id": "section_description",
"label": "Description",
"default": "Use this text to share the information which you like!."
},  
{
"type": "text",
"id": "section_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "section_button_link",
"label": "Link URL"
},
{
"type": "header",
"content": "Section Color settings"
},
{
"type": "color",
"id": "section_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "section_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "section_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "section_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "section_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "section_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "section_button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
]
},
{
"type": "header",
"content": "Block Settings"
},
{
"type": "header",
"content": "Block Color settings"
},
{
"type": "image_picker",
"id": "block_bg_image",
"label": "Background image",
"info": "Size: 900x750"
},
{
"type": "color",
"id": "block_bg",
"label": "Background Color"
},
{
"type": "color",
"id": "block_heading_color",
"label": "Heading Color"
},
{
"type": "color",
"id": "block_description_color",
"label": "Description Color"
},
{
"type": "color",
"id": "block_icon_color",
"label": "Icon Color"
}
],
"blocks": [
{
"type": "content",
"name": "Content",        
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"          
},
{
"type": "text",
"id": "font_icon",
"label": "Icon class",
"default": "fa fa-lightbulb-o"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "text",
"id": "sub_title",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "textarea",
"id": "text",
"label": "Description",
"default": "Sed vestibulum nulla elementum auctor tincidunt. Aliquam sit amet cursus mauris. Sed vitae mattis ipsum. Vestibulum enim nulla, sollicitudin ac hendrerit nec, tempor quis nisl"
},
{
"type": "text",
"id": "button_text",
"label": "Link text"
},
{
"type": "url",
"id": "button_link",
"label": "Link URL"
},
{
"type": "color",
"id": "block_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "checkbox",
"id": "reverse_column",
"label": "Content reverse",
"default": false
}
]
}
]
}
{% endschema %}
