<div class="section__container">
  <div class="container">
    <div class="product-grid d-flex space-between">
      {% for block in section.blocks %}
        {% assign product = all_products[block.settings.product] %}
        <div class="product-card col-{{ section.settings.row_num }}">
          <div class="card_image">
            <a href="{{ product.url }}">
              <div class="image_wrapper">
                {% render 'rimage', image: product.featured_image %}
              </div>
              {% if product.images.size > 1 %}
                <div class="second_image hide--mobile">
                  {% render 'rimage', image: product.images[1] %}
                </div>
              {% endif %}
              <label class="btn btn--primary">Shop Now</label>
            </a>
          </div>
          <div class="card_info text-center">
            <div class="product_title"><a href="{{ product.url }}">{{ product.title }}</a></div>
            <div class="product_price">{{ product.price | money }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Product Grid",
  "class": "section-featured-product-grid",
  "settings": [
    {
      "type": "range",
      "min": 2,
      "max": 4,
      "default": 2,
      "id": "row_num",
      "label": "Products per row"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product grid"
    }
  ]
}
{% endschema %}