{% case section.settings.background_style %}
{% when 'default' %}
{% when 'parallax' %}
{%- assign background_style = 'data-speed="2"' %}
{% when 'fixed' %}
{%- assign background_style = 'data-speed="1"' %}
{% endcase %} 

{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}

{% case section.settings.grid %}
{% when '1' %}
{%- assign column = 'one-column' -%}
{% when '2' %}
{%- assign column = 'two-column' -%}
{% when '3' %}
{%- assign column = 'three-column' -%}              
{% when '4' %}
{%- assign column = 'four-column' -%}              
{% when '5' %}
{%- assign column = 'five-column' -%}   
{% when '6' %}
{%- assign column = 'six-column' -%}   
{% else %}
{%- assign column = 'three-column' -%}              
{% endcase %} 
{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}
<div data-section-id="{{ section.id }}" data-section-type="category-block-section" data-item-per-view="{{ section.settings.items_per_view }}"   data-autoplay="{{section.settings.slider_autoplay}}"  data-small-screen-items="1" data-blocks-limit="{{section.blocks.size}}" data-item-space="{{section.settings.column_gap}}" data-auto-height="{{section.settings.enable_auto_height}}">
  <div class="dt-sc-section-wrapper {{lazyScript}} {{section_overlay}} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" style="{% render 'bg-color-image-padding' %}" data-style="parallax" {{background_style}} {% include 'bg_image' %}>  
    <div class="{% render 'container-settings' %}"> 
    <div class="row {{ section.settings.custom_class_name }}"> 
      {% render 'section-heading', class: section.id %} 
      {% if section.blocks.size > 0 %}        
      <div class="dt-sc-category-block-section {{section.settings.block_style}} dt-sc-column {{column}}">
        {% for block in section.blocks %}  
        {% if block.settings.image != blank %}
        <div class="dt-sc-category-block  {{block.type}}-{{block.id}}">
          <a href="{{block.settings.link}}">            
            <img class="dt-sc-brand-image lazyload"
             src="{{ 'loading.gif' | asset_url }}"
             data-src="{{ block.settings.image | img_url: 'master' }}"
             data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
             data-aspectratio="{{ block.settings.image.aspect_ratio }}"
             data-sizes="auto"            
             data-alt="{{ block.settings.title }}">
            <noscript>
           {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.block_image.alt, 'dt-sc-noscript-image' }}
        </noscript>
          </a>
          {% if block.settings.title != blank %}
          <h5> {{block.settings.title }}</h5>
          {% endif %}
        </div>
        {% else %}
        <div class="dt-sc-category-block {{block.type}}-{{block.id}}">
          <a href="{{block.settings.link}}">
            {{ 'image' | placeholder_svg_tag }}
          </a>
        </div>
        {% endif %}        
        {% endfor %}
      </div>      
      {% endif %}
    </div>
    </div>
  </div>
</div>
<style>
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Body); color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.home-category-block .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Body); color:{{ section.settings.section_sub_heading_color }}; } 
  #shopify-section-{{section.id}}.home-category-block .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body); color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.home-category-block .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color); background:{{ section.settings.section_button_bg_color }}; 
    color: var(--DT_Button_Text_Color); color:{{ section.settings.section_button_text_color }}; 
  }
  #shopify-section-{{section.id}}.home-category-block .dt-sc-heading .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); background:{{ section.settings.section_button_hover_bg_color }}; 
    color: var(--DT_Button_Text_Hover_Color); color:{{ section.settings.section_button_hover_text_color }}; 
  }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-overlay:before  { 
    color: var(--DTTertiaryColor); 
      color: {{ section.settings.background_color }};    
      background: currentcolor; 
      opacity: {{ section.settings.overlay_transparency }}; }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section { gap: {{ section.settings.column_gap}}px; }
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section .dt-sc-category-block { 
    padding: 0 20px;
    background: var(--DTBodyBGColor);
    background: {{ section.settings.block_background_color }}; }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-1 .dt-sc-category-block,
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2,
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-3 .dt-sc-category-block { 
    {% if section.settings.enable_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %} 
      border-radius: var(--DTRadius); border-radius: {{ section.settings.border_radius }}px; 
        }

  
  @media (min-width: 768px) {
    
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 .dt-sc-category-block:last-child { 
      border-radius: 0 0 {{ section.settings.border_radius }}px 0; }

    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.one-column .dt-sc-category-block:first-child,
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.two-column .dt-sc-category-block:nth-child(2):last-child,
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.three-column .dt-sc-category-block:nth-child(3):last-child,
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.four-column .dt-sc-category-block:nth-child(4):last-child,
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.five-column .dt-sc-category-block:nth-child(5):last-child,
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.six-column .dt-sc-category-block:nth-child(6):last-child { 
      border-radius: 0 {{ section.settings.border_radius }}px {{ section.settings.border_radius }}px 0;
    }

    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.one-column .dt-sc-category-block:first-child,
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.two-column .dt-sc-category-block:nth-child(2):not(:last-child),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.three-column .dt-sc-category-block:nth-child(3):not(:last-child),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.four-column .dt-sc-category-block:nth-child(4):not(:last-child),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.five-column .dt-sc-category-block:nth-child(5):not(:last-child),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.six-column .dt-sc-category-block:nth-child(6):not(:last-child) { 
      border-radius: 0 {{ section.settings.border_radius }}px 0 0; 
    }

    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.one-column .dt-sc-category-block:last-child { 
      border-radius: 0 0 {{ section.settings.border_radius }}px {{ section.settings.border_radius }}px; 
    }

    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.one-column .dt-sc-category-block:only-child { 
      border-radius: 0 {{ section.settings.border_radius }}px {{ section.settings.border_radius }}px {{ section.settings.border_radius }}px; 
    } 

    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.two-column .dt-sc-category-block:nth-last-child(2),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.three-column .dt-sc-category-block:nth-last-child(3),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.four-column .dt-sc-category-block:nth-last-child(4),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.five-column .dt-sc-category-block:nth-last-child(5),
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2.dt-sc-column.six-column .dt-sc-category-block:nth-last-child(6) { 
      border-radius: 0 0 0 {{ section.settings.border_radius }}px; 
    } 
    
  }
  
  @media (max-width: 767px) {
    
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 .dt-sc-category-block { 
      border-radius: {{ section.settings.border_radius }}px; margin-bottom: {{ section.settings.column_gap}}px; }
    
  }
  
  {% for block in section.blocks %} 
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section .dt-sc-category-block.{{block.type}}-{{block.id}} { 
    background: var(--DTBodyBGColor); background: {{ section.settings.block_background_color }}; }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-1 .dt-sc-category-block.{{block.type}}-{{block.id}} { 
    border-width: 1px; border-style: solid;
    border-color: var(--DTColor_Border);
    border-color: {{ section.settings.block_border_color }};
  }  
    
  #shopify-section-{{section.id}}.home-category-block .swiper-container .dt-sc-category-block-section.style-2 { padding: 0; margin: auto; 
    border-bottom-width: 1px; border-bottom-style: solid;
    border-color: var(--DTColor_Border);
    border-color: {{ section.settings.block_border_color }};
  }
  #shopify-section-{{section.id}}.home-category-block .swiper-container .dt-sc-category-block-section.style-2 .dt-sc-category-block.{{block.type}}-{{block.id}} { border-bottom: none; }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 { 
    
    border-left-width: 1px; border-left-style: solid;
    border-top-width: 1px; border-top-style: solid;
    
    border-color: var(--DTColor_Border);
    border-color: {{ section.settings.block_border_color }};
     grid-gap: 0; background: var(--DTBodyBGColor); background: {{ section.settings.block_background_color }}; width: 100%; }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 .dt-sc-category-block.{{block.type}}-{{block.id}} {  
    border-right-width: 1px; border-right-style: solid;
    border-bottom-width: 1px; border-bottom-style: solid;    
    border-color: var(--DTColor_Border);
    border-color: {{ section.settings.block_border_color }};
    padding: 20px; background: none; }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-3 .dt-sc-category-block.{{block.type}}-{{block.id}} { 
    border-width: 1px;
    border-style: solid;
    border-color: var(--DTColor_Border);
    border-color: {{ section.settings.block_border_color }};
      padding: 20px;
  }
  
  @media (max-width: 767px) {
    
    
    
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2,
    #shopify-section-{{section.id}}.home-category-block .swiper-container .dt-sc-category-block-section.style-2 { border: none; }
    
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 .dt-sc-category-block.{{block.type}}-{{block.id}}.swiper-slide { margin-bottom: 0; }
    
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 .dt-sc-category-block.{{block.type}}-{{block.id}},
    #shopify-section-{{section.id}}.home-category-block .swiper-container .dt-sc-category-block-section.style-2 .dt-sc-category-block.{{block.type}}-{{block.id}} { 
      border-width: 1px;
    border-style: solid;
    border-color: var(--DTColor_Border);
    border-color: {{ section.settings.block_border_color }};
    }
    
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 { 
      
      background: none; 
    
    }
    
    #shopify-section-{{section.id}}.home-category-block .dt-sc-category-block-section.style-2 .dt-sc-category-block.{{block.type}}-{{block.id}} { 
    
      background: var(--DTBodyBGColor); background: {{ section.settings.block_background_color }};
        
        }
    
  }
  
  {% endfor %}  
  
  .dt-sc-category-block-section .dt-sc-category-block a svg { min-width: 150px; height: auto; }
  .dt-sc-category-block-section *, .dt-sc-category-block-section .dt-sc-category-block *:not(:only-child) { margin: 0; }
  .dt-sc-category-block-section .dt-sc-category-block *:not(:only-child):not(:last-child) { margin: 5px 0; }
  .dt-sc-category-block-section .dt-sc-category-block { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; flex-direction: column; text-align: center; }
  
  .dt-sc-category-block-section.style-2 { overflow: hidden; }
  .dt-sc-category-block-section.style-2 .dt-sc-category-block>* { display: inline-block; width: 100%; }
  
  .dt-sc-swiper-slider.swiper-container .dt-sc-category-block-section .dt-sc-category-block img { width: auto; }
  
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn { 
    background: var(--DT_Button_BG_Color);  
      background: {{ section.settings.navigation_button_color }};  
  }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn[class*="swiper-button-"]:after {   
    color: var(--DT_Button_Text_Color);
      color: {{ section.settings.navigation_button_icon_color }};
 }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); 
      background: {{ section.settings.navigation_button_hover_color }}; 
  }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover[class*="swiper-button-"]:after { 
    color: var(--DT_Button_Text_Hover_Color);
      color: {{ section.settings.navigation_button_hover_icon_color }};
  }
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet { 
    background: var(--DTSecondaryColor);  
      background: {{ section.settings.navigation_dot_color }};  
  }  
  
  #shopify-section-{{section.id}}.home-category-block .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: var(--DTPrimaryColor);  
      background: {{ section.settings.navigation_dot_active_color }};  
  }
  
</style>
{% schema %}
{
"name": "Category Block",
"class": "index-section home-category-block",
"settings": [
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "checkbox",
"id": "show_background_image",
"label": "Enable Background image"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background image",
"info": "Size: 1920x1280"
},
{
"type": "select",
"id": "background_style",
"label": "Background Style",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "parallax",
"label": "Parallax"
},
{
"value": "fixed",
"label": "Fixed"
}
]
},
{
"type": "checkbox",
"id": "enable_overlay",
"label": "Enable Background Color (Used as Background Image Overlay Color too)"
},
{
"type": "color",
"id": "background_color",
"label":"Background color"
},
{
"type": "text",
"id": "overlay_transparency",
"label": "Overlay Transparency (0.01 to 1)",
"default": "0.5"
},
{
"type": "text",
"id": "section_heading",
"label": "Main Heading",
"default": "Category block"
},  
{
"type": "text",
"id": "section_sub_heading",
"label": "Sub Heading",
"default": "Sub Heading"
},  
{
"type": "text",
"id": "section_description",
"label": "Description",
"default": "Use this text to share the information which you like!."
},  
{
"type": "text",
"id": "section_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "section_button_link",
"label": "Link URL"
},
{
"type": "header",
"content": "Section Color settings"
},
{
"type": "color",
"id": "section_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "section_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "section_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "section_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "section_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "section_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "section_button_hover_text_color",
"label": "Button hover text color"
}, 
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
]
},
{
"type": "header",
"content": "Block Settings"
},
{
"type": "select",
"id": "grid",
"label": "Items per row",
"default": "3",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
}
]
},
{
"type": "select",
"id": "block_style",
"label": "Block Style",
"options": [
{
"value": "style-1",
"label": "Style 1"
},
{
"value": "style-2",
"label": "Style 2"
},
{
"value": "style-3",
"label": "Style 3"
}
]
},
{
"type": "checkbox",
"id": "enable_box_shadow",
"label": "Enable Box Shadow",
"default": false
},
{
"type": "text",
"id": "column_gap",
"label": "Column Gap",
"default":"30",
"info": "Units not needed"
},
{
"type": "text",
"id": "border_radius",
"label": "Border Radius (Leave empty for Theme Default Border Radius)",
"default":"0",
"info": "Units not needed"
},
{
"type": "color",
"id": "block_border_color",
"label":"Block Border color"
},
{
"type": "color",
"id": "block_background_color",
"label":"Block Background color"
},
{
"type": "header",
"content": "Custom class"
},
{
"type": "text",
"id": "custom_class_name",
"label": "Add your custom class name here"
}
],
"blocks": [
{
"type": "Image",
"name": "brands",
"settings": [ 
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "Size: 650x760"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Category" 
},
{
"type": "url",
"id": "link",
"label": "Link"          
}
]
}
],
"presets": [
{
"name": "Category block",
"category": "Collection",
"blocks": [
{
"type": "Image"
},
{
"type": "Image"
},
{
"type": "Image"
}
]
}
]
}
{% endschema %}
