{% if section.blocks.size > 0 %}   
{% assign ColumnWidth = section.settings.content_width | split: '/' %}
{% assign leftColumn = ColumnWidth[0] %}
{% assign rightColumn = ColumnWidth[1] %} 

{% assign listWidth = section.settings.lap_content_width | split: '/' %}
{% assign lap_leftColumn = listWidth[0] %}
{% assign lap_rightColumn = listWidth[1] %}
{% endif %}


{% if section.blocks.size > 0 %}
{% case section.settings.grid %}
{% when '1' %}
{% when '2' %}
{%- assign column = 'two-column' -%}
{% when '3' %}
{%- assign column = 'three-column' -%}              
{% when '4' %}
{%- assign column = 'four-column' -%}              
{% when '5' %}
{%- assign column = 'five-column' -%}
{% when '6' %}
{%- assign column = 'six-column' -%}
{% else %}
{%- assign column = 'three-column' -%}
{% endcase %} 
{% endif %}

{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}

{% if block.settings.banner_image_overlay_style == 'with-overlay' %}
{% assign with-overlay = 'with-overlay' %}    
{% elsif block.settings.banner_image_overlay_style == 'with-overlay-gradient-overlay' %}
{% assign with-overlay-gradient-overlay = 'with-overlay-gradient-overlay' %}
{% endif %}

{% case section.settings.background_style %}
{% when 'default' %}
{% when 'parallax' %}
{%- assign background_style = 'data-speed="2"' %}
{% when 'fixed' %}
{%- assign background_style = 'data-speed="1"' %}
{% endcase %} 
{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}
<div class="dt-sc-section-wrapper {{lazyScript}} {{section_overlay}} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" style="{% render 'bg-color-image-padding' %}" data-style="parallax" {{background_style}} {% include 'bg_image' %}>  
  <div class="{% render 'container-settings' %}"> 
    <div class="row {{ section.settings.custom_class_name }}">
      {% render 'section-heading', class: section.id %} 
      {% if section.blocks.size > 0 %} <div class="grouped-content{% if section.settings.reverse_column %} dt-sc-reverse-columns{% endif %}">{% endif %}
      {% if section.blocks.size > 0 %}  
      {% if section.settings.enable_additional_content != blank%}
      <div class="additional-block">
        {%- for block in section.blocks -%}       

        {% if block.settings.block_banner_style == 'grid' %}
        {% assign grid_style = 'grid-style' %}
        {% elsif block.settings.block_banner_style == 'overlay' %}
        {% assign overlay_style = 'overlay-style' %}
        {% endif %}

        {% case  block.type %}
        {% when 'menu' %}
        <div class="dt-sc-menu-section">
          {% assign blockMenu = linklists[block.settings.menu] %}
          {% if block.settings.block_title != blank %}
          <h3 class="additional-grid-title">{{block.settings.block_title}}</h3>
          {% endif %}
          <ul class="menu-links">
            {% for link in blockMenu.links %}
            <li {% if link.current %}class="active"{% endif %}><a href="{{ link.url}}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% when 'banner' %}
        <div class="dt-sc-grid-banner-section">
          <div class="dt-sc-grid-banner {{overlay_style}} {{block.type}}-{{block.id}}">      
            {% if block.settings.show_image %}
            <div class="dt-sc-grid-banner-image {{block.settings.banner_image_overlay_style}}">
              {% if block.settings.block_image != blank %}
              {%- assign img_url = section.settings.block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                    src="{{ 'loading.gif' | asset_url }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                   data-aspectratio="{{ block.settings.block_image.aspect_ratio }}"
                   data-sizes="auto"            
                   data-alt="{{ block.settings.block_title }}">
              <noscript>
                {{ block.settings.block_image | img_url: '480x480', scale: 2 | img_tag: block.settings.block_image.alt, 'dt-sc-noscript-image' }}
              </noscript>
              {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder_svg' }}
              {% endif%}  
              
            </div>
            {% endif%} 
            {% if block.settings.block_banner_style == 'grid' %}
            {% if block.settings.block_title != blank or block.settings.block_sub_title != blank or   block.settings.block_description != blank or block.settings.block_button_link != blank %}
            <div class="dt-sc-grid-banner-content {{block.settings.block_text_align}}">            
              {% if block.settings.block_title != blank %}
              <h4 class="dt-sc-main-title">{{block.settings.block_title}}</h4>
              {% endif %}
              {% if block.settings.block_sub_title != blank %}
              <h6 class="dt-sc-sub-title">{{block.settings.block_sub_title}}</h6>
              {% endif %}
              {% if block.settings.block_description != blank %}
              <p class="dt-sc-description">{{block.settings.block_description}}</p>
              {% endif %}
              {% if block.settings.block_button_link != blank %}
              <a href="{{block.settings.block_button_link}}" class="dt-sc-btn">{{block.settings.block_button_text}}</a>
              {% endif %}            
            </div>
            {% endif%} 
            {% endif %}     
            {% if block.settings.block_banner_style == 'overlay' %}
            {% if block.settings.block_title != blank or block.settings.block_sub_title != blank or   block.settings.block_description != blank or block.settings.block_button_link != blank %}
            <div class="dt-sc-grid-banner-content {{block.settings.content_position}}">            
              <div class="dt-sc-grid-banner-inner {{block.settings.block_text_align}}">
                {% if block.settings.block_title != blank %}
                <h4 class="dt-sc-main-title">{{block.settings.block_title}}</h4>
                {% endif %}
                {% if block.settings.block_sub_title != blank %}
                <h6 class="dt-sc-sub-title">{{block.settings.block_sub_title}}</h6>
                {% endif %}
                {% if block.settings.block_description != blank %}
                <p class="dt-sc-description">{{block.settings.block_description}}</p>
                {% endif %}
                {% if block.settings.block_button_link != blank %}
                <a href="{{block.settings.block_button_link}}" class="dt-sc-btn">{{block.settings.block_button_text}}</a>
                {% endif %} 
              </div>
            </div>
            {% endif %}     
            {% endif %} 
          </div>
        </div>
        {% when 'timer' %}
        <div class="dt-sc-grid-banner-section deals-section">
          <div class="dt-sc-grid-banner {{overlay_style}} {{block.type}}-{{block.id}}">      
            {% if block.settings.show_image %}
            <div class="dt-sc-grid-banner-image {{block.settings.banner_image_overlay_style}}">
              {% if block.settings.block_image != blank %}
              {%- assign timer_img_url = section.settings.block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                    src="{{ 'loading.gif' | asset_url }}"
                   data-src="{{ timer_img_url }}"
                   data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                   data-aspectratio="{{ block.settings.block_image.aspect_ratio }}"
                   data-sizes="auto"            
                   data-alt="{{ block.settings.block_title }}">
              <noscript>
                {{ block.settings.block_image | img_url: '480x480', scale: 2 | img_tag: block.settings.block_image.alt, 'dt-sc-noscript-image' }}
              </noscript>
              {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder_svg' }}
              {% endif%}             
            </div>
            {% endif%} 
            {% if block.settings.block_title != blank or block.settings.block_sub_title != blank or   block.settings.deal_end_date != blank or  block.settings.block_description != blank or block.settings.block_button_link != blank %}
            <div class="dt-sc-grid-banner-content {{block.settings.block_text_align}}">
              {% if block.settings.block_title != blank %}
              <h4 class="dt-sc-main-title">{{block.settings.block_title}}</h4>
              {% endif %}
              {% if block.settings.block_description != blank %}
              <p class="dt-sc-description">{{block.settings.block_description}}</p>
              {% endif %}
              <div class="deals-counter">
                {% if block.settings.block_sub_title != blank %}
                <h6 class="dt-sc-sub-title">{{block.settings.block_sub_title}}</h6>
                {% endif %}
                {% if block.settings.deal_end_date != blank %}
                <div class="deal-clock lof-clock-timer-detail4"></div>
                {% assign dealTime = block.settings.deal_end_date | replace: '_',' ' %}  
                <div class="deal-content"> 
                  <script>           
                    jQuery(document).ready(function($){
                      $(".lof-clock-timer-detail4").lofCountDown({      
                        TargetDate:"{{ dealTime }}",
                        DisplayFormat:"<ul class='list-inline'><li class='day'>%%D%%<span>{{ 'products.deal.days' | t }}</span></li><li class='hours'>%%H%%<span>{{ 'products.deal.hours' | t }}</span></li><li class='mins'>%%M%%<span>{{ 'products.deal.minutes' | t }}</span></li><li class='seconds'>%%S%%<span>{{ 'products.deal.seconds' | t }}</span></li></ul>",                  
                      });
                    });              
                  </script>
                </div>              
                {% endif %}
              </div>
              {% if block.settings.block_button_link != blank %}
              <a href="{{block.settings.block_button_link}}" class="dt-sc-btn">{{block.settings.block_button_text}}</a>
              {% endif %} 
            </div> 
            {% endif%} 
          </div>
        </div>

        {% when 'product' %}          
        <div class="dT_VProdWrapperOther">
          <ul>
            {%- assign product = all_products[block.settings.product] -%}       
            {% include 'product-grid-item', product: product, swiperSlideClass: 'carousel-block-item' %}         
          </ul>
        </div>
        {% when 'collection' %}          
        {% assign block_collection = collections[block.settings.collection] %}
        {% if block.settings.block_title != blank %}
        <h3 class="additional-grid-title">{{block.settings.block_title}}</h3>
        {% endif %}
        {% if block.settings.enable_slider %}
        <div data-section-id="blockCarousel" data-section-type="home-blockCarousel-section" data-item-per-view="{{block.settings.items_per_view}}"  data-autoplay="{{block.settings.slider_autoplay}}"  data-small-screen-items="1" data-blocks-limit="{{section.blocks.size}}" data-item-space="{{block.settings.collection_column_gap}}"  data-item-row="{{ block.settings.rows }}" data-auto-height="false">
          <div class="dt-sc-swiper-slider swiper-container {% if block.settings.dots %} {{ block.settings.carousel_pagination_alignment }} {% endif %} {% if block.settings.arrows %}  {{ block.settings.nav_arrow_position }} {{ block.settings.center_nav_arrow_alignment }} {% endif %}">
            <div id="swiper-blockCarousel-slider" class="dT_VProdWrapperOther">         
              <ul class="swiper-wrapper product-list-style">                          
                {% assign  swiperSlideClass = "swiper-slide" %}                 
                {% for product in block_collection.products limit: 9 %}                  
                {% include 'product-grid-item', product: product, swiperSlideClass: swiperSlideClass %} 
                {% endfor %}
              </ul>
              {% if block.settings.arrows %}                    
              <div class="swiper-blockCarousel-arrows swiper-arrows">
                <div id="swiper-blockCarousel-next" class="swiper-button-next dt-sc-btn"></div>
                <div id="swiper-blockCarousel-prev" class="swiper-button-prev dt-sc-btn"></div>
              </div>  
              {% endif  %} 
              {% if block.settings.dots %}
              <div id="swiper-blockCarousel-pagination" class="swiper-pagination"></div>
              {% endif %}
            </div>
          </div>

        </div> 
        {% else %}
        <div class="dT_VProdWrapperOther" data-section-id="home-tab-sidebar-collection" data-section-type="home-tab-sidebar-collection">
        <ul class="product-list-style">         
          {% assign  swiperSlideClass = "carousel-block-list" %}                
          {% for product in block_collection.products  limit: block.settings.limit %}                  
          {% include 'product-grid-item', product: product, swiperSlideClass: swiperSlideClass %} 
          {% endfor %}
        </ul>
        </div>
        {% endif %}
        {% endcase %}
        {%- endfor -%}                
      </div>      
      {% endif %} 
      {% endif %} 
      
      {% if section.settings.enable_main_content != blank%}
      <div class="main-block {{section.settings.tab_alignment}} {{section.settings.tab_style}}" {% if section.blocks.size > 0 %} {% endif %}>        
        {% for block in section.blocks %}       
        {% case  block.type %}
        {% when 'tab' %}       
        <div class="dt-sc-btn tablinks" onclick="openTab(event, 'dT_tab-{{forloop.index}}')">{{block.settings.block_title}}</div>       
        {% endcase %}
        {% endfor %}

        {% for block in section.blocks %}       
        {% case  block.type %}
        {% when 'tab' %}        

        {% if section.settings.enable_slider %}
        <div data-section-id="{{block.type}}{{ forloop.index }}" data-section-type="home-product-carousel-section" data-item-per-view="{{section.settings.items_per_view}}" data-autoplay="{{section.settings.slider_autoplay}}"  data-small-screen-items="2" data-blocks-limit="{{section.blocks.size}}" data-item-space="{{section.settings.column_gap}}"  data-item-row="{{ section.settings.rows }}" id="dT_tab-{{forloop.index}}" class="dt-sc-tabs-content"> 
          <div class="dt-sc-swiper-slider swiper-container {% if section.settings.dots %} {{ section.settings.carousel_pagination_bottom_alignment }} {{ section.settings.carousel_pagination_alignment }} {% endif %} {% if section.settings.arrows %}  {{ section.settings.nav_arrow_position }} {{ section.settings.center_nav_arrow_alignment }} {% endif %}">
            <div id="swiper-{{block.type}}{{ forloop.index }}-slider" class="dT_VProdWrapper">  
              <ul class="swiper-wrapper {% if section.settings.enable_list_view %}product-list-style{% endif %}">         
                {% for product in collections[block.settings.tab].products %}               
                {% include 'product-grid-item', product: product, swiperSlideClass: 'swiper-slide' %} 
                {% else %}
                {% for i in (1..4) %}
                {% include 'empty-row' %} 
                {% endfor %}
                {% endfor %}
              </ul>
            </div>  
            {% if section.settings.arrows %}                    
            <div class="swiper-{{block.type}}{{ forloop.index }}-arrows swiper-arrows">
              <div id="swiper-{{block.type}}{{ forloop.index }}-next" class="swiper-button-next dt-sc-btn"></div>
              <div id="swiper-{{block.type}}{{ forloop.index }}-prev" class="swiper-button-prev dt-sc-btn"></div>
            </div>  
            {% endif  %} 
            {% if section.settings.dots %}
            <div id="swiper-{{ block.type}}{{ forloop.index }}-pagination" class="swiper-pagination"></div>
            {% endif %}
          </div>
        </div>  
        <script type="text/javascript">          
          $('.tablinks').each(function() {
            $(this).on('click', function() {                          
              let thisSwiper = document.getElementById('swiper-{{block.type}}{{ forloop.index }}-slider');
			 thisSwiper.swiper.update();
            });
          });
        </script>

        {% else %}         
        <div class="dt-sc-tabs-content dT_VProdWrapper" id="dT_tab-{{forloop.index}}" data-section-id="home-tab-grid" data-section-type="home-tab-grid">         
          <ul class="grid product-collection   dt-sc-column {{column}} {% if section.settings.enable_list_view %}product-list-style{% endif %}">
            {% for product in collections[block.settings.tab].products limit: section.settings.post_limit  %}                  
            {% include 'product-grid-item', product: product, swiperSlideClass: 'regular-grid' %}
            {% else %}
            {% for i in (1..4) %}
            {% include 'empty-row' %} 
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% endcase %}
        {% endfor %}
      </div>
      {% endif %}
      
      {% if section.blocks.size > 0 %}</div>{% endif %}             
    </div>
  </div>
</div>

<script type="text/javascript"> 
  $(document).ready(function(){
  $('.dt-sc-tabs-content:first').css('display', 'block');   
  $('.tablinks:first').addClass('active');   
  });
function openTab(evt, TabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("dt-sc-tabs-content");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");    
  }
  document.getElementById(TabName).style.display = "block";
  evt.currentTarget.className += " active";  
}
</script>

<style>

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .additional-grid-title { margin-top: 0; }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content { display: flex; flex-wrap: wrap; justify-content: space-between; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block + .main-block .dt-sc-swiper-slider.swiper-container.center-navigation.outside_container {
    margin: auto;
  }   
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block .dt-sc-swiper-slider.swiper-container { padding-bottom: 30px; }


  #shopify-section-{{section.id}}.home-product-carousel .main-block { 
    background: {{ section.settings.main_block_background_color }}; 
    border-radius: var(--DTRadius); border-radius: {{ section.settings.main_block_border_radius }}px; 
      padding: {{ section.settings.main_content_padding }}px;
      {% if section.settings.enable_main_block_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %}
        }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block { background: var(--DTBodyBGColor); background: {{ section.settings.main_block_background_color }}; }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content { 
    background: {{ section.settings.grouped_content_bg }}; 
    border-radius: var(--DTRadius); border-radius: {{ section.settings.group_border_radius }}px; 
      {% if section.settings.enable_group_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %} 
        padding: {{ section.settings.grouped_content_padding }}px;
        }

  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Body);color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Body);color:{{ section.settings.section_sub_heading_color }}; } 
  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body);color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color);  background:{{ section.settings.section_button_bg_color }}; 
      color: var(--DT_Button_Text_Color); color:{{ section.settings.section_button_text_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-heading .dt-sc-btn:hover {
    background: var(--DT_Button_BG_Hover_Color); background:{{ section.settings.section_button_hover_bg_color }}; 
      color: var(--DT_Button_Text_Hover_Color); color:{{ section.settings.section_button_hover_text_color }}; }


  #shopify-section-{{section.id}}.home-product-carousel .product-grid-item .products { 
    border-radius: var(--DTRadius); border-radius: {{ section.settings.border_radius }}px; 
      {% if section.settings.enable_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %} 
        }

  #shopify-section-{{section.id}}.home-product-carousel .product-collection.dt-sc-column { gap: var(--DTGutter_Width); gap: {{ section.settings.column_gap }}px;
    margin-bottom: 0; }

  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-overlay:before  { 
    color: var(--DTTertiaryColor); 
      color: {{ section.settings.background_color }};    
      background: currentcolor; 
      opacity: {{ section.settings.overlay_transparency }};
      }

  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn { 
    background: var(--DT_Button_BG_Color);  
      background: {{ section.settings.navigation_button_color }};  
      }

  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn[class*="swiper-button-"]:after {   
    color: var(--DT_Button_Text_Color);
      color: {{ section.settings.navigation_button_icon_color }};
      }

  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); 
      background: {{ section.settings.navigation_button_hover_color }}; 
      }

  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover[class*="swiper-button-"]:after { 
    color: var(--DT_Button_Text_Hover_Color);
      color: {{ section.settings.navigation_button_hover_icon_color }};
      }

  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet { 
    background: var(--DTSecondaryColor);  
      background: {{ section.settings.navigation_dot_color }};  
      }  
  #shopify-section-{{section.id}}.home-product-carousel .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: var(--DTPrimaryColor);  
      background: {{ section.settings.navigation_dot_active_color }};  
      }

  {% for block in section.blocks %} 

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block { width: 100%; padding: {{ section.settings.additional_content_padding }}px;
    background: {{ section.settings.additional_block_background_color }}; border-radius: var(--DTRadius); 
      border-radius: {{ section.settings.additional_block_border_radius }}px; 
      {% if section.settings.additional_block_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %}
        overflow: visible;
        }


  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-menu-section .additional-grid-title { 
    color: var(--DTColor_Body); color:{{ block.settings.block_heading_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-menu-section ul.menu-links li a { 
    color: var(--DTLinkColor); color:{{ block.settings.block_link_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-menu-section ul.menu-links li a:hover { 
    color: var(--DTLinkHoverColor); color:{{ block.settings.block_link_hover_color }}; }


  /*   Banner */
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner { 
    background-color: var(--DTTertiaryColor); background-color:{{ block.settings.grid_banner_bg }}; } 
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner-content .dt-sc-main-title { 
    color: var(--DTColor_Body); color:{{ block.settings.grid_banner_heading_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner-content .dt-sc-sub-title { 
    color: var(--DTColor_Body); color:{{ block.settings.grid_banner_sub_heading_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner-content .dt-sc-description { 
    color: var(--DTColor_Body); color:{{ block.settings.grid_banner_description_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner-content .dt-sc-btn { 
    color:var(--DT_Button_Text_Color); background-color: var(--DT_Button_BG_Color); 
      color:{{ block.settings.grid_banner_button_text_color }}; background-color:{{ block.settings.grid_banner_button_bg_color }};}
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner-content .dt-sc-btn:hover {  
    color:var(--DT_Button_Text_Hover_Color); background-color: var(--DT_Button_BG_Hover_Color); 
      color:{{ block.settings.grid_banner_button_hover_text_color }}; background-color:{{ block.settings.grid_banner_button_hover_bg_color }}; 
      }  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner-content .dt-sc-grid-banner-inner { 
    background-color: var(--DTTertiaryColor); background-color: {{ block.settings.grid_banner_content_bg }};
      }

 #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner { 
    background: var(--DTTertiaryColor); background: {{ block.settings.grid_banner_content_bg }};
      border-radius: var(--DTRadius); border-radius: {{ block.settings.grid_banner_border_radius }}px;    
          } 
  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner.{{block.type}}-{{block.id}} { 
        {% if block.settings.grid_banner_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %}         
          } 

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner.overlay-style {
    min-height: {{ block.settings.overlay_style_height }}px;
  }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner.overlay-style 
  .dt-sc-grid-banner-content .dt-sc-grid-banner-inner { 
    background-color: var(--DTTertiaryColor); background-color:{{ block.settings.grid_banner_bg }};
      border-radius: var(--DTRadius); border-radius: {{ block.settings.grid_banner_border_radius }}px;      
        }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner .with-overlay:before { 
    background: var(--DTTertiaryColor); background:{{ block.settings.banner_image_overlay_color }}; 
      }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner .with-gradient-overlay:before {

    background-image: linear-gradient({{ section.settings.banner_image_rotation_degree}}deg, {{ settings.tertiary_color | color_modify: 'alpha', 0 }}, 
      {{ settings.tertiary_color }});

    background-image: linear-gradient({{ block.settings.banner_image_rotation_degree}}deg, {{ block.settings.banner_image_overlay_color | color_modify: 'alpha', 0 }}, 
      {{ block.settings.banner_image_overlay_color }});
  }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner:hover .with-overlay:before,
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner:hover .with-gradient-overlay:before {
    opacity: {{ block.settings.banner_image_overlay_opacity }};
  }

  /*   Deals */  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner {
    background-color: var(--DTTertiaryColor); background-color:{{ block.settings.grid_banner_bg }};
      }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-main-title { 
    color:var(--DTColor_Body); color:{{ block.settings.deals_heading_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-sub-title { 
    color:var(--DTColor_Body); color:{{ block.settings.deals_sub_heading_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-description { 
    color:var(--DTColor_Body); color:{{ block.settings.deals_description_color }}; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-btn { 
    color:var(--DT_Button_Text_Color); background-color: var(--DT_Button_BG_Color);
      color:{{ block.settings.deals_button_text_color }}; background-color:{{ block.settings.deals_button_bg_color }}; 
      }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-btn:hover {  
    color:var(--DT_Button_Text_Hover_Color); background-color:var(--DT_Button_BG_Hover_Color);
      color:{{ block.settings.deals_button_hover_text_color }}; background-color:{{ block.settings.deals_button_hover_bg_color }}; 
      }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section 
  .dt-sc-grid-banner-content .deal-clock ul li { 
    color:var(--DT_Button_Text_Color); background: var(--DT_Button_BG_Color);
      background: {{block.settings.deals_section_bg_color}}; color: {{block.settings.deals_section_timer_color}}; }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner-content .deals-counter {
    background: var(--DTTertiaryColor); background: {{block.settings.deals_section_color}}; }

  /*   Products */  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products { border-radius: var(--DTRadius); 
    border-radius: {{ block.settings.border_radius }}px; {% if block.settings.enable_box_shadow %} box-shadow: var(--DTboxShadow); {% else %} box-shadow: none; {% endif %} 
      }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .product-list-style .products .product-detail { padding: 15px; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .product-list-style .products .product-detail .spr-badge { font-size: 12px; }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .product-list-style:not(.swiper-wrapper) { 
    gap: var(--DTGutter_Width); gap: {{block.settings.collection_column_gap}}px;
      }

  #shopify-section-{{section.id}}.home-product-carousel .additional-block .dt-sc-swiper-slider.swiper-container.center_pagination .swiper-pagination {
    width: 100%; justify-content: center;
  }

  #shopify-section-{{section.id}}.home-product-carousel .additional-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn { 
    background: var(--DT_Button_BG_Color);  
      background: {{ block.settings.navigation_button_color }};  
      }

  #shopify-section-{{section.id}}.home-product-carousel .additional-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn[class*="swiper-button-"]:after {   
    color: var(--DT_Button_Text_Color);
      color: {{ block.settings.navigation_button_icon_color }};
      }

  #shopify-section-{{section.id}}.home-product-carousel .additional-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); 
      background: {{ block.settings.navigation_button_hover_color }}; 
      }

  #shopify-section-{{section.id}}.home-product-carousel .additional-block .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover[class*="swiper-button-"]:after { 
    color: var(--DT_Button_Text_Hover_Color);
      color: {{ block.settings.navigation_button_hover_icon_color }};
      }

  #shopify-section-{{section.id}}.home-product-carousel .additional-block .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet { 
    background: var(--DTSecondaryColor);  
      background: {{ block.settings.navigation_dot_color }};  
      }  
  #shopify-section-{{section.id}}.home-product-carousel .additional-block .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: var(--DTPrimaryColor);  
      background: {{ block.settings.navigation_dot_active_color }};  
      }
  {% endfor %}  

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block { 
    width:calc({{leftColumn}}% - {{ section.settings.grouped_column_gap }}px) 
  }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block { 
    {% if section.blocks.size > 0 %} width:{{rightColumn}}% {% endif %} 
  }
  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block:only-child { width: 100%; }
    
  
  @media (min-width: 1541px) {
  
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block { 
      width:calc({{leftColumn}}% - {{ section.settings.grouped_column_gap }}px) 
    }

    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block { 
      {% if section.blocks.size > 0 %} width:{{rightColumn}}% {% endif %} 
    }
  
  }
  
  @media (max-width: 1540px) {
    
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block { 
      width:calc({{lap_leftColumn}}% - {{ section.settings.grouped_column_gap }}px) 
    }

    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block { 
      {% if section.blocks.size > 0 %} width:{{lap_rightColumn}}% {% endif %} 
    }
    
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block .product-collection.dt-sc-column { grid-template-columns: repeat(2,1fr); }
    
  }
  
  @media (max-width: 1199px) {
    
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content { padding: calc(.75* {{ section.settings.grouped_content_padding }}px); }
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block { padding: calc(.75* {{ section.settings.additional_content_padding }}px); }
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block,
    #shopify-section-{{section.id}}.home-product-carousel .main-block { padding: calc(.75* {{ section.settings.main_content_padding }}px); }
  }

  @media (max-width: 767px) {
    
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content { display: grid; gap: {{ section.settings.grouped_column_gap }}px; }

    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block,
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block { 
      {% if section.blocks.size > 0 %} width: 100% {% endif %} 
    }

  }
  
  @media (max-width: 576px) {
  
  	#shopify-section-{{section.id}}.home-product-carousel .grouped-content { padding: calc(.5* {{ section.settings.grouped_content_padding }}px); }
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block { padding: calc(.5* {{ section.settings.additional_content_padding }}px); }
    #shopify-section-{{section.id}}.home-product-carousel .grouped-content .main-block,
    #shopify-section-{{section.id}}.home-product-carousel .main-block { padding: calc(.5* {{ section.settings.main_content_padding }}px); }
    
  }
    
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .product-list-style .products .product-container .product-button > *:not(.quick-view-btn),
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .product-list-style .products .product-container .deal-clock { display: none; }

  /*  Menu */
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block ul.menu-links { margin-bottom: 0; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block ul.menu-links li a { display: inline-flex; align-items: center; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block ul.menu-links li a:before { content: "\f111"; font-family: 'FontAwesome'; position: relative; 
    padding-right: 10px; font-size: 8px; } 

  /* Banner */
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section .dt-sc-grid-banner.overlay-style { display: grid; }

  /* Deals */
  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .deal-clock { position: static; margin: 0; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .deal-clock * { margin: 0; }
  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner-content { 
    width: 100%; padding: 30px; display: inline-block; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner-content:only-child { padding: 30px; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner-content .deals-counter { width: calc(100% + 60px);
    float: none; display: inline-block; position: relative; left: -30px; padding: 26px 30px 30px; margin: 20px 0 30px; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner-content .deals-counter:last-child { 
    margin-bottom: -30px; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner-content .deals-counter .dt-sc-sub-title { 
    margin-bottom: 15px; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .dt-sc-grid-banner-section.deals-section .dt-sc-grid-banner-content:only-child { padding: 0; }

  /* Collection */
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-container .badge, 
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-container .offer-price,
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-container .product-button.dt-sc_button,
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail .product-vendor,
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail .product_desc,
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail [class*="variant-"],
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail .dt-sc-btn-group,
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail del { display: none; }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .product-list-style:not(.swiper-wrapper) { display: grid;  }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .product-list-style { margin-bottom: 0; }

  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail .grid-link__title { padding-top: 0; }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail .grid-link__title a { font-size: var(--DTFontSize_H6); }
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block .products .product-detail .grid-link__meta { margin-bottom: 0; }
  
   /* Tab */
  #shopify-section-{{section.id}}.home-product-carousel .main-block .tablinks { display: inline-block; margin: 0 0 4px 0; border-radius: var(--DTRadius); 
    border-radius: {{section.settings.border_radius}}px; }  
  
  #shopify-section-{{section.id}}.home-product-carousel .main-block .dt-sc-tabs-content { margin-top: 20px; border-radius: var(--DTRadius); }
  
  #shopify-section-{{section.id}}.home-product-carousel .main-block.style-1 .dt-sc-tabs-content { background: var(--DTBodyBGColor);  background: {{ section.settings.tab_content_bg_color }}; 
    border-color: {{section.settings.tab_content_border_color}}; }
  #shopify-section-{{section.id}}.home-product-carousel .main-block.style-2 .dt-sc-tabs-content { padding: 0; border: none; }
  
  #shopify-section-{{section.id}}.home-product-carousel .grouped-content .additional-block > *:not(:last-child) { margin-bottom: var(--DTGutter_Width); }
  
  
  #shopify-section-{{section.id}}.home-product-carousel .main-block .tablinks { 
    background: var(--DT_Button_BG_Color); background: {{ section.settings.tab_link_bg_color }}; 
    color: var(--DT_Button_Text_Color); color: {{ section.settings.tab_link_color }}; 
  }
  
  #shopify-section-{{section.id}}.home-product-carousel .main-block .tablinks.active,
  #shopify-section-{{section.id}}.home-product-carousel .main-block .tablinks:hover { 
    background: var(--DT_Button_BG_Hover_Color); background: {{ section.settings.tab_link_bg_hover_color }}; 
    color: var(--DT_Button_Text_Hover_Color); color: {{ section.settings.tab_link_hover_text_color }}; 
  }


</style>

{% schema %}
{
"name": "Product Tab",
"class": "index-section home-product-carousel home-product-tab",
"max_blocks": 5,
"settings": [
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "checkbox",
"id": "show_background_image",
"label": "Enable Background image"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background image",
"info": "Size: 1920x1280"
},
{
"type": "select",
"id": "background_style",
"label": "Background Style",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "parallax",
"label": "Parallax"
},
{
"value": "fixed",
"label": "Fixed"
}
]
},
{
"type": "checkbox",
"id": "enable_overlay",
"label": "Enable Background Color (Used as Background Image Overlay Color too)"
},
{
"type": "color",
"id": "background_color",
"label":"Background color"
},
{
"type": "text",
"id": "overlay_transparency",
"label": "Overlay Transparency (0.01 to 1)",
"default": "0.5"
},
{
"type": "text",
"id": "section_heading",
"label": "Main Heading",
"default": "Product Carousel"
},  
{
"type": "text",
"id": "section_sub_heading",
"label": "Sub Heading",
"default": "Sub Heading"
},  
{
"type": "text",
"id": "section_description",
"label": "Description",
"default": "Use this text to share the information which you like!."
},  
{
"type": "text",
"id": "section_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "section_button_link",
"label": "Link URL"
},
{
"type": "header",
"content": "Section Color settings"
},
{
"type": "color",
"id": "section_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "section_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "section_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "section_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "section_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "section_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "section_button_hover_text_color",
"label": "Button hover text color"
},  
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "right"
}
]
},
{
"type": "header",
"content": "Grouped Content Settings",
"info": "Add any block other than tab from the top most of this section"
},
{	
"type": "text",	
"id": "content_width",	
"label": "Desktop",	
"default":"30/70"
},	
{	
"type": "text",	
"id": "lap_content_width",	
"label": "Laptop (Small Screen)",	
"default":"35/65",	
"info": "For Tablet & Mobile resolutions 100/100 comes by default"	
},
{	
"type": "color",	
"id": "grouped_content_bg",	
"label": "Grouped Content BG Color"	
}, 	
{	
"type": "text",	
"id": "grouped_column_gap",	
"label": "Grouped Content Column Gap",	
"default":"30",	
"info": "Units not needed"	
},	
{	
"type": "text",	
"id": "grouped_content_padding",	
"label": "Grouped Content Overall Padding",	
"default":"0",	
"info": "Units not needed"	
},
{
"type": "text",
"id": "group_border_radius",
"label": "Group Border Radius(Leave empty for Theme Default Border Radius)",
"default":"0",
"info": "Units not needed"
},
{
"type": "checkbox",
"id": "enable_group_box_shadow",
"label": "Enable Group Box Shadow",
"default": false
},
{
"type": "checkbox",
"id": "reverse_column",
"label": "Content reverse",
"default": false
},
{
"type": "header",
"content": "Additional Content Settings",
"info": "Go to Top and add a block, other than tab"
},
{
"type": "checkbox",
"id": "enable_additional_content",
"label": "Enable Additional Content",
"default": true
},
{
"type": "color",
"id": "additional_block_background_color",
"label": "Additional Content BG color"
},
{
"type": "checkbox",
"id": "additional_block_box_shadow",
"label": "Additional Content Box Shadow",
"default": false
},
{
"type": "text",
"id": "additional_content_padding",
"label": "Additional Content Overall Padding (unit's not needed)",
"default":"0"
},
{
"type": "text",
"id": "additional_block_border_radius",
"label": "Additional Content Radius (Leave empty for Theme Default Radius)",
"default":"0",
"info": "Units not needed"
}, 
{
"type": "header",
"content": "Main Content Settings"
},
{
"type": "checkbox",
"id": "enable_main_content",
"label": "Enable Main Content",
"default": true
},
{
"type": "color",
"id": "main_block_background_color",
"label": "Main Content Bg color"
},
{
"type": "checkbox",
"id": "enable_main_block_box_shadow",
"label": "Main Content Box Shadow",
"default": false
},
{
"type": "text",
"id": "main_block_border_radius",
"label": "Main Content Radius (Leave empty for Theme Default Radius)",
"default":"0",
"info": "Units not needed"
},
{
"type": "text",
"id": "main_content_padding",
"label": "Main Content Overall Padding (unit's not needed)",
"default":"0"
},
{
"type": "checkbox",
"id": "enable_list_view",
"label": "Enable List view for Collection",
"default": false
},
{
"type": "select",
"id": "grid",
"label": "Item per row",
"default": "2",
"info": "Maximum of 3 Items, if List View is enabled",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
}
]
},
{
"type": "range",
"id": "post_limit",
"label": "Number of Collections to Display (Won't work if carousel is enabled)",
"min": 1,
"max": 12,
"step": 1,
"default": 2
},
{
"type": "header",
"content": "Tab Settings"
},
{
"type": "text",
"id": "column_gap",
"label": "Tab Column Gap (unit's not needed)",
"default":"30"
},
{
"type": "text",
"id": "border_radius",
"label": "Tab Links Border Radius(Leave empty for Theme Default Border Radius)",
"info": "Units not needed"
}, 
{
"type": "select",
"id": "tab_style",
"label": "Tab Style",
"default": "style-2",
"options": [
{
"value": "style-1",
"label": "Style 1"
},
{
"value": "style-2",
"label": "Style 2"
}
]
},
{
"type": "select",
"id": "tab_alignment",
"label": "Tabs alignment",
"options": [
{
"value": "text-center",
"label": "center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "right"
}
]
},
{
"type": "color",
"id": "tab_link_bg_color",
"label": "Tab link bg color"
},   
{
"type": "color",
"id": "tab_link_color",
"label": "Tab text color"
},   
{
"type": "color",
"id": "tab_link_bg_hover_color",
"label": "Tab link hover/active bg color"
},   
{
"type": "color",
"id": "tab_link_hover_text_color",
"label": "Tab link hover/active text color"
},
{
"type": "color",
"id": "tab_content_bg_color",
"label": "Tab Content bg color"
},
{
"type": "color",
"id": "tab_content_border_color",
"label": "Tab Content Border color"
},
{
"type": "header",
"content": "Carousel settings"
},
{
"type": "checkbox",
"id": "enable_slider",
"label": "Enable Carousel",
"default": false
},
{
"type": "range",
"id": "items_per_view",
"label": "Slide per row",
"min": 1,
"max": 5,
"step": 1,
"default": 4,
"info": "Maximum of 3 Slides, if List View is enabled"
},
{
"type": "range",
"id": "rows",
"label": "Number of Rows",
"min": 1,
"max": 3,
"step": 1,
"default": 3
},
{
"type": "range",
"id": "slider_autoplay",
"min": 0,
"max": 7,
"step": 1,
"label": "Autoplay timing",
"default": 0,
"unit": "sec",
"info": "Use 0 to stop auto rotate"
},
{
"type": "checkbox",
"id": "enable_auto_height",
"label": "Enable Auto Height",
"default": false
},
{
"type": "checkbox",
"id": "dots",
"label": "Enable Carousel Pagination",
"default": false
},
{
"type": "select",
"id": "carousel_pagination_alignment",
"label": "Carousel Pagination Alignment (Only Bottom)",
"options": [
{
"value": "left_pagination",
"label": "Left Aligned"
},
{
"value": "center_pagination",
"label": "Center Aligned"
},
{
"value": "right_pagination",
"label": "Right Aligned"
}
],
"default": "center_pagination"
},
{
"type": "select",
"id": "carousel_pagination_bottom_alignment",
"label": "Carousel Pagination Bottom Alignment (Inside/Outside the Element)",
"options": [
{
"value": "inside_element",
"label": "Inside the Element"
},
{
"value": "outside_element",
"label": "Outside the Element"
}
],
"default": "outside_element"
},
{
"type": "checkbox",
"id": "arrows",
"label": "Enable Navigation Arrows",
"default": false
},
{
"type": "select",
"id": "nav_arrow_position",
"label": "Navigation Arrows position",
"options": [
{
"value": "navigation-top-left",
"label": "Top Left"
},
{
"value": "navigation-top-center",
"label": "Top Center"
},
{
"value": "navigation-top-right",
"label": "Top Right"
},
{
"value": "center-navigation",
"label": "Center"
},
{
"value": "navigation-bottom-left",
"label": "Bottom left"
},
{
"value": "navigation-bottom-center",
"label": "Bottom center"
},
{
"value": "navigation-bottom-right",
"label": "Bottom right"
}     
],
"default": "navigation-top-right"
},
{
"type": "select",
"id": "center_nav_arrow_alignment",
"label": "Center navigation alignment (Select 'Center', in the above dropdown)",
"options": [
{
"value": "outside_container",
"label": "Outside Container (not for Full width Section)"
},
{
"value": "along_with_container",
"label": "Along with Container"
},
{
"value": "inside_container",
"label": "Inside Container"
}
],
"default": "inside_container"
},
{
"type": "color",
"id": "navigation_button_color",
"label": "Navigation Button BG Color"
}, 
{
"type": "color",
"id": "navigation_button_icon_color",
"label": "Navigation Button Icon Color"
}, 
{
"type": "color",
"id": "navigation_button_hover_color",
"label": "Navigation Button Hover BG Color"
}, 
{
"type": "color",
"id": "navigation_button_hover_icon_color",
"label": "Navigation Button Hover Icon Color"
}, 
{
"type": "color",
"id": "navigation_dot_color",
"label": "Navigation Dot Color"
}, 
{
"type": "color",
"id": "navigation_dot_active_color",
"label": "Navigation Dot Active Color"
},
{
"type": "header",
"content": "Custom class"
},
{
"type": "text",
"id": "custom_class_name",
"label": "Add your custom class name here"
}
],
"blocks": [
{
"type": "menu",
"name": "Menu",        
"limit": 1,
"settings": [
{
"type": "text",
"id": "block_title",
"label": "Title",
"default": "Title"
},  
{
"type": "link_list",
"id": "menu",
"label": "Choose a menu",
"default": "footer",
"info": "This menu won't show dropdown items"
},
{
"type": "header",
"content": "Color Settings"
},
{
"type": "color",
"id": "block_heading_color",
"label": "Block Heading color"
},
{
"type": "color",
"id": "block_link_color",
"label": "Block Link color"
},
{
"type": "color",
"id": "block_link_hover_color",
"label": "Block Link Hover color"
}
]
},
{
"type": "banner",
"limit": 1,
"name": "Banner",        
"settings": [
{
"type": "image_picker",
"id": "block_image",
"label": "Image",
"info": "Size: 1280x820"
},
{
"type": "checkbox",
"id": "show_image",
"label": "Show image",
"default": true
},
{
"type": "text",
"id": "block_title",
"label": "Title",
"default": "Title"
},  
{
"type": "text",
"id": "block_sub_title",
"label": "Sub title",
"default": "Sub title"
},  
{
"type": "text",
"id": "block_description",
"label": "Description",
"default": "Short description"
},  
{
"type": "text",
"id": "block_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "block_button_link",
"label": "Link URL"
},
{
"type": "select",
"id": "block_banner_style",
"label": "Banner Style",
"default": "grid",
"options": [
{
"value": "grid",
"label": "Grid"
},
{
"value": "overlay",
"label": "Overlay"
}
]
},
{
"type": "text",
"id": "overlay_style_height",
"label": "Minimum Height (Only for Overlay Style)",
"default":"400"
},
{
"type": "select",
"id": "block_text_align",
"label": "Text alignment",
"options": [
{
"value": "text-center",
"label": "center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "right"
}
]
},
{
"type": "select",
"id": "content_position",
"label": "Content position (Not for Grid Style)",
"options": [
{
"value": "top-left",
"label": "Top Left"
},
{
"value": "top-center",
"label": "Top Center"
},
{
"value": "top-right",
"label": "Top Right"
},
{
"value": "center-left",
"label": "Center left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "center-right",
"label": "Center right"
},
{
"value": "bottom-left",
"label": "Bottom left"
},
{
"value": "bottom-center",
"label": "Bottom center"
},
{
"value": "bottom-right",
"label": "Bottom right"
}     
],
"default": "center"
},
{
"type": "checkbox",
"id": "grid_banner_box_shadow",
"label": "Enable Box Shadow",
"default": false
},
{
"type": "text",
"id": "grid_banner_border_radius",
"label": "Grid Banner Border Radius(Leave empty for Theme Default Border Radius)",
"default":"0",
"info": "Units not needed"
},
{
"type": "header",
"content": "Grid Banner Color Settings"
},
{
"type": "color",
"id": "grid_banner_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "grid_banner_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "grid_banner_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "grid_banner_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "grid_banner_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "grid_banner_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "grid_banner_button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "color",
"id": "grid_banner_content_bg",
"label": "Background Color"
},
{
"type": "select",
"id": "banner_image_overlay_style",
"label": "Image Overlay Style",
"options": [
{
"value": "with-overlay",
"label": "Normal Overlay"
},
{
"value": "with-gradient-overlay",
"label": "Gradient Overlay"
}
]
},
{
"type": "color",
"id": "banner_image_overlay_color",
"label": "Image Overlay color"
},
{
"type": "text",
"id": "banner_image_overlay_opacity",
"label": "Image Overlay Opacity (0.01 to 1)",
"default": "0.5"
},
{
"type": "text",
"id": "banner_image_rotation_degree",
"label": "Image Overlay Gradient Position (0 to 360) - Only for Gradient Overlay",
"default": "180"
}
]
},
{
"type": "product",
"name": "Product",        
"limit": 1,
"settings": [
{
"type": "product",
"id": "product",
"label": "Select product"    
}
]
},
{
"type": "timer",
"name": "Timer",  
"limit": 1,
"settings": [
{
"type": "text",
"id": "deal_end_date",
"label": "Deal end date",
"info": "format should be MM/DD/YYYY_HH:MM:SS "
},  
{
"type": "image_picker",
"id": "block_image",
"label": "Image",
"info": "Size: 1280x820"
},
{
"type": "checkbox",
"id": "show_image",
"label": "Show image",
"default": true
},
{
"type": "text",
"id": "block_title",
"label": "Title",
"default": "Title"
},  
{
"type": "text",
"id": "block_sub_title",
"label": "Sub title",
"default": "Sub title"
},  
{
"type": "text",
"id": "block_description",
"label": "Description",
"default": "Short description"
},  
{
"type": "text",
"id": "block_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "block_button_link",
"label": "Link URL"
},
{
"type": "select",
"id": "block_text_align",
"label": "Text alignment",
"options": [
{
"value": "text-center",
"label": "center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "right"
}
]
},
{
"type": "header",
"content": "Grid Banner Color Settings"
},
{
"type": "color",
"id": "grid_banner_bg",
"label": "Banner BG"
},
{
"type": "color",
"id": "section_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "section_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "section_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "section_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "section_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "section_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "section_button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "color",
"id": "deals_section_color",
"label": "Deals Section BG Color"
},
{
"type": "color",
"id": "deals_section_bg_color",
"label": "Deals Section Timer BG color (numbered part)"
},
{
"type": "color",
"id": "deals_section_timer_color",
"label": "Deals Section Timer Color (numbered part)"
},
{
"type": "color",
"id": "deals_section_timer_duration_color",
"label": "Deals Section Timer Duration Color (text part)"
},
{
"type": "color",
"id": "deals_section_timer_duration_bg_color",
"label": "Deals Section Timer Duration BG Color (text part)"
}
]
},
{
"type": "collection",
"name": "Collection",        
"limit": 1,
"settings": [
{
"type": "text",
"id": "block_title",
"label": "Title",
"default": "Title"
},  
{
"type": "collection",
"id": "collection",
"label": "Select collection"    
},
{
"type": "checkbox",
"id": "enable_box_shadow",
"label": "Enable Box Shadow",
"default": false
},
{
"type": "text",
"id": "border_radius",
"label": "Collection Border Radius (Leave empty for Theme Default Border Radius)",
"default":"0",
"info": "Units not needed"
},
{
"type": "text",
"id": "collection_column_gap",
"label": "Collection Column Gap (Leave empty for Theme Default Gap)",
"default":"30",
"info": "Units not needed"
},
{
"type": "range",
"id": "limit",
"label": "Limit (Will not work if carousel is enabled)",
"min": 1,
"max": 5,
"step": 1,
"default": 2
},
{
"type": "header",
"content": "Carousel Settings"
},
{
"type": "checkbox",
"id": "enable_slider",
"label": "Enable Carousel",
"default": false
},
{
"type": "range",
"id": "items_per_view",
"label": "Number of Columns",
"min": 1,
"max": 3,
"step": 1,
"default": 1
},
{
"type": "range",
"id": "rows",
"label": "Number of Rows",
"min": 1,
"max": 5,
"step": 1,
"default": 2
},
{
"type": "range",
"id": "slider_autoplay",
"min": 0,
"max": 7,
"step": 1,
"label": "Autoplay timing",
"default": 0,
"unit": "sec",
"info": "Use 0 to stop auto rotate"
},
{
"type": "checkbox",
"id": "enable_auto_height",
"label": "Enable Auto Height",
"default": false
},
{
"type": "checkbox",
"id": "dots",
"label": "Enable Carousel Pagination",
"default": false
},
{
"type": "select",
"id": "carousel_pagination_alignment",
"label": "Carousel Pagination Alignment (Only Bottom)",
"options": [
{
"value": "left_pagination",
"label": "Left Aligned"
},
{
"value": "center_pagination",
"label": "Center Aligned"
},
{
"value": "right_pagination",
"label": "Right Aligned"
}
],
"default": "center_pagination"
},
{
"type": "checkbox",
"id": "arrows",
"label": "Enable Navigation Arrows",
"default": true
},
{
"type": "select",
"id": "nav_arrow_position",
"label": "Navigation Arrows position",
"options": [
{
"value": "navigation-top-left",
"label": "Top Left"
},
{
"value": "navigation-top-center",
"label": "Top Center"
},
{
"value": "navigation-top-right",
"label": "Top Right"
},
{
"value": "navigation-bottom-left",
"label": "Bottom left"
},
{
"value": "navigation-bottom-center",
"label": "Bottom center"
},
{
"value": "navigation-bottom-right",
"label": "Bottom right"
}     
],
"default": "navigation-top-right"
},
{
"type": "color",
"id": "navigation_button_color",
"label": "Navigation Button BG Color"
}, 
{
"type": "color",
"id": "navigation_button_icon_color",
"label": "Navigation Button Icon Color"
}, 
{
"type": "color",
"id": "navigation_button_hover_color",
"label": "Navigation Button Hover BG Color"
}, 
{
"type": "color",
"id": "navigation_button_hover_icon_color",
"label": "Navigation Button Hover Icon Color"
}, 
{
"type": "color",
"id": "navigation_dot_color",
"label": "Navigation Dot Color"
}, 
{
"type": "color",
"id": "navigation_dot_active_color",
"label": "Navigation Dot Active Color"
}
]
},
{
"type": "tab",
"name": "Tab",        
"limit": 5,
"settings": [
{
"type": "collection",
"id": "tab",
"label": "Select collection"    
},
{
"type": "text",
"id": "block_title",
"label": "Title",
"default": "Title"
}
]
}
],
"presets": [
{
"name": "Product tab",
"category": "Collection"
}
]
}
{% endschema %}