{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}
{%- assign column = 'two-column' -%}

{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}
<div class="dt-sc-section-wrapper {{lazyScript}} {{section_overlay}} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" style="{% render 'bg-color-image-padding' %}" data-style="parallax" {{background_style}} {% include 'bg_image' %}>  
  <div class="{% render 'container-settings' %}"> 
    <div class="row {{ section.settings.custom_class_name }}"> 
      {% render 'section-heading', class: section.id %} 
      <div class="dt-sc-column {{column}}">
        <div class="custom-left_block">
          {% if section.settings.left_block_heading != blank or section.settings.left_block_sub_heading != blank or   section.settings.left_block_description != blank or section.settings.left_block_button_link != blank or section.settings.left_block_img_1 != blank  %}
          <div class="dt-sc-heading {{ section.settings.heading_position | escape}}">
            {% if section.settings.left_block_heading != blank %}
            <h4 class="dt-sc-main-heading">{{section.settings.left_block_heading}}</h4>
            {% endif %}
            {% if section.settings.left_block_sub_heading != blank %}
            <h6 class="dt-sc-sub-heading">{{section.settings.left_block_sub_heading}}</h6>
            {% endif %}
            {% if section.settings.left_block_description != blank %}
            <p class="dt-sc-heading-description">{{section.settings.left_block_description}}</p>
            {% endif %}
            {% if section.settings.left_block_button_link != blank  and section.settings.left_block_button_text != blank %}
            <a href="{{section.settings.left_block_button_link}}" class="dt-sc-btn">{{section.settings.left_block_button_text}}</a>
            {% endif %}
            {% if section.settings.left_block_img_1 != blank  %}
            {%- assign left_img_1_url = section.settings.left_block_img_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload"
                 data-src="{{ left_img_1_url }}"
                 data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.left_block_img_1.aspect_ratio }}"
                 data-sizes="auto"            
                 alt="{{ section.settings.left_block_heading}}">            
            <noscript>
              {{ section.settings.left_block_img_1 | img_url: '480x480', scale: 2 | img_tag: section.settings.left_block_img_1.alt, 'dt-sc-noscript-image' }}
            </noscript>
            {% endif %}
              {% if section.settings.left_block_img_2 != blank  %}
            {%- assign left_img_2_url = section.settings.left_block_img_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload"
                 data-src="{{ left_img_2_url }}"
                 data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.left_block_img_2.aspect_ratio }}"
                 data-sizes="auto"            
                 alt="{{ section.settings.left_block_heading}}">            
            <noscript>
              {{ section.settings.left_block_img_2 | img_url: '480x480', scale: 2 | img_tag: section.settings.left_block_img_2.alt, 'dt-sc-noscript-image' }}
            </noscript>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="custom-right_block">
          {% if section.settings.right_block_heading != blank or section.settings.right_block_sub_heading != blank or   section.settings.right_block_description != blank or section.settings.right_block_button_link != blank  or  section.settings.right_block_img_1 != blank  %}
          <div class="dt-sc-heading {{ section.settings.heading_position | escape}}">
            {% if section.settings.right_block_heading != blank %}
            <h4 class="dt-sc-main-heading">{{section.settings.right_block_heading}}</h4>
            {% endif %}
            {% if section.settings.right_block_sub_heading != blank %}
            <h6 class="dt-sc-sub-heading">{{section.settings.right_block_sub_heading}}</h6>
            {% endif %}
            {% if section.settings.right_block_description != blank %}
            <p class="dt-sc-heading-description">{{section.settings.right_block_description}}</p>
            {% endif %}
            {% if section.settings.right_block_button_link != blank  and section.settings.right_block_button_text != blank %}
            <a href="{{section.settings.right_block_button_link}}" class="dt-sc-btn">{{section.settings.right_block_button_text}}</a>
            {% endif %}
            {% if section.settings.right_block_img_1 != blank  %}
            {%- assign right_img_1_url = section.settings.right_block_img_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload"
                 data-src="{{ right_img_1_url }}"
                 data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.right_block_img_1.aspect_ratio }}"
                 data-sizes="auto"            
                 alt="{{ section.settings.right_block_heading}}">            
            <noscript>
              {{ section.settings.right_block_img_1 | img_url: '480x480', scale: 2 | img_tag: section.settings.right_block_img_1.alt, 'dt-sc-noscript-image' }}
            </noscript>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


  <style>

    #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Body); color:{{ section.settings.section_heading_color }}; } 
    #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Body); color:{{ section.settings.section_sub_heading_color }}; } 
    #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body); color:{{ section.settings.section_description_color }}; } 
    #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-btn { 
      background: var(--DT_Button_BG_Color); background:{{ section.settings.section_button_bg_color }}; 
        color: var(--DT_Button_Text_Color); color:{{ section.settings.section_button_text_color }}; 
          }
    #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-btn:hover { 
      background: var(--DT_Button_BG_Hover_Color); background:{{ section.settings.section_button_hover_bg_color }}; 
        color: var(--DT_Button_Text_Hover_Color); color:{{ section.settings.section_button_hover_text_color }}; 
          }

    #shopify-section-{{section.id}}.home-image-gallery .dt-sc-overlay:before  { 
      color: var(--DTTertiaryColor); 
        color: {{ section.settings.background_color }};    
        background: currentcolor; 
        opacity: {{ section.settings.overlay_transparency }}; 
        }

  </style>

  {% schema %}
  {
  "name": "Home custom section",
  "class": "index-section home-custom-section",  
  "settings": [
  {
  "type": "checkbox",
  "id": "full",
  "label": "Show Full width"
  },
  {
  "type": "checkbox",
  "id": "spacing_both_ends",
  "label": "Enable Right & Left Spacing (Works only on Fullwidth)",
  "default": false
  },
  {
  "type": "text",
  "id": "padding",
  "label": "Style value (Padding)",
  "default":"0,0",
  "info":"Top(px),Bottom(px)"
  },
  {
  "type": "text",
  "id": "margin",
  "label": "Style value (Margin)",
  "default":"0,0",
  "info":"Top(px),Bottom(px)"
  },
  {
  "type": "checkbox",
  "id": "show_background_image",
  "label": "Enable Background image"
  },
  {
  "type": "image_picker",
  "id": "background_image",
  "label": "Background image",
  "info": "Size: 1920x1280"
  },
  {
  "type": "select",
  "id": "background_style",
  "label": "Background Style",
  "default": "default",
  "options": [
  {
  "value": "default",
  "label": "Default"
  },
  {
  "value": "parallax",
  "label": "Parallax"
  },
  {
  "value": "fixed",
  "label": "Fixed"
  }
  ]
  },
  {
  "type": "checkbox",
  "id": "enable_overlay",
  "label": "Enable Background Color (Used as Background Image Overlay Color too)"
  },
  {
  "type": "color",
  "id": "background_color",
  "label":"Background color"
  },
  {
  "type": "text",
  "id": "overlay_transparency",
  "label": "Overlay Transparency (0.01 to 1)",
  "default": "0.5"
  },
  {
  "type": "text",
  "id": "section_heading",
  "label": "Main Heading",
  "default": "Custom section"
  },  
  {
  "type": "text",
  "id": "section_sub_heading",
  "label": "Sub Heading",
  "default": "Sub Heading"
  },  
  {
  "type": "text",
  "id": "section_description",
  "label": "Description",
  "default": "Use this text to share the information which you like!."
  },  
  {
  "type": "text",
  "id": "section_button_text",
  "label": "Link text"
  },
  {
  "type": "url",
  "id": "section_button_link",
  "label": "Link URL"
  },
  {
  "type": "header",
  "content": "Section Color settings"
  },
  {
  "type": "color",
  "id": "section_heading_color",
  "label": "Heading color"
  },    
  {
  "type": "color",
  "id": "section_sub_heading_color",
  "label": "Sub heading color"
  },   
  {
  "type": "color",
  "id": "section_description_color",
  "label": "Description color"
  },  
  {
  "type": "color",
  "id": "section_button_bg_color",
  "label": "Button bg color"
  },   
  {
  "type": "color",
  "id": "section_button_text_color",
  "label": "Button text color"
  },   
  {
  "type": "color",
  "id": "section_button_hover_bg_color",
  "label": "Button hover bg color"
  },   
  {
  "type": "color",
  "id": "section_button_hover_text_color",
  "label": "Button hover text color"
  }, 
  {
  "type": "select",
  "id": "heading_position",
  "label": "Heading Position",
  "options": [
  {
  "value": "text-center",
  "label": "Center"
  },
  {
  "value": "text-start",
  "label": "Left"
  },
  {
  "value": "text-end",
  "label": "Right"
  }
  ]
  },
  {
  "type": "header",
  "content": "Left column"
  },
  {
  "type": "text",
  "id": "left_block_sub_heading",
  "label": "Sub Heading",
  "default": "Sub Heading"
  },  
  {
  "type": "text",
  "id": "left_block_description",
  "label": "Description",
  "default": "Use this text to share the information which you like!."
  },    
  {
  "type": "text",
  "id": "left_block_button_text",
  "label": "Link text"
  },
  {
  "type": "url",
  "id": "left_block_button_link",
  "label": "Link URL"
  },
   {
  "type": "image_picker",
  "id": "left_block_img_1",
  "label": "Image 1",
  "info": "Size: 750x750"
  },  
   {
  "type": "url",
  "id": "left_block_img_1_link",
  "label": "Link"  
  },  
   {
  "type": "image_picker",
  "id": "left_block_img_2",
  "label": "Image 2",
  "info": "Size: 750x750"
  },
  {
  "type": "url",
  "id": "left_block_img_2_link",
  "label": "Link"  
  },  
  {
  "type": "header",
  "content": "Left block color settings"
  },
  {
  "type": "color",
  "id": "left_block_heading_color",
  "label": "Heading color"
  },    
  {
  "type": "color",
  "id": "left_block_sub_heading_color",
  "label": "Sub heading color"
  },   
  {
  "type": "color",
  "id": "left_block_description_color",
  "label": "Description color"
  },  
  {
  "type": "color",
  "id": "left_block_button_bg_color",
  "label": "Button bg color"
  },   
  {
  "type": "color",
  "id": "left_block_button_text_color",
  "label": "Button text color"
  },   
  {
  "type": "color",
  "id": "left_block_button_hover_bg_color",
  "label": "Button hover bg color"
  },   
  {
  "type": "color",
  "id": "left_block_button_hover_text_color",
  "label": "Button hover text color"
  }, 
  {
  "type": "header",
  "content": "Right column"
  },
  {
  "type": "text",
  "id": "right_block_sub_heading",
  "label": "Sub Heading",
  "default": "Sub Heading"
  },  
  {
  "type": "text",
  "id": "right_block_description",
  "label": "Description",
  "default": "Use this text to share the information which you like!."
  },  
  {
  "type": "text",
  "id": "right_block_button_text",
  "label": "Link text"
  },
  {
  "type": "url",
  "id": "right_block_button_link",
  "label": "Link URL"
  },
  {
  "type": "image_picker",
  "id": "right_block_img_1",
  "label": "Image 1",
  "info": "Size: 750x750"
  },  
   {
  "type": "url",
  "id": "right_block_img_1_link",
  "label": "Link"  
  },  
  {
  "type": "header",
  "content": "right block color settings"
  },
  {
  "type": "color",
  "id": "right_block_heading_color",
  "label": "Heading color"
  },    
  {
  "type": "color",
  "id": "right_block_sub_heading_color",
  "label": "Sub heading color"
  },   
  {
  "type": "color",
  "id": "right_block_description_color",
  "label": "Description color"
  },  
  {
  "type": "color",
  "id": "right_block_button_bg_color",
  "label": "Button bg color"
  },   
  {
  "type": "color",
  "id": "right_block_button_text_color",
  "label": "Button text color"
  },   
  {
  "type": "color",
  "id": "right_block_button_hover_bg_color",
  "label": "Button hover bg color"
  },   
  {
  "type": "color",
  "id": "right_block_button_hover_text_color",
  "label": "Button hover text color"
  }
  ],

  "presets": [
  {
  "name": "Home custom section",
  "category": "Image"     
  }
  ]
  }
  {% endschema %}