
<div class="__pf_password">
    <a href="#" class="__pf_password-btn">{{ 'pagefly.password_page.password_link' | t }}</a>

    <div class="__pf_password-form">
        {% form "storefront_password" %}
        {{ form.errors | default_errors }}
        <p>{{ 'pagefly.password_page.login_form_message' | t }}</p>
        <div>
            <input type="password" name="password" placeholder="{{ 'pagefly.password_page.login_form_password_placeholder' | t }}">
            <input type="submit" value="{{ 'pagefly.password_page.login_form_submit' | t }}">
        </div>
        {% endform %}

        <span class="__pf_password-form--close"></span>
    </div>

    <style>
        .__pf_password-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            padding: 10px 20px;
            background: #000;
            border: 1px solid #333;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            z-index: 100;
            color: #fff;
        }
        .__pf_password-btn:hover {
            color: #fff !important;
            text-decoration: none !important;
            background: #222;
        }
        .__pf_password-form {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            z-index: 10;
            top: 0;
        }
        .__pf_password-form form {
            max-width: 100%;
            background: #fff;
            padding: 30px 20px;
            border-radius: 2px;
            width: 480px;
            text-align: center;
        }
        .__pf_password-form form > div {
            position: relative;
        }
        .__pf_password-form form p {
            color: #000;
            font-size: 18px;
            margin: 0 0 20px;
        }
        .__pf_password-form form label {
            margin-bottom: 10px;
        }
        .__pf_password-form input[type="password"] {
            border: 1px solid #bfbfbf;
            outline: 0;
            border-radius: 2px;
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            width: 100%;
        }
        .__pf_password-form input[type="submit"] {
            position: absolute;
            height: 42px;
            min-height: initial;
            line-height: 1;
            padding: 0 20px;
            background: #000;
            color: #fff;
            top: 4px;
            right: 4px;
            border-radius: 2px;
            -webkit-appearance: none;
            outline: 0;
            border: 0;
            width: fit-content;
        }
        .__pf_password-form input[type="submit"]:hover {
            opacity: .8;
        }
        .__pf_password-form--close {
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .__pf_password-form--close:before,
        .__pf_password-form--close:after {
            content: "";
            width: 30px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 24px;
            left: 11px;
        }
        .__pf_password-form--close:before {
            transform: rotate(45deg);
        }
        .__pf_password-form--close:after {
            transform: rotate(-45deg);
        }
    </style>

    <script>
        window.addEventListener("load", function() {
            document.querySelector(".__pf_password-btn").addEventListener("click", function() {
                document.querySelector(".__pf_password-btn").style.display = "none";
                document.querySelector(".__pf_password-form").style.display = "flex";
            });
            document.querySelector(".__pf_password-form--close").addEventListener("click", function() {
                document.querySelector(".__pf_password-form").style.display = "none";
                document.querySelector(".__pf_password-btn").style.display = "initial";
            });
            if ( document.querySelectorAll(".errors").length ) {
                document.querySelector(".__pf_password-btn").click();
            }
        });
    </script>
</div>{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.fef5ea95.css' | asset_url }}">
		  <div style="opacity:0" class="sc-jJoQJp bATEBn __pf" id="__pf"><div data-pf-type="Body" class="sc-evcjhq leJfDA pf-1_"><div data-pf-type="Layout" class="sc-ctqQKy hrYNC pf-2_"><div data-section-id="pf-bf10" data-pf-type="Section" class="sc-uojGG cmSGgF pf-3_"><div class="sc-ilfuhL bpQaoh"><div class="sc-ikJyIC iIcPdk pf-4_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:3"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-5_"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-6_"><img src="https://cdn.shopify.com/s/files/1/0597/9851/9962/t/5/assets/deenies-logo_new_color-1646807318161.png?v=1646807319" srcSet="https://cdn.shopify.com/s/files/1/0597/9851/9962/t/5/assets/deenies-logo_new_color-1646807318161.png?v=1646807319 1536w" width="156" height="173" data-pf-type="Image" class="sc-GEbAx hdezgK pf-7_"/><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-8_ animate-wobble-skew"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-10_">We're up to something amazing</span></h3><p class="sc-xiLah fvOkQT pf-11_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-13_">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</span></p><a data-pf-type="Button" class="sc-jIkXHa euoiRq pf-14_ pf-gs-button-3"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-16_">Join Waitlist</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:3"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-17_"></div></div></div><div class="sc-ikJyIC iIcPdk pf-18_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-19_"><div class="sc-ZOtfp btybvF pf-20_ pf-countdown__outter2" data-translation="{&quot;startTime&quot;:&quot;2022-03-09T06:42:28.119Z&quot;,&quot;endTime&quot;:&quot;2022-03-09T06:42:28.119Z&quot;,&quot;version&quot;:&quot;3607cad3&quot;,&quot;outlineIcon&quot;:&quot;https://cdn.pagefly.io/static/images/catalog/outline-icons/countdown-timer.svg&quot;,&quot;countdownType&quot;:&quot;specific&quot;,&quot;repeat&quot;:&quot;never&quot;,&quot;endType&quot;:&quot;specific&quot;,&quot;endPeriod&quot;:0,&quot;redirectUrl&quot;:{&quot;on&quot;:false,&quot;url&quot;:&quot;&quot;},&quot;hideIfInactive&quot;:false,&quot;label&quot;:{&quot;on&quot;:true,&quot;reverse&quot;:false},&quot;timeData&quot;:{&quot;w&quot;:{&quot;on&quot;:false,&quot;text&quot;:&quot;Weeks&quot;},&quot;d&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Days&quot;},&quot;h&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Hours&quot;},&quot;m&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Mins&quot;},&quot;s&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Secs&quot;}}}" style="visibility:hidden" data-pf-type="CountDown"><div class="pf-countdown__inner"><div class="d"><span data-pf-type="CountdownNumber" class="sc-hmjpVf fuVUXo pf-21_">00</span><label data-pf-type="CountdownLabel" class="sc-jOxtWs lkOITC pf-22_">Secs</label></div><div class="pf-countdown__colon"><span>:</span></div><div class="h"><span data-pf-type="CountdownNumber" class="sc-hmjpVf fuVUXo pf-21_">00</span><label data-pf-type="CountdownLabel" class="sc-jOxtWs lkOITC pf-22_">Secs</label></div><div class="pf-countdown__colon"><span>:</span></div><div class="m"><span data-pf-type="CountdownNumber" class="sc-hmjpVf fuVUXo pf-21_">00</span><label data-pf-type="CountdownLabel" class="sc-jOxtWs lkOITC pf-22_">Secs</label></div><div class="pf-countdown__colon"><span>:</span></div><div class="s"><span data-pf-type="CountdownNumber" class="sc-hmjpVf fuVUXo pf-21_">00</span><label data-pf-type="CountdownLabel" class="sc-jOxtWs lkOITC pf-22_">Secs</label></div></div></div></div></div></div><div class="sc-ikJyIC iIcPdk pf-23_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-24_"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-25_"><a data-link="inherit" data-popup-content="shopify" data-src="" data-action="modal" data-width="854px" data-height="480px" href="#"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-27_">Interested in selling Lil Deenies? Inquire Here.</span></a></h3></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.16.7","shopDomain":"lildeenies.myshopify.com","elementData":{},"pageTitle":"Coming Soon","pageType":"password","pageId":"fef5ea95-47f2-4158-96de-cda9a290eb0d","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.16.7/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=fef5ea95-47f2-4158-96de-cda9a290eb0d)."
    }
  ]
}
{% endschema %}