<div class="text-center sidebar_btn"><a class="dt-sc-btn toggleIcon"> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="product-template__container page-width template-product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-enable-history-state="true">
  {%- assign product_thumb_size = '160x160' -%}  
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign product_image_width = 'product_image_width' -%}  
  {%- assign product_images_length = product.media | size -%}
  <div class="product-page-row">
    <div class="product_images_length-{{product_images_length}}  {{ product_image_width }} product-gallery-{{ section.id }}" id="product-gallery">
      <div class="product-item-wrap slider-{{ section.id }} {% if section.settings.gallery_type == 'thumbnails_vertical' %} swiper-gallery-vertical {{ section.settings.vertical_style }}{% endif %} {% if section.settings.gallery_type == 'thumbnails_horizontal' %} swiper-gallery-inline{% endif %}" id="slider" data-dT_media_group>
        {% if section.settings.enable_slider %}
          {% render 'thumbnails' %}                
        {% else %}
          <div class="hide--desktop">
            {% render 'thumbnails' %}                
          </div>
          <div class="hide--mobile">
            <div class="product-image-grid d-flex space-between flex-wrap">
              {% comment %}
              {% for image in product.images %}
                <div class="product-image-grid-item">
                  {% render 'rimage', image: image %}
                </div>
              {% endfor %}
              {% endcomment %}

              {% for media in product.media %}
                <div class="swiper-slide product-image-grid-item {% if media.media_type == "image"%} zoom-img-wrap {% endif %}" id="{{ media.id }}">

                  <div id="{{ media_wrapper_id }}"
                      class="dt-sc-product-single-wrapper {% if media.media_type == "image"%} zoom-img-wrap {% endif %}"
                      {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
                      {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
                      data-product-single-media-wrapper
                      data-media-id="{{ section.id }}-{{ media.id }}"
                      tabindex="-1">
                    {% case media.media_type %}
                    {% when 'external_video' %}
                    <div class="product-item-img dt-sc-product-single_media" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
                      {{ media | external_video_tag }}
                    </div>
                    {% when 'video' %}
            
                    {%- comment -%}
                    Load different image sizes depending on the breakpoint for background image overlay
                    {%- endcomment -%}
                    {% style %}
                    @media screen and (max-width: 320px) {
                    .dt-sc-product-single_media-{{ media.id }} .plyr__poster {
                    background-image: url({{ media.preview_image | img_url: '360x'}}) !important;
                    }
                    }
            
                    @media screen and (min-width: 320px) and (max-width: 780px) {
                    .dt-sc-product-single_media-{{ media.id }} .plyr__poster {
                    background-image: url({{ media.preview_image | img_url: '900x'}}) !important;
                    }
                    }
            
                    @media screen and (min-width: 780px) and (max-width: 1080px) {
                    .dt-sc-product-single_media-{{ media.id }} .plyr__poster {
                    background-image: url({{ media.preview_image | img_url: '1080x'}}) !important;
                    }
                    }
            
                    @media screen and (min-width: 1080px) {
                    .dt-sc-product-single_media-{{ media.id }} .plyr__poster {
                    background-image: url({{ media.preview_image | img_url: '2048x'}}) !important;
                    }
                    }
                    {% endstyle %}
            
                    <div class="product-item-img dt-sc-product-single_media dt-sc-product-single_media--video dt-sc-product-single_media--{{ media.id }}" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
                      {{ media | video_tag: class: 'media-video', image_size: image_size }}
                    </div>       
                    {% else %}
                    {% assign product_img_width = media.preview_image.width %}
                    {% assign product_img_height = media.preview_image.height %}
                    {% assign product_img_ratio = media.preview_image.aspect_ratio %}
                    {% if max_img_height < product_img_height %}
                    {% assign max_img_width = max_img_height | times: product_img_ratio | append:"px"%}
                    {% else %}
                    {% assign max_img_width = product_img_height | times: product_img_ratio | append:"px"%}
                    {% endif %}   
                      {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}        
                    <img class="product-item-img zoom-img lazyload{% unless featured_media == media %} lazypreload{% endunless %}"  data-srczoom="{{ media.preview_image.src | img_url: "2000x" }}"
                      src="{{ 'loading.gif' | asset_url }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ media.preview_image.aspect_ratio }}"
                      data-sizes="auto"        
                      alt="{{ media.alt | escape }}" title="{{product.title}}" />
                    {% if section.settings.enable_zoom %}
                    <a tabindex="-1" class="zoom-img-container zoom-img-position" data-image-loading-animation href="javascript:void(0);">
                    </a>
                    {% endif %}
                    {% endcase %}
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="product-description-{{ section.id }}" id="product-description">
      <div class="product-item-caption-white  sidebar-{{ section.id }}" id="sidebar">
        <div class="product-meta-block">  
          <div class="protitle">
          <div class="newbox">
            {% if product.title == 'Five Pillars of Islam Puzzle' %}
            <p>18M +</p>
            {% endif %}
            {% if product.title == 'Prophet Yunus 24-Piece Puzzle' %}
            <p>3 +</p>
            {% endif %}
          </div>
          <h2 class="product-title">{{ product.title | escape }}</h2>           
          </div>
          <div class="product-price">           
            <h6 class="product-price-label product-label">{{ "products.product.price" | t }}</h6>
            <ul class="price-list">
              <li id="ProductPrice-{{ section.id }}" class="product-price-current"><span class="money">{{ current_variant.price | money }}</span></li>
              <li id="ComparePrice-{{ section.id }}" class="product-price-list"><span class="money">
                {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
                {% endif %}
                </span>
              </li>
            </ul>

            <div class="unitPrice-{{ section.id }}">
              {%- capture unit_price_separator -%}
              <span aria-hidden="true">/</span>
              {%- endcapture -%}

              {%- capture unit_price_base_unit -%}
              <span data-unit-price-base-unit>
                {%- if variant.unit_price_measurement -%}
                {%- if variant.unit_price_measurement.reference_value != 1 -%}
                {{- variant.unit_price_measurement.reference_value -}}
                {%- endif -%}
                {{ variant.unit_price_measurement.reference_unit }}
                {%- endif -%}
              </span>
              {%- endcapture -%}

              {%- if variant.unit_price_measurement -%}
              {{ variant.unit_price | money }}{{- unit_price_separator -}}{{- unit_price_base_unit -}}
              {%- endif -%}

            </div>
          </div>

          {% if section.settings.reviews %}   
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {%- endif -%}


          {% if section.settings.show_featured_shop_desc %}
          <div class="product-item-caption-desc product-rte-description">
            {{ product.description }}
            <!-- <p>{{ product.description | strip_html | truncatewords: section.settings.featured_view_desc_truncate }}</p>                       -->
            {% if section.settings.show_featured_shop_product_link %}
            <p><b><a class="text-link" href="{{ product.url | within: collection }}">{{ 'products.product.view_product' | t }} {% render 'icon-right-arrow' %}</a></b></p>
            {% endif %}        
          </div>
          {% endif %}


          {% if section.settings.deals_section != blank %}              
          {% include 'deal-snippet' %}
          {% endif %}
        </div>


        {% capture product_form_config %}
        {
        "money_format": {{ shop.money_format | json }},
        "enable_history": true,
        "currency_switcher_enabled": {{ settings.display_currency | json }},
        "sold_out": {{ "products.product.sold_out" | t | json }},
        "button": {{ 'products.product.add_to_cart' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }}
        }
        {% endcapture %}
        {% form 'product', product, data-product-form:product_form_config %}
        {% if section.settings.show_variants_swatches %}
        <style>
          .product-select-block-{{ section.id }} {
            display: none;
          }
        </style>
        {% endif %}

        <div class="product-item-caption-select product-select-block-{{ section.id }}">
          {% unless product.options.size == 1 and product.variants[0].title contains 'Default' and product.variants.size == 1%}
          {% for option in product.options_with_values %}
          <div class="selector-wrapper main-product-select-{{product.id}}">
            <label {% if option.name == 'default' %}class="hidden" {% endif %} for="product-select-{{ option.name }}">
              {{ option.name }}
            </label>
            <select class="single-option-selector" id="SingleOptionSelector-{{ forloop.index0 }}">
              {% for value in option.values %}
              <option {% if option.selected_value == value %}selected{% endif %}>{{value}}</option>
              {% endfor %}
            </select>
          </div>
          {% endfor %}
          {% endunless %}

          <select name="id" id="ProductSelect-{{ product.id }}" data-section="{{ section.id }}" class="product-form__variants hidden">
            {% for variant in product.variants %}
            {% if variant.available %}
            <option {% if section.settings.show_product_quantity %}
                    data-inventory_management="{{variant.inventory_management}}"
                    data-inventory_policy="{{variant.inventory_policy}}"
                    data-inventory_quantity="{{variant.inventory_quantity}}"
                    {% endif %}
                    {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title | escape }}</option>
            {% else %}
            <option disabled="disabled"
                    {% if section.settings.show_product_quantity %}
                    data-inventory_management="{{variant.inventory_management}}"
                    data-inventory_policy="{{variant.inventory_policy}}"
                    data-inventory_quantity="{{variant.inventory_quantity}}"
                    value="{{ variant.id }}"
                    {% endif %}  >{{ variant.title | escape }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
            {% endfor %}
          </select>

        </div>
        {% if section.settings.show_variants_swatches %}
        {% unless product.options.size == 1 and product.variants[0].title contains 'Default' and product.variants.size == 1%}
        {% for option in product.options %}
        {% render 'swatch' with option %}
        {% endfor %}
        {% endunless %}
        {% endif %}

        {% if section.settings.show_size_chart  or product.options contains 'Size' %}
        {% if product.options contains 'Size' %}
        <div class="product-attributes">
          <a class="trigger-pop-up"> 
            <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
              <path d="M95.3,26.3L73.7,4.7c-1.2-1.2-3.1-1.2-4.3,0l-8.6,8.6l15.1,15.1l-4.3,4.3L56.5,17.7L50,24.1l10.8,10.8l-4.3,4.3L45.7,28.4
                       l-6.5,6.5L54.3,50L50,54.3L34.9,39.2l-6.5,6.5l10.8,10.8l-4.3,4.3L24.1,50l-6.5,6.5l15.1,15.1l-4.3,4.3L13.3,60.8l-8.6,8.6
                       c-1.2,1.2-1.2,3.1,0,4.3l21.6,21.6c1.2,1.2,3.1,1.2,4.3,0l64.7-64.7C96.5,29.4,96.5,27.5,95.3,26.3z"/></svg>

            {{ 'products.product.size_chart' | t }}
          </a> 
        </div>
        {% endif %}
        {% endif %}	
        {% if section.settings.show_product_sku or  section.settings.show_product_vendor or  section.settings.show_product_quantity  %}       
        {% if section.settings.show_product_vendor %}
        <div class="product-attributes">
          <h6 class="product-label">{{ 'products.product.vendor' | t }}</h6> 
          {{ product.vendor | link_to_vendor }}        
        </div>
        {% endif %}

        {% if section.settings.show_product_sku %}
        <div id="sku-table" class="product-attributes sku-table-{{section.id }} attributes-hidden">
          <h6 class="product-label">{{ 'products.product.sku' | t }}</h6><span id="variant-sku" class="variant-sku-{{section.id }}"></span>
        </div>
        {% endif %}  

        {% if section.settings.show_product_type %}          
        <div class="product-attributes">
          <h6 class="product-label">{{ 'products.product.type' | t }}</h6> {{ product.type }}          
        </div>
        {% endif %}        
        {% endif %}

        {% if section.settings.show_product_quantity %}
        <div id="inventory-product" class="product-attributes inventory-product-{{section.id }} attributes-hidden">
          <h6 class="product-label">{{ 'products.product.availability' | t }}</h6> 
          <span id="variant-inventory" class="variant-inventory-{{section.id }}"></span>
        </div>
        {% endif %}

        {% if section.settings.show_quantity_selector %}
        <div class="product-attributes dt-sc-qty">
          <h6 class="product-label">{{ 'products.product.quantity' | t }}</h6>
          <div class="product-form__item product-form__item--quantity product-item-caption-qty">
            <button class="btn-number btn-number-{{ section.id }}" type="button"  data-type="minus" data-field="quant[1]">-</button>
            <input type="text" id="Quantity-{{ section.id }}" name="quantity" value="1" class="form-control input-number input-number-{{ section.id }} product-form__input" pattern="[0-9]*">
            <button class="btn-number btn-number-{{ section.id }}" type="button"  data-type="plus" data-field="quant[1]">+</button>
          </div>
        </div>

        {% endif %}
        {% if section.settings.show_checkout%}
        <div class="product-form__item product-form__item--submit product_payments_btns" {% unless show_cart_button %} style="display:none" {% endunless %}>
          <button type="submit" name="add" id="dT_AddToCart-{{section.id}}" class="dT_AddToCart dt-sc-btn featured_product_submit product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' and product.variants.size == 1 %} product-form__cart-submit--small{% endif %} btn-primary btn-block btn-lg btn-shop">
            <span class="dT_AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
          {{ form | payment_button }}
        </div>

        {% else %}

        <div class="product-form__item product-form__item--submit">
          <button type="submit" name="add" id="dT_AddToCart-{{section.id}}" class="dT_AddToCart dt-sc-btn featured_product_submit product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' and product.variants.size == 1 %} product-form__cart-submit--small{% endif %} btn-primary btn-shop btn-lg" {% unless show_cart_button %} style="display:none" {% endunless %}>
            <span class="dT_AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
        </div>
        {% endif %}

        {% endform %}  
        
        {% if section.settings.show_wishlist %}
        <div class="dT_VProdWishList">
          {% render 'button-wishlist' %}
        </div>  
        {% endif %}
        {% include 'notify-form' %}
        <div
             class="product-inventory-availability"
             data-inventory-availability
             data-product-title="{{ product.title | escape }}"
             data-has-only-default-variant="{{ product.has_only_default_variant }}"
             data-base-url="{{ shop.url }}{{ routes.root_url }}"
             >
        </div>
        {% if section.settings.show_share_buttons %}
        {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
        <div class="product-meta-content">
          <div class="dt-sc-accordion-container text-start style-1 segmented-layout">
            {% if product.metafields.my_fields.tab_1_title != blank and product.metafields.my_fields.tab_1_text != blank %}
              <div class="accordion">
                <h5> - {{ product.metafields.my_fields.tab_1_title }}</h5>
              </div>
              <div class="panel" >
                <div class="dt-sc-accordion-content-inner">
                  <p>{{ product.metafields.my_fields.tab_1_text }}</p>
                </div>
              </div>
            {% endif %}
            {% if product.metafields.my_fields.tab_2_title != blank and product.metafields.my_fields.tab_2_text != blank %}
              <div class="accordion">
                <h5> - {{ product.metafields.my_fields.tab_2_title }}</h5>
              </div>
              <div class="panel " >
                <div class="dt-sc-accordion-content-inner">
                  <p>{{ product.metafields.my_fields.tab_2_text }}</p>
                </div>
              </div>
            {% endif %}
            {% if product.metafields.my_fields.tab_3_title != blank and product.metafields.my_fields.tab_3_text != blank %}
              <div class="accordion">
                <h5> - {{ product.metafields.my_fields.tab_3_title }}</h5>
              </div>
              <div class="panel " >
                <div class="dt-sc-accordion-content-inner">
                  <p>{{ product.metafields.my_fields.tab_3_text }}</p>
                </div>
              </div>
            {% endif %}
            {%- comment -%} Shipping and Processing {%- endcomment -%}
            {% if section.settings.show_shipping %}
              <div class="accordion">
                <h5> - {{ section.settings.shipping_title }}</h5>
              </div>
              <div class="panel" >
                <div class="dt-sc-accordion-content-inner">
                  {% for block in section.blocks %}
                    <div class="accordion_content_header">
                      {% if block.settings.icon != blank %}
                        <span>{{ block.settings.icon }}</span>
                        <strong>{{ block.settings.title }}</strong>
                      {% endif %}
                    </div>
                    <div class="accordion_content_desc">
                      {{ block.settings.content }}
                    </div>
                  {% endfor %}
                </div>
              </div>  
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>      
  </div>

  <div class="product-tab">
    {% render 'product-tab' %}  
  </div>
  
</div>
{% if section.settings.enable_enquiry %}
{% render 'enquiry-form' %}
{% endif %}
{% if section.settings.show_size_chart  and product.options contains 'Size' %}
{% render 'size-chart' %}
{% endif %}
{% unless product.empty? %}
<style>
  .product-meta-content{
    margin-top: 30px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    width: 100%;
  }
  .text-center .dt-sc-accordion-btn h5 { justify-content: center; }
  .text-end .dt-sc-accordion-btn h5 { justify-content: flex-end; }

  .dt-sc-accordion-container { width: 100%; margin: 0 auto; overflow: hidden; }
  

  .dt-sc-accordion-container .dt-sc-accordion-btn { width: 100%; margin: 0 auto; cursor: pointer; padding: 20px 65px 20px 20px; 
    border-top: 1px solid rgba(255,255,255,.05); }
  .dt-sc-accordion-container .dt-sc-accordion-btn:first-child { border-top: 1px solid transparent; }
  
  .dt-sc-accordion-container.text-center .dt-sc-accordion-btn { padding: 20px 65px 20px 65px;  }
  .dt-sc-accordion-container.text-end .dt-sc-accordion-btn { padding: 20px 20px 20px 65px;  }
  
  .dt-sc-accordion-container .dt-sc-accordion-btn h5 { margin: 0; position: relative; }
  
    

  .dt-sc-accordion-container .dt-sc-accordion-btn h5:after { content: "\f067"; display: block; position: absolute; font-family: FontAwesome; top: 50%; left: -35px; 
    right: auto; transition: var(--DTBaseTransition); transform: translateY(-50%);
  }
  
  

  .dt-sc-accordion-container .dt-sc-accordion-btn h5.active:after { content: "\f068"; }
  .dt-sc-accordion-container .dt-sc-accordion-content { height: 0px; width: 100%; margin: 0 auto; overflow: hidden; }
  
  .dt-sc-accordion-container.segmented-layout { box-shadow: none; border-radius: 0; overflow: visible; }
  
  
  .dt-sc-accordion-container .dt-sc-accordion-content-inner { padding: 30px; }
  .dt-sc-accordion-container .dt-sc-accordion-content-inner p:last-child { margin-bottom: 0; }

  .dt-sc-accordion-container .dt-sc-accordion-content.open { height: auto; }
  
  .dt-sc-accordion-container[class*="style-"] { counter-reset: dt-sc-accordion-counter; }
  .dt-sc-accordion-container[class*="style-"] .dt-sc-accordion-btn { counter-increment: dt-sc-accordion-counter; }
  .dt-sc-accordion-container[class*="style-"] .dt-sc-accordion-btn h5 { display: flex; align-items: center; flex-wrap: wrap; width: 100%; }
  .dt-sc-accordion-container[class*="style-"] .dt-sc-accordion-btn h5:before { display: block !important; position: relative; }

  .dt-sc-accordion-container[class*="style-2"] .dt-sc-accordion-btn h5:before { content: counter(dt-sc-accordion-counter, decimal)'.'; }
  .dt-sc-accordion-container[class*="style-3"] .dt-sc-accordion-btn h5:before { content: 'Q'counter(dt-sc-accordion-counter, decimal)'.'; }
  .dt-sc-accordion-container[class*="style-4"] .dt-sc-accordion-btn h5:before { content: counter(dt-sc-accordion-counter, upper-alpha)'.'; }
  
  
</style>
<script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
</script>
<script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
</script>
<script type="application/json" id="ProductTemplate-{{ product.id }}">
  {
   "template": "product-template"
  }
</script>

<script type="text/javascript">
  {% if section.settings.hide_breadcrumb %}
  // $('.breadcrumb').addClass('breadcrumb-no-bg-image').removeClass('breadcrumb');        
  $('.breadcrumb').remove();
  {% endif %}



</script>
{% endunless %}
<style>
  .product-item-caption-desc{
  	font-size: 20px;
    line-height: 1.5;
  }
  .product-item-caption-desc ul{
  	padding: 20px;
    
  }
  .product-item-caption-desc ul li{
  	list-style: outside;
  }
  .accordion {
    cursor: pointer;
    padding: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: var(--DT_Button_BG_Color);
  }
  .accordion h5{
    margin-top: 14px;
    margin-left: 10px;
    color: white;
  }

  .active, .accordion:hover {
    background-color: #427b7d; 
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  .sidebar-product-template p{
    font-family: inherit;
    font-size: 20px;
    line-height: 1.5;
  }
</style>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>

{% schema %}
{
"name": "Product pages",    
"settings": [
{
"type": "checkbox",
"id": "hide_breadcrumb",
"label": "Hide breadcrumb",
"default": false
},
{
"type": "header",
"content": "Media"
},
{
"type": "paragraph",
"content": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
},
{
  "type": "checkbox",
  "id": "enable_slider",
  "label": "Enable Slider",
  "default": true
},
{
"type":"select",
"id":"gallery_type",
"label":"Gallery type",
"options":[
{
"value":"thumbnails_vertical",
"label":"Thumbnails vertical"
},
{
"value":"thumbnails_horizontal",
"label":"Thumbnails horizontal"
},
{
"value":"thumbnails_hide",
"label":"Hide thumbnails"
}
],
"default":"thumbnails_horizontal"
},
{
"type":"radio",
"id":"vertical_style",
"label":"Thumb placement",
"options":[
{
"value":"dt-sc-product-vertical-thumb-left",
"label":"Left"
},
{
"value":"dt-sc-product-vertical-thumb-right",
"label":"Right"
}
],
"default":"dt-sc-product-vertical-thumb-left"
},
{
"type":"checkbox",
"id":"enable_zoom",
"label":"Enable image zoom",
"default":true
},
{
"type": "checkbox",
"id": "enable_video_looping",
"label":"Enable video looping",
"default": false
},

{
"type": "header",
"content": "Product Meta"
},
{
"type": "checkbox",
"id": "reviews",
"label": "Enable reviews",
"default": true
},
{
"type": "checkbox",
"id": "show_featured_shop_desc",
"label": "Enable Short Description",
"default": true
},
{
"type": "text",
"id": "featured_view_desc_truncate",
"label": "Description limit",
"default": "30",
"info": "The maximum number of characters for the product description"
},
{
"type":"checkbox",
"id":"show_variants_swatches",
"label":"Enable product swatches",
"default":true
},
{
"type":"checkbox",
"id":"deals_section",
"label":"Enable deals section",
"default":false
},
{
"type":"checkbox",
"id":"show_size_chart",
"label":"Enable size chart",
"default":false
},
{
"type":"checkbox",
"id":"show_product_vendor",
"label":"Enable vendor",
"default":false
},
{
"type":"checkbox",
"id":"show_product_type",
"label":"Enable type",
"default":false
},
{
"type":"checkbox",
"id":"show_product_sku",
"label":"Enable product \/ variant SKU",
"default":false
},
{
"type":"checkbox",
"id":"show_product_quantity",
"label":"Enable stock status",
"default":true
},
{
"type" : "checkbox",
"id" : "display_back_in_stock",
"label" : "Enable back in stock",
"default" : false
},
{
"type":"checkbox",
"id":"show_quantity_selector",
"label":"Enable quantity selector",
"default":true
},
{
"type": "checkbox",
"id": "show_checkout",
"label": "Enable buynow",
"default":true
},
{
"type": "checkbox",
"id": "show_wishlist",
"label": "Enable Wishlist",
"default":true
},
{
"type":"checkbox",
"id":"show_share_buttons",
"label":"Show social sharing buttons",
"default":true
},
{
"type": "header",
"content": "Tab Section"
},
{
"type": "checkbox",
"id": "product_tab1",
"label": "Enable Product Description",
"default": true
},
{
"type": "text",
"id": "product_tab1_heading",
"label": "Tab 1",
"default": "Product Description"
},
{
"type": "checkbox",
"id": "product_tab2",
"label": "Enable Shipping details",
"default": false
},
{
"type": "text",
"id": "product_tab2_heading",
"label": "Tab 2",
"default": "Additional information"
},      
{
"type": "page",
"id": "page_content",
"label": "Select the page"    
},      
{
"type": "checkbox",
"id": "product_tab3",
"label": "Enable Product Review",
"default": false
},
{
"type": "text",
"id": "product_tab3_heading",
"label": "Tab 3",
"default": "Reviews"
},
  {
    "type": "checkbox",
    "id": "enable_enquiry",
    "label": "Show Enquiry Form",
    "default": false
  },
  {
    "type": "header",
    "content": "Shipping & Processing"
  },
  {
    "type": "checkbox",
    "id": "show_shipping",
    "label": "Show Shipping & Processing",
    "default": true
  },
  {
    "type": "text",
    "id": "shipping_title",
    "label": "Shipping Title",
    "default": "Shipping and Processing"
  }     
],
"blocks": [
  {
    "type": "shipping_content",
    "name": "Shipping Content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "html",
        "id": "icon",
        "label": "Icon"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ]
  }
]
}
{% endschema %}