{% if section.blocks.size > 0 %}
{% case section.settings.grid %}
{% when '1' %}
{% when '2' %}
{%- assign column = 'two-column' -%}
{% when '3' %}
{%- assign column = 'three-column' -%}              
{% when '4' %}
{%- assign column = 'four-column' -%}              
{% else %}
{%- assign column = 'three-column' -%}              
{% endcase %} 
{% endif %}


{% if section.settings.enable_grid_style %}
{% assign grid_style = 'dt-sc-grid-style' %}
{% endif %}

{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}

{% case section.settings.background_style %}
{% when 'default' %}
{% when 'parallax' %}
{%- assign background_style = 'data-speed="2"' %}
{% when 'fixed' %}
{%- assign background_style = 'data-speed="1"' %}
{% endcase %} 

{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}

<div class="dt-sc-section-wrapper {{lazyScript}} {{section_overlay}} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" style="{% render 'bg-color-image-padding' %}" data-style="parallax" {{background_style}} {% include 'bg_image' %}>  
  <div class="{% render 'container-settings' %}"> 
    <div class="row {{ section.settings.custom_class_name }}">

        <div class="dt-sc-heading {{ section.settings.heading_position | escape}}">
            {% if product.metafields.my_fields.support_sub_title != blank %}
            <h4 class="dt-sc-sub-heading">{{product.metafields.my_fields.support_sub_title}}</h4>
            {% endif %}
            {% if product.metafields.my_fields.support_title != blank %}
            <h2 class="dt-sc-main-heading">{{product.metafields.my_fields.support_title}}</h2>
            {% endif %}  
            {% if product.metafields.my_fields.support_description != blank %}
            <p class="dt-sc-heading-description">{{product.metafields.my_fields.support_description}}</p>
            {% endif %}
       
        </div>
      <div class="dt-sc-support-blocks-section dt-sc-column {{grid_style}} {{column}} four-column {{section.settings.block_style}} {{section.settings.vertical_position}}">
        {% for i in (1..4) %}
            {% assign icon_image = 'support_icon_' | append:i %}
            {% assign icon_title = 'support_icon' | append:i | append:'_title' %}
            {% assign icon_description = 'support_icon' | append:i | append:'_description' %}
            {% assign suppor_icon = product.metafields.my_fields[icon_image] %}
                <div class="dt-sc-support-block {{ section.settings.text_position}} {% if section.settings.reverse_column %}dt-sc-reverse-columns{% endif %}">    
                    {% if  product.metafields.my_fields[icon_image] != blank %}
                    <div class="dt-sc-support-icon-image">
                    {%- assign img_url =  product.metafields.my_fields[icon_image] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                        data-aspectratio="{{ section.settings.icon.aspect_ratio }}"
                        data-sizes="auto"            
                        alt=" ">            
                    <noscript>
                        {{  product.metafields.my_fields[icon_image] | img_url: '480x480', scale: 2 | img_tag:  product.metafields.my_fields[icon_image].alt, 'dt-sc-noscript-image' }}
                    </noscript>
                    </div>
                    {% endif%}     
                    <div class="dt-sc-support-content">
                    {% if product.metafields.my_fields[icon_title] != blank  %}  
                    <h5 class="dt-sc-support-heading">{{ product.metafields.my_fields[icon_title] }}</h5>
                    {% endif %} 
                    {% if product.metafields.my_fields[icon_description] != blank  %}  
                    <p class="dt-sc-support-description"> {{ product.metafields.my_fields[icon_description] }}</p>
                    {% endif %}
                    {% if block.settings.link != blank and block.settings.link_text != blank %}
                    <a href="{{ block.settings.link}}" class="dt-sc-btn">{{block.settings.link_text}}</a>
                    {% endif %}
                    </div>
                </div>
        {% endfor %}
        
      </div>
      {% if section.settings.side_image != blank  or section.settings.side_image_2 != blank  %}
      <div class="support-side_image">
        {% if section.settings.side_image != blank  %}
        <img src="{{section.settings.side_image | img_url: '500x'}}" />
        {% endif %}          
      </div>
      {% endif %}
    </div>
  </div>
</div>

<style type="text/css">
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-overlay:before  { color: var(--DTTertiaryColor); 
    color: {{ section.settings.background_color }};    
    background: currentcolor; 
    opacity: {{ section.settings.overlay_transparency }}; }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Body); color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.home-support-block .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Body); color:{{ section.settings.section_sub_heading_color }}; } 
  #shopify-section-{{section.id}}.home-support-block .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body); color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.home-support-block .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color);  background:{{ section.settings.section_button_bg_color }}; 
      color: var(--DT_Button_Text_Color); color:{{ section.settings.section_button_text_color }}; }
  #shopify-section-{{section.id}}.home-support-block .dt-sc-heading .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); background:{{ section.settings.section_button_hover_bg_color }}; 
      color: var(--DT_Button_Text_Hover_Color); color:{{ section.settings.section_button_hover_text_color }};
        }

  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image { 
    border-radius: {{ section.settings.icon_border_radius }}; }  
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2 { 
    
    border-color: var(--DTTertiaryColor);
    border-color: {{ section.settings.block_border_color }};
    
    border-left-width: 1px; border-left-style: solid; 
    border-top-width: 1px; border-top-style: solid; 
  }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2 .dt-sc-support-block { 
    border-color: var(--DTTertiaryColor);
    border-color: {{ section.settings.block_border_color }};
    
    border-right-width: 1px; border-right-style: solid; 
    border-bottom-width: 1px; border-bottom-style: solid; 
  }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-3 .dt-sc-support-block { 
    border-color: var(--DTTertiaryColor);
    border-color: {{ section.settings.block_border_color }};
    
    border-width: 1px; border-style: solid;
    {% if section.settings.enable_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %} 
      border-radius: {{ section.settings.border_radius }};
  }  
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image { 
    background: transparent; background: {{ section.settings.block_icon_bg }}; 
  }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section[class*="style-"] .dt-sc-support-block { 
    background: var(--DTBodyBGColor); background: {{ section.settings.block_bg }}; } 
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image {
  	width: {{ section.settings.block_icon_outer_size }}; height: {{ section.settings.block_icon_outer_size }}; 
  }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section:not(.dt-sc-grid-style) .dt-sc-support-block .dt-sc-support-content { 
    width: calc(100% - {{ section.settings.block_icon_outer_size }}); 
  }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image img,
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image i { 
    font-size: {{ section.settings.block_icon_size }}; height: {{ section.settings.block_icon_size }}; width: auto;
  }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content .dt-sc-support-heading { 
    color: var(--DTColor_Heading); color:{{ section.settings.block_heading_color }}; }
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content .dt-sc-support-description { 
    color: var(--DTColor_Body); color:{{ section.settings.block_description_color }}; }
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content .dt-sc-btn { 
    background:var(--DT_Button_BG_Color); color: var(--DT_Button_Text_Color);
  	background:{{ section.settings.block_button_bg_color }}; color:{{ section.settings.block_button_text_color }};
  }
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content .dt-sc-btn:hover { 
  	background:var(--DT_Button_BG_Hover_Color); color: var(--DT_Button_Text_Hover_Color);
    background:{{ section.settings.block_button_hover_bg_color }}; color:{{ section.settings.block_button_hover_text_color }};
  }
    
  .dt-sc-support-blocks-section .dt-sc-support-block { display: block; flex-wrap: wrap; height: 100%; align-items: flex-end; }
  
  .dt-sc-support-blocks-section .dt-sc-support-block.text-center .dt-sc-support-content { padding: 0 20px; }
  
  .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content { padding-left: 20px; padding-right: 0; }  
  .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content .dt-sc-btn { display: inline-block; }
  .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content *, 
  .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content *:not(:only-child) { margin: 0; }
  .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-content *:not(:last-child) { margin: 0 0 10px 0; }
  
  .dt-sc-support-blocks-section .dt-sc-support-block.dt-sc-reverse-columns .dt-sc-support-content { padding-right: 20px; padding-left: 0; }
  
  .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image { display: flex; justify-content: center; align-items: center; }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image {
    background: transparent; background: {{ section.settings.block_icon_bg }};      
    border-color: transparent;
    border-color: {{ section.settings.block_icon_border_color }};
    
    border-width: 1px; border-style: solid;
  }
  
  .dt-sc-support-blocks-section .dt-sc-support-block .dt-sc-support-icon-image img { width: 100%; }
  
  .dt-sc-support-blocks-section.position-vertical-center:not(.dt-sc-grid-style) .dt-sc-support-block { align-items: center; }	
  .dt-sc-support-blocks-section.position-vertical-bottom:not(.dt-sc-grid-style) .dt-sc-support-block { align-items: flex-end; }	
  
  .dt-sc-support-blocks-section:not(.dt-sc-grid-style) .dt-sc-support-block { align-content: center; }
  .dt-sc-support-blocks-section:not(.dt-sc-grid-style) .dt-sc-support-block .dt-sc-support-icon-image { margin: 0 auto; }
  
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block { flex-direction: row; }
  
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block > *:not(:last-child)  { margin: 0 auto 20px; }
  
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block.text-start > *:not(:last-child)  { margin-left: 0; margin-right: auto; }
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block.text-end > *:not(:last-child)  { margin-right: 0; margin-left: auto; }
  
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block .dt-sc-support-content { width: 100%; padding: 0; }
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block.text-center .dt-sc-support-content p { width: 80%; margin: auto; }
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block.text-end { justify-content: flex-end; }
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block.dt-sc-reverse-columns { flex-direction: column-reverse; align-self: center; justify-content: center; }
  .dt-sc-support-blocks-section.dt-sc-grid-style .dt-sc-support-block.dt-sc-reverse-columns.text-end .dt-sc-support-icon-image { margin-left: auto; }
  
  
  .dt-sc-support-blocks-section.dt-sc-grid-style.position-vertical-center .dt-sc-support-block { position: relative; }
  .dt-sc-support-blocks-section.dt-sc-grid-style.position-vertical-center .dt-sc-support-block:not(:last-child):before { content: ""; position: absolute;
  background-color: var(--DTPrimaryColor); background-color: {{ section.settings.block_border_color }}; mask-size: contain; -webkit-mask-size: contain;
  -webkit-mask-position: center; -webkit-mask-repeat: no-repeat; -webkit-mask-image:url({{ "support-block-sep.png" | asset_url }}); width: 25px; height: 265px; right:-5%; }
  
  .dt-sc-support-blocks-section.style-2 { grid-gap: 0; }
  .dt-sc-support-blocks-section.style-2 .dt-sc-support-block { padding: 30px; }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2 { 
    {% if section.settings.enable_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %} 
    border-radius: {{ section.settings.border_radius }}; overflow: hidden; 
      }
  
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2 .dt-sc-support-block:last-child { 
    border-radius: 0 0 {{ section.settings.border_radius }} 0;
  }

  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.one-column .dt-sc-support-block:first-child,
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.two-column .dt-sc-support-block:nth-child(2):last-child,
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.three-column .dt-sc-support-block:nth-child(3):last-child,
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.four-column .dt-sc-support-block:nth-child(4):last-child,
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.five-column .dt-sc-support-block:nth-child(5):last-child,
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.six-column .dt-sc-support-block:nth-child(6):last-child { 
    border-radius: 0 {{ section.settings.border_radius }} {{ section.settings.border_radius }} 0;
  }

  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.one-column .dt-sc-support-block:first-child,
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.two-column .dt-sc-support-block:nth-child(2):not(:last-child),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.three-column .dt-sc-support-block:nth-child(3):not(:last-child),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.four-column .dt-sc-support-block:nth-child(4):not(:last-child),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.five-column .dt-sc-support-block:nth-child(5):not(:last-child),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.six-column .dt-sc-support-block:nth-child(6):not(:last-child) { 
    border-radius: 0 {{ section.settings.border_radius }} 0 0; 
  }

  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.one-column .dt-sc-support-block:last-child { 
    border-radius: 0 0 {{ section.settings.border_radius }} {{ section.settings.border_radius }}; 
  }

  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.one-column .dt-sc-support-block:only-child { 
    border-radius: 0 {{ section.settings.border_radius }} {{ section.settings.border_radius }} {{ section.settings.border_radius }}; 
  } 

  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.two-column .dt-sc-support-block:nth-last-child(2),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.three-column .dt-sc-support-block:nth-last-child(3),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.four-column .dt-sc-support-block:nth-last-child(4),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.five-column .dt-sc-support-block:nth-last-child(5),
  #shopify-section-{{section.id}}.home-support-block .dt-sc-support-blocks-section.style-2.dt-sc-column.six-column .dt-sc-support-block:nth-last-child(6) { 
    border-radius: 0 0 0 {{ section.settings.border_radius }}; 
  }
  
  .dt-sc-support-blocks-section.style-3 .dt-sc-support-block { padding: 30px; }
  
  .home-support-block .support-side_image { position: absolute; left: 2%; top: 30%; }
  
  @media (max-width: 1280px) {.home-support-block .support-side_image { display: none; } }
  
  @media (max-width: 1199px) and (min-width: 768px) {
    
    .dt-sc-support-blocks-section.dt-sc-grid-style.position-vertical-center .dt-sc-support-block:not(:last-child):before { display: none; }
    
  }
  
  @media (max-width: 767px) {
  
    .dt-sc-support-blocks-section.dt-sc-grid-style.position-vertical-center .dt-sc-support-block:not(:last-child):before { display: none; }
    
  }


</style>

{% schema %}
{
"name": "Product Support Block",
"class": "index-section home-support-block",
"settings": [
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "checkbox",
"id": "show_background_image",
"label": "Enable Background image"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background image",
"info": "Size: 1920x1280"
},
{
"type": "select",
"id": "background_style",
"label": "Background Style",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "parallax",
"label": "Parallax"
},
{
"value": "fixed",
"label": "Fixed"
}
]
},
{
"type": "checkbox",
"id": "enable_overlay",
"label": "Enable Background Color (Used as Background Image Overlay Color too)"
},
{
"type": "color",
"id": "background_color",
"label":"Background color"
},
{
"type": "text",
"id": "overlay_transparency",
"label": "Overlay Transparency (0.01 to 1)",
"default": "0.5"
},
{
        "type": "header",
        "content": "Section Color settings"
        },
        {
        "type": "color",
        "id": "section_heading_color",
        "label": "Heading color"
        },    
        {
        "type": "color",
        "id": "section_sub_heading_color",
        "label": "Sub heading color"
        },   
        {
        "type": "color",
        "id": "section_description_color",
        "label": "Description color"
        },  
        {
        "type": "color",
        "id": "section_button_bg_color",
        "label": "Button bg color"
        },   
        {
        "type": "color",
        "id": "section_button_text_color",
        "label": "Button text color"
        },   
        {
        "type": "color",
        "id": "section_button_hover_bg_color",
        "label": "Button hover bg color"
        },   
        {
        "type": "color",
        "id": "section_button_hover_text_color",
        "label": "Button hover text color"
        },
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
]
},
{
"type": "header",
"content": "Block Settings"
},
{
"type": "select",
"id": "text_position",
"label": "Block Text position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
],
"default": "text-start"
},
{
"type": "select",
"id": "block_style",
"label": "Block Style",
"options": [
{
"value": "default-style",
"label": "Style 1"
},
{
"value": "style-2",
"label": "Style 2"
},
{
"value": "style-3",
"label": "Style 3"
}
],
"default": "default-style"
},
{
"type": "select",
"id": "grid",
"label": "Item per row",
"default": "4",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
}
]
},
{
"type": "checkbox",
"id": "enable_grid_style",
"label": "Enable Grid Style"
},
{
"type": "select",
"id": "vertical_position",
"label": "Vertical position (Uncheck 'Enable Grid Style' and set the position)",
"options": [
{
"value": "position-default",
"label": "Vertical top"
},
{
"value": "position-vertical-center",
"label": "Vertical center"
},
{
"value": "position-vertical-bottom",
"label": "Vertical bottom"
}
],
"default": "position-default"
},
{
"type": "checkbox",
"id": "reverse_column",
"label": "Content reverse",
"default": false
},
{
"type": "text",
"id": "border_radius",
"label": "Overall Radius (in px)",
"default":"0px",
"info": "Not for Style 1"
},
{
"type": "text",
"id": "icon_border_radius",
"label": "Icon Radius (in px) - Set 50% for Rounded Icon",
"default":"0px"
},
{
"type": "checkbox",
"id": "enable_box_shadow",
"label": "Enable Box Shadow",
"default": false,
"info": "Not for Style 1"
},
{
"type": "text",
"id": "block_icon_outer_size",
"label": "Icon/Image Outer Size (in px)",
"default":"60px",
"info":"To get rid of this Outer layer, set same size for Icon/Image Outer & Icon/Image, then remove Icon Background & Border Color"
},
{
"type": "text",
"id": "block_icon_size",
"label": "Icon/Image Size (in px) - Should be lesser than Block Icon Size",
"default":"40px"
},
{
"type": "header",
"content": "Block Color settings"
},
{
"type": "color",
"id": "block_border_color",
"label": "Border color"
},
{
"type": "color",
"id": "block_bg",
"label": "Background Color"
},
{
"type": "color",
"id": "block_icon_bg",
"label": "Icon Background Color"
},
{
"type": "color",
"id": "block_icon_border_color",
"label": "Icon Border Color"
},
{
"type": "color",
"id": "block_heading_color",
"label": "Heading Color"
},
{
"type": "color",
"id": "block_description_color",
"label": "Description Color"
},  
{
"type": "color",
"id": "block_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "block_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "block_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "block_button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "header",
"content": "Custom class"
},
{
"type": "text",
"id": "custom_class_name",
"label": "Add your custom class name here"
},
{
"type": "image_picker",
"id": "side_image",
"label": "Additional image",
"info": "Size: 750x500"
}
]
}
{% endschema %}