{% if section.blocks.size > 0 %}
{% assign full = section.settings.full %}
{% assign margin = section.settings.margin | split: ',' %}
{% assign top = margin[0] %}
{% assign bottom = margin[1] %}

<div class="{% render 'container-settings' %}" data-section-id="{{ section.id }}" data-section-type="slideshow-section" data-autoPlay="{{ section.settings.autoplay }}" data-animation-speed="{{ section.settings.slideshow_speed}}">  
  <div class="row {{ section.settings.custom_class_name }}">
    <div class="dt-sc-swiper-slider swiper-container {% if section.settings.dots %} {{ section.settings.carousel_pagination_bottom_alignment }} {{ section.settings.carousel_pagination_alignment }} {% endif %} {% if section.settings.arrows %}  {{ section.settings.nav_arrow_position }} {{ section.settings.center_nav_arrow_alignment }} {% endif %}" style="margin-top:{{top}}px; margin-bottom:{{bottom}}px;">
      <div id="home-slider-{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}      
          {%- if  block.settings.text_alignment == 'text-start' -%}
          {%- assign style = '1' -%}
          {%- elsif block.settings.text_alignment == 'text-end' -%}
          {%- assign style = '2' -%}
          {%- else -%}
          {%- assign style = '3' -%}
          {%- endif -%}
          <div class="slider_style_{{style}} slider-{{ block.id }}-list swiper-slide"> 
            {% include 'slider-data' %}        
          </div>     
          {% endfor %}
        </div>
        {% if section.settings.arrows %}
      <div class="swiper-{{ section.id}}-arrows swiper-arrows">
        <div class="swiper-button-next dt-sc-btn" id="swiper-button-next-{{section.id}}"></div>
        <div class="swiper-button-prev dt-sc-btn" id="swiper-button-prev-{{section.id}}"></div>
      </div>
      {% endif %}
      {% if  section.settings.dots -%}
      <div class="swiper-pagination" id="swiper-pagination-{{section.id}}"></div>
      {% endif %}
      </div>      
    </div>
  </div>
</div>
{% endif %}

<style>
  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider { padding-bottom: 0; }
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container [class*="swiper-container"] { margin: 0; padding: 0;
  
  {% if section.settings.enable_box_shadow %} box-shadow: var(--DTboxShadow); {% endif %} 
      border-radius: var(--DTRadius); border-radius: {{ section.settings.border_radius }}px; 
  }
  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container [class*="swiper-container"] > .swiper-wrapper,
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container [class*="swiper-container"] > .swiper-wrapper > .swiper-slide,
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container [class*="swiper-container"] > .swiper-wrapper > .swiper-slide > img { border-radius: inherit; }
    
  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn { 
      background: {{ section.settings.navigation_button_color }};  
  }
  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn[class*="swiper-button-"]:after {   
    color: var(--DTSecondaryColor);
      color: {{ section.settings.navigation_button_icon_color }};
 }
  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover { 
      background: {{ section.settings.navigation_button_hover_color }}; 
  }
  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-arrows .dt-sc-btn:hover[class*="swiper-button-"]:after { 
    color: var(--DTPrimaryColor);
      color: {{ section.settings.navigation_button_hover_icon_color }};
  }
  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet { 
    background: var(--DTSecondaryColor);  
      background: {{ section.settings.navigation_dot_color }};  
  }  
  #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: var(--DTPrimaryColor);  
      background: {{ section.settings.navigation_dot_active_color }};  
  }

  {% for block in section.blocks %}
  .home-slideshow-section .slider-{{ block.id }}-list .dt-sc-btn { 
    background: var(--DT_Button_BG_Color); background:{{ block.settings.btn_bg_color  }};
      color: var(--DT_Button_Text_Color); color:{{ block.settings.btn_txt_color }}; border:none; }
  .home-slideshow-section .slider-{{ block.id }}-list .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); background:{{ block.settings.btn_hoverbg_color  }};
      color: var(--DT_Button_Text_Hover_Color); color:{{ block.settings.btn_hovertxt_color }};border:none; }

  .home-slideshow-section .slider-{{ block.id }}-list .dt-sc-btn.secondary {  
    background: var(--DT_Button_BG_Hover_Color); background:{{ block.settings.btn_bg_color_2  }};
      color: var(--DT_Button_Text_Hover_Color); color:{{ block.settings.btn_txt_color_2 }}; }
  .home-slideshow-section .slider-{{ block.id }}-list .dt-sc-btn.secondary:hover { 
    background: var(--DT_Button_BG_Color); background:{{ block.settings.btn_hoverbg_color_2  }}; 
      color: var(--DT_Button_Text_Color); color:{{ block.settings.btn_hovertxt_color }}; }

  
  .home-slideshow-section .dt-sc-swiper-slider .slider-{{ block.id }}-list .slider-content [class*="slide_"] { 
    background: {{ block.settings.slide_content_bg }};
  }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-slide img { min-height: {{section.settings.slider_height}}px; }  
  
  @media screen and (min-width: 768px){

    .home-slideshow-section .slider-{{ block.id }}-list .slide-heading { font-size: {{ block.settings.heading_size }}px; }
    .home-slideshow-section .slider-{{ block.id }}-list .slide-sub-heading-2 { font-size: {{ block.settings.subheading_size }}px; }
    .home-slideshow-section .slider-{{ block.id }}-list .slide-text { font-size: {{ block.settings.desc_size }}px; }
    
    .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content [class*="slide_"] .slide-heading { line-height: 100px; }
    

  }

  @media screen and (min-width: 320px) and (max-width: 767px){

    .home-slideshow-section .slider-{{ block.id }}-list .slide-heading { font-size: calc(.75* {{ block.settings.heading_size }}px); }
    .home-slideshow-section .slider-{{ block.id }}-list .slide-sub-heading-2 { font-size: calc(.75* {{ block.settings.subheading_size }}px); }
    .home-slideshow-section .slider-{{ block.id }}-list .slide-text { font-size: {{ settings.type_base_size }}px; }
  }


  {% endfor %}
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.along_with_container[class*="navigation-top"],
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-top"] { padding-top: 0; }
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.along_with_container[class*="navigation-bottom"],
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom"] { padding-bottom: 0; }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-top"] .swiper-arrows,
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom"] .swiper-arrows { margin: 10px; }
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-top-center"] .swiper-arrows,
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom-center"] .swiper-arrows{ margin: 10px auto; }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-top-right"] .swiper-arrows,
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom-right"] .swiper-arrows,
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.outside_container[class*="navigation-bottom-right"] .swiper-pagination { right: 0; }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.along_with_container[class*="navigation-bottom"].outside_element .swiper-pagination, 
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom"].outside_element .swiper-pagination { margin: 20px; bottom: 0 }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.along_with_container[class*="navigation-bottom"].outside_element.center_pagination .swiper-pagination, 
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom"].outside_element.center_pagination .swiper-pagination { 
    margin: 20px auto; bottom: 70px; }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.along_with_container[class*="navigation-bottom"].inside_element .swiper-pagination, 
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom"].inside_element .swiper-pagination { bottom: 30px; }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.along_with_container[class*="navigation-bottom"].inside_element.right_pagination .swiper-pagination, 
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container[class*="navigation-bottom"].inside_element.right_pagination .swiper-pagination { 
    left: 20px; }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.center_pagination.outside_container[class*="navigation-bottom-right"] .swiper-pagination { right: 0; left: 0;
  transform: none; justify-content: center; }
  
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.left_pagination.outside_container[class*="navigation-bottom-right"].outside_element .swiper-pagination { 
    left: 0; }
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_container.navigation-bottom-center.inside_element.center_pagination .swiper-arrows { bottom: 90px; }
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.inside_element.center_pagination.navigation-bottom-center.along_with_container .swiper-pagination-bullets { 
    bottom: 70px; }
    
  .home-slideshow-section .dt-sc-swiper-slider.swiper-container.center-navigation.outside_container [class*="swiper-container"] { margin: auto; padding: 0; }

  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content { position: absolute; height: 100%; width: 100%; left: 0; top: 0; display: flex;
  /* padding: 0 10%; */
  }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] { border-radius: var(--DTRadius); 
    border-radius: {{ section.settings.content_border_radius }}px; 
  }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] { display: flex; flex-wrap: wrap; flex-direction: column; 
    padding: 20px; width: 600px; align-self: flex-start; margin: 60px;
  }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] > * { width: 100%; line-height: normal; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] .multiple-buttons { display: flex; justify-content: center; flex-wrap: wrap; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] .multiple-buttons > *:not(:last-child):not(:only-child) { margin-right: 10px; }

  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] > *, 
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] > *:not(:only-child) { margin: 0; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content *[class*="slide_"] > *:not(:last-child) { margin: 0 0 6% 0; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-start"] [class*="slide_"] { text-align: left; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-start"] [class*="slide_"] .multiple-buttons { justify-content: flex-start; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-end"] [class*="slide_"] { text-align: right; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-end"] [class*="slide_"] .multiple-buttons { justify-content: flex-end; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="text-center"] [class*="slide_"] { text-align: center; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="top-center"] [class*="slide_"],
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="bottom-center"] [class*="slide_"]{ margin-left: auto; margin-right: auto; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-right"] [class*="slide_"] { margin-left: auto; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-left"] [class*="slide_"] { margin-right: auto; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="bottom-"] [class*="slide_"] { align-self: flex-end; }
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="center-"] [class*="slide_"],
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="dt-sc-flex-center"] [class*="slide_"] { align-self: center; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content [class*="slide_"] > svg { width: 100px; height: auto; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content [class*="slide_"] > img { min-height: auto; object-fit: contain; width: auto; }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-start"] [class*="slide_"] > svg {  
    margin-right: auto !important;  
  }
  
    
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-end"] [class*="slide_"] > svg {   
  margin-left: auto !important;
  }
  
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-center"] [class*="slide_"] > svg {   
  margin-left: auto !important; margin-right: auto !important;
  }
  
  {% if section.settings.content_within_container %}
  
    #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content { 

      width: var(--DTContainer); padding: 0; right: 0; margin: auto;

    }

    #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-right"] [class*="slide_"] {

      margin-right: 20px;

    }

    #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-left"] [class*="slide_"] {

      margin-left: 20px;

    }

    @media (max-width: 1540px) {

      #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content { width: var(--DT_Lap_Container); }

    }

    @media screen and (max-width: 1199px){

      #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content { width: var(--DT_Tab_Container); max-width: 100%;
        padding: 0 40px; }

    }
  
  	@media screen and (max-width: 767px){

      #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content [class*="slide_"] { width: 250px; }

    }
  
  	@media screen and (max-width: 576px){

      #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-left"] [class*="slide_"],
      #shopify-section-{{section.id}}.home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="-right"] [class*="slide_"] {
        margin-left: 0; margin-right: 0;
      }

    }
  
  {% endif %}
 
  @media (max-width: 1540px) {
    
    .home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-slide img { min-height: {{section.settings.slider_height_lap}}px; }
    
  }
  
  
  @media screen and (max-width: 1199px){
    
    .home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-slide img { min-height: {{section.settings.slider_height_tab}}px; }
  }
  
  
  
  @media screen and (min-width: 320px) and (max-width: 767px){
    
    {% for block in section.blocks %}
    
    .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-{{ block.id }}-list .slider-content [class*="slide_"] {
      background: var(--DTTertiaryColor); 
        background:{{ block.settings.mobile_bg_clr | color_modify: 'alpha', 0.85 }};}
    
    .home-slideshow-section .slider-{{ block.id }}-list .slide-heading { font-size: calc(.35* {{ block.settings.heading_size }}px); }
    
    {% endfor %}
    
    .home-slideshow-section .dt-sc-swiper-slider.swiper-container .swiper-slide img { min-height: {{section.settings.slider_height_mobile}}px; }
    
    
  }
  
  @media screen and (max-width: 576px) {
    
    .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="top-"] [class*="slide_"],
    .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="bottom-"] [class*="slide_"],
  .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content[class*="center-"] [class*="slide_"] { align-self: center; }
    
    .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content [class*="slide_"] { 
      width: 80%; margin: auto; }
    
    .home-slideshow-section .dt-sc-swiper-slider .swiper-wrapper .slider-content { padding: 0 30px; }
    
  }
</style>

{% schema %}
{
"name": "Slideshow",
"class": "index-section home-slideshow-section",
"max_blocks": 10,
"settings": [
{
"type": "header",
"content": "Outer Settings"
},
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "header",
"content": "Slide Height"
},
{
"type": "range",
"id": "slider_height",
"label": "Desktop",
"min": 400,
"max": 1200,
"step": 10,
"default": 850,	
"unit": "px"	
},
{
"type": "range",
"id": "slider_height_lap",
"label": "Laptop",
"min": 400,
"max": 1200,
"step": 10,
"default": 700,	
"unit": "px"	
},
{
"type": "range",
"id": "slider_height_tab",
"label": "Tablet",
"min": 400,
"max": 1200,
"step": 10,
"default": 550,	
"unit": "px"	
},
{
"type": "range",
"id": "slider_height_mobile",
"label": "Mobile",
"min": 300,
"max": 1200,
"step": 10,
"default": 300,	
"unit": "px"	
},
{
"type": "header",
"content": "Slide Settings"
},
{
"type": "checkbox",
"id": "enable_box_shadow",
"label": "Enable Box Shadow",
"default": false
},
{
"type": "text",
"id": "border_radius",
"label": "Overall Border Radius(Leave empty for Theme Default Border Radius)",
"default":"0",
"info": "Units not needed"
}, 
{
"type": "text",
"id": "content_border_radius",
"label": "Content Border Radius(Leave empty for Theme Default Border Radius)",
"default":"0",
"info": "Units not needed"
}, 
{
"type" : "checkbox",
"id" : "autoplay",
"label" : "Enable Autoplay Slides",
"default": false
},
{
"type": "select",
"id": "slideshow_speed",
"label": "Change slides every (Enable Autoplay Slider bfore selecting this)",
"options": [
{ "value": "5000", "label": "5 seconds" },
{ "value": "6000", "label": "6 seconds" },
{ "value": "7000", "label": "7 seconds" },
{ "value": "8000", "label": "8 seconds" },
{ "value": "9000", "label": "9 seconds" },
{ "value": "10000", "label": "10 seconds" }
],
"default": "5000"
},
{
"type" : "checkbox",
"id" : "dots",
"label" : "Enable Pagination Dots",
"default": true
},
{
"type": "select",
"id": "carousel_pagination_alignment",
"label": "Carousel Pagination Dots Alignment (Only Bottom)",
"options": [
{
"value": "left_pagination",
"label": "Left Aligned"
},
{
"value": "center_pagination",
"label": "Center Aligned"
},
{
"value": "right_pagination",
"label": "Right Aligned"
}
],
"default": "center_pagination"
},
{
"type": "select",
"id": "carousel_pagination_bottom_alignment",
"label": "Carousel Pagination Dots Bottom Alignment (Inside/Outside the Element)",
"options": [
{
"value": "inside_element",
"label": "Inside the Element"
},
{
"value": "outside_element",
"label": "Outside the Element"
}
],
"default": "inside_element"
},
{
"type" : "checkbox",
"id" : "arrows",
"label" : "Enable Navigation Arrows",
"default": true
},
{
"type": "select",
"id": "nav_arrow_position",
"label": "Navigation Arrows position",
"options": [
{
"value": "navigation-top-left",
"label": "Top Left"
},
{
"value": "navigation-top-center",
"label": "Top Center"
},
{
"value": "navigation-top-right",
"label": "Top Right"
},
{
"value": "center-navigation",
"label": "Center"
},
{
"value": "navigation-bottom-left",
"label": "Bottom left"
},
{
"value": "navigation-bottom-center",
"label": "Bottom center"
},

{
"value": "navigation-bottom-right",
"label": "Bottom right"
}     
],
"default": "navigation-bottom-center"
},
{
"type": "select",
"id": "center_nav_arrow_alignment",
"label": "Navigation Arrows position",
"options": [
{
"value": "along_with_container",
"label": "Along with Container"
},
{
"value": "inside_container",
"label": "Inside Container"
},
{
"value": "outside_container",
"label": "Outside Container"
}
],
"default": "inside_container"
},
{
"type": "header",
"content": "Navigation Dots/Arrows Color settings"
},
{
"type": "color",
"id": "navigation_button_color",
"label": "Navigation Arrow Bg Color"
}, 
{
"type": "color",
"id": "navigation_button_icon_color",
"label": "Navigation Arrow Icon Color"
}, 
{
"type": "color",
"id": "navigation_button_hover_color",
"label": "Navigation Arrow Hover Bg Color"
}, 
{
"type": "color",
"id": "navigation_button_hover_icon_color",
"label": "Navigation Arrow Hover Icon Color"
}, 
{
"type": "color",
"id": "navigation_dot_color",
"label": "Navigation Dot Color"
}, 
{
"type": "color",
"id": "navigation_dot_active_color",
"label": "Navigation Dot Active Color"
},
{
"type": "header",
"content": "Custom class"
},
{
"type": "text",
"id": "custom_class_name",
"label": "Add your custom class name here"
}
],
"blocks": [
{
"type": "Slider",
"name": "Slider",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
  "type": "image_picker",
  "id": "mobile_image",
  "label": "Mobile Image"
  },
{
"type": "color",
"id": "mobile_bg_clr",
"label": "Mobile Bg Color"
},
{
"type": "text",
"id": "title_2",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "color",
"id": "subheading_color",
"label": "Sub Heading Color"
},
{
"type": "text",
"id": "subheading_size",
"label": "Subheading Text Size",
"default": "32"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading Color"
},
{
"type": "text",
"id": "heading_size",
"label": "Heading Font Size",
"default": "90"
},

{
"type": "html",
"id": "desc",
"label": "Desc",
"default": "Few lines of short description."
},
{
"type": "color",
"id": "desc_color",
"label": "Desc Color"
},
{
"type": "text",
"id": "desc_size",
"label": "Desc Text Size",
"default": "14"
},
{
"type": "text",
"id": "button",
"label": "Slide Button",
"default":"Shop Now"
},
{
"type": "url",
"id": "link",
"label": "Slide link"
},
{
"type": "color",
"id": "btn_bg_color",
"label": "Button Bg Color"
},
{
"type": "color",
"id": "btn_txt_color",
"label": "Button Text Color"
},
{
"type": "color",
"id": "btn_hoverbg_color",
"label": "Button Hover Bg Color"
},
{
"type": "color",
"id": "btn_hovertxt_color",
"label": "Button Hover Text Color"
},
{
"type": "text",
"id": "button_2",
"label": "Slide Button 2",
"default":"Shop Now"
},
{
"type": "url",
"id": "link_2",
"label": "Slide 2 link"
},
{
"type": "color",
"id": "btn_bg_color_2",
"label": "Button 2 Bg Color"
},
{
"type": "color",
"id": "btn_txt_color_2",
"label": "Button 2 Text Color"
},
{
"type": "color",
"id": "btn_hoverbg_color_2",
"label": "Button 2 Hover Bg Color"
},
{
"type": "color",
"id": "btn_hovertxt_color_2",
"label": "Button 2 Hover Text Color"
},
{
"type": "color",
"id": "slide_content_bg",
"label": "Slide Content Bg Color"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text Alignment",
"options": [
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-end",
"label": "Right"
}     
],
"default": "text-center"
},
{
"type": "select",
"id": "content_position",
"label": "Content position",
"options": [
{
"value": "top-left",
"label": "Top Left"
},
{
"value": "top-center",
"label": "Top Center"
},
{
"value": "top-right",
"label": "Top Right"
},
{
"value": "center-left",
"label": "Center left"
},
{
"value": "dt-sc-flex-center",
"label": "Center"
},
{
"value": "center-right",
"label": "Center right"
},
{
"value": "bottom-left",
"label": "Bottom left"
},
{
"value": "bottom-center",
"label": "Bottom center"
},
{
"value": "bottom-right",
"label": "Bottom right"
}     
],
"default": "dt-sc-flex-center"
}
]
}
],
"presets": [
{
"name": "Slideshow",
"category": "Slider"
}
]
}
{% endschema %}