h2.slide-heading {
    font-family: BakbakOne-Regular;
}
.slide-text {
    font-family: HelloDino;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'BakbakOne-Regular';
}
.ts-nature {
    text-transform: unset !important;
}
p {
    font-family: 'HelloDino';
}
a {
    font-family: 'HelloDino';
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.text-center {
    text-align: center;
}
.btn {
    cursor: pointer;
    transition: all .3s linear;
}
.btn.btn--primary {
    background: #427b7d;
    border-radius: 20px;
    color: #FFF;
    padding: 15px 30px 12px 30px;
}
.btn.btn--primary:hover {
    background: #6a6a6a;
}
@media (max-width: 768px) {
    .hide--mobile {
        display: none !important;
    }
}
@media (min-width: 769px) {
    .hide--desktop {
        display: none !important;
    }
}


/* ------------------------- Header ----------------------- */

header .site-header__cart-toggle svg {
    height: auto;
}

header .header-social-wrapper a {
    font-size: 24px;
    padding-left: 8px !important;
    padding-right: 8px !important;
}


/* ----------------------------- Homepage / Slideshow Section -------------------------------- */

body.template-index .home-slideshow-section .slider-content {
    bottom: 10%;
    top: unset !important;
    height: fit-content !important;
}

@media (max-width: 768px) {
    body.template-index .home-slideshow-section .slider-content {
        bottom: 0px;
        /* display: none !important; */
    }
    body.template-index .home-slideshow-section .slider-content > div {
        background: unset !important;
        display: block !important;
        padding: 0px !important;
    }
    body.template-index .home-slideshow-section .slider-content .multiple-buttons {
        justify-content: center !important;
    }
    body.template-index .home-slideshow-section .swiper-arrows {
        height: 100%;
        top: 0;
    }
    body.template-index .home-slideshow-section .swiper-button-next {
        right: 15px !important;
        left: unset !important;
        top: 50%;
        transform: translateY(-50%);
    }
    body.template-index .home-slideshow-section .swiper-button-prev {
        right: unset !important;
        left: 15px !important;
        top: 50%;
        transform: translateY(-50%);
    }
}
/* ----------------------------- Homepage / Product Grid Section --------------------------------- */

.section-featured-product-grid img {
    width: 100%;
}
.section-featured-product-grid {
    clear: both;
}
.section-featured-product-grid .card_image label {
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all .3s linear;
    z-index: 1;
}

.section-featured-product-grid .card_image:hover::after {
    background: #ffffffb5;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section-featured-product-grid .product-card:hover .card_image label {
    opacity: 1;
}
.section-featured-product-grid .product-grid .col-2 {
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
}
@media (max-width: 768px) {
    .section-featured-product-grid .product-grid .col-2 {
        min-width: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}
.section-featured-product-grid .product-grid .product-card:hover .second_image {
    opacity: 1;
}
.section-featured-product-grid .card_image {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.section-featured-product-grid .card_image .second_image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
}
.section-featured-product-grid .card_info {
    margin-top: 10px;
}

/* ------------------------------- Homepage / Testimonial ----------------------------- */

.shopify-section.home-testimonial-block .dt-sc-heading {
    margin-bottom: 0px;
}

/* ------------------------------- Newsletter Popup -------------------------------- */

.dt-sc-newsletter-container .grid_layout {
    background: #FFF;
    border-radius: var(--DTRadius);
    display: flex;
    width: 840px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: all linear .3s;
    z-index: 1;
    overflow: hidden;
}

.dt-sc-newsletter-container .grid_layout .image_wrapper {
    min-width: 50%;
    max-width: 50%;
}

.dt-sc-newsletter-container .grid_layout .image_wrapper img {
    width: 100%;
    height: auto;
}

.dt-sc-newsletter-container .grid_layout .dt-sc-newsletter-modal {
    width: unset;
    left: unset;
    top: unset;
    position: relative;
    transform: unset;
}

.dt-sc-newsletter-container .grid_layout .dt-sc-newsletter-modal form {
    display: flex !important;
    flex-direction: column;
}

/* ------------------------ Product Page ----------------------- */

@media (min-width: 768px) {
    .product_image_width {
        width: calc(62% - 30px);
    }
    .product-description-product-template {
        width: calc(38% - 30px);
    }
}

.product-image-grid .product-image-grid-item {
    min-width: calc(50% - 5px);
    max-width: calc(50% - 5px);
    margin-bottom: 10px;
}
.product-image-grid img {
    width: 100%;
}

body.template-product .product-price * {
    font-size: 24px;
}

.quickview-description .product-price .money {
    font-size: 20px;
}
.product-item-caption-desc.product-rte-description {
    font: inherit;
    font-size: 16px;
}
.quickview-description .product-item-caption-desc.product-rte-description p {
    font: inherit;
    font-size: 16px;
}

.quickview-description .product-item-caption-desc.product-rte-description ul {
    display: none;
}

.quickview-description .product-item-caption-desc.product-rte-description .custom_owl {
    display: none;
}

.dt-sc-accordion-container .accordion_content_header {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.dt-sc-accordion-container .accordion_content_header:first-child {
    margin-top: 0px;
}

.dt-sc-accordion-container .accordion_content_header strong {
    margin-left: 10px;
}

/* ------------------------- Footer ----------------------- */

footer .footer-newsletter form {
    width: 100%;
}
footer .footer-newsletter {
    display: block !important;
    /* width: 60%; */
}
footer .footer-newsletter {
    display: block !important;
    position: relative;
}
#faqs .breadcrumb, .template-product .breadcrumb{
    display: none;
}

/* ----------------- Homepage / Specification section -------------------- */

@media (max-width: 768px) {
    .dt-sc-support-block svg, .dt-sc-support-icon-image {
        margin-left: auto;
        margin-right: auto;
    }
}
h3.sc-ctqQKy span {
    font-size: 24px;
    font-weight: 700;
}
.template-index .product_price {
    font-size: 31px;
    margin-top: 5px;
}
.product_payments_btns .dT_VProdWishList {
    display: none;
}
h2.product-title {
    line-height: 1;
}
p.custom_owl {
    background: #e7c99f;
    padding: 10px;
}
p.custom_owl strong {
    color: #fff;
}
.dt-sc-support-heading svg#Layer_1 {
    height: 20px;
    width: 20px;
  margin-left: 4px;
    margin-right: 4px;
}
#shopify-section-1620291816fc423c3f.home-specification-banner .dt-sc-specification-grid-banner .dt-sc-support-block.style2 .dt-sc-support-content .dt-sc-support-heading {
  
    padding: 0 0 0 23px !important;
}
.protitle {
    display: flex;
  align-items: center;
}
.newbox p {
    color: #427b7d;
    font-weight: 600;
    border: 2px solid #427b7d;
    padding: 10px;
}
.newbox {
    width: 85px;
    padding-top: 20px;
    margin-right: 10px;
}
.product-item-caption-desc ul li {
    list-style: square !important;
}
.ql-block svg {
    margin-right: 10px;
}