{% if settings.enable_custom_font %}
{% if settings.custom_font_script_1 != blank %}
{{ settings.custom_font_script_1 }}
{% endif %}
{% if settings.custom_font_script_2 != blank %}
{{ settings.custom_font_script_2 }}
{% endif %}
{% endif %}


.swiper-container { pointer-events: all; }

{%- assign dt_sc_header_font = settings.header_font -%}
{%- assign dt_sc_base_font = settings.base_font -%}
{%- assign dt_sc_additional_font = settings.additional_font -%}

{%- assign dt_sc_base_font_bolder = dt_sc_base_font | font_modify: 'weight', 'bolder' -%}
{%- assign dt_sc_base_font_bold = dt_sc_base_font | font_modify: 'weight', 'bold' -%}
{%- assign dt_sc_base_font_italic = dt_sc_base_font | font_modify: 'style', 'italic' -%}
{%- assign dt_sc_base_font_bold_italic = dt_sc_base_font_bold | font_modify: 'style', 'italic' -%}


{{ dt_sc_header_font | font_face: font_display: 'swap' }}
{{ dt_sc_base_font | font_face: font_display: 'swap' }}
{{ dt_sc_additional_font | font_face: font_display: 'swap' }}

{{ dt_sc_base_font_bold | font_face: font_display: 'swap' }}
{{ dt_sc_base_font_bolder | font_face: font_display: 'swap' }}
{{ dt_sc_base_font_italic | font_face: font_display: 'swap' }}
{{ dt_sc_base_font_bold_italic | font_face: font_display: 'swap' }}

:root {
  /* Heading font*/
  --DTFontTypo_Heading: {{ dt_sc_header_font.family }}, {{ dt_sc_header_font.fallback_families }};       
  --font-style-header: {{ dt_sc_header_font.style }};
  --font-weight-header: {{ dt_sc_header_font.weight }};
  --font-size-header: {{ settings.type_header_base_size }};
  --font-size-header-tablet: {{ settings.type_header_base_size_tablet }};
  --font-size-header-mobile: {{ settings.type_header_base_size_mobile }};

  /* Body font*/
      {% if settings.custom_font_family_1 != blank %}
  --DTFontTypo_Body: {{ settings.custom_font_family_1 }};
    {% else %}
    --DTFontTypo_Body: {{ dt_sc_base_font.family }}, {{ dt_sc_base_font.fallback_families }};
    {% endif %}
    --font-style-body: {{ dt_sc_base_font.style }};
    --font-weight-body: {{ dt_sc_base_font.weight }};          
    --font-weight-body--bold: {{ dt_sc_base_font_bold.weight | default: 700 }};
    --font-weight-body--bolder: {{ dt_sc_base_font_bolder.weight | default: 700 }};
    --font-size-body: {{ settings.type_base_size }}px;   
    --font-size-body-tablet: {{ settings.type_base_size_tablet }};   
    --font-size-body-mobile: {{ settings.type_base_size_mobile }};   

    /* Additional font*/
   {% if settings.custom_font_family_2 != blank %}
    --DTFontTypo_Custom: {{ settings.custom_font_family_2 }};
    {% else %}
    --DTFontTypo_Custom: {{ dt_sc_additional_font.family }}, {{ dt_sc_additional_font.fallback_families }};
    {% endif %}
    --font-style-additional: {{ dt_sc_additional_font.style }};
  --font-weight-additional: {{ dt_sc_additional_font.weight }};    
  --font-size-additional: {{ settings.type_additional_size }}; 
  --font-size-additional-tablet: {{ settings.type_additional_size_tablet }};   
  --font-size-additional-mobile: {{ settings.type_additional_size_mobile }}; 

  /* Other colors */
  --DTPrimaryColor: {{ settings.primary_color }};
  --DTSecondaryColor: {{ settings.secondary_color }};
  --DTTertiaryColor: {{ settings.tertiary_color }};
  --DTBodyBGColor: {{ settings.body_bg_color }};
  --DTOverlayColor: {{ settings.overlay_color | color_modify: 'alpha', 0.5 }};
  /*--DTOverlayColor: rgb(255 255 255 / 50%);*/

  --DTLinkColor: {{ settings.link_color}};
  --DTLinkHoverColor: {{ settings.link_hover_color}};
  --DTColor_Body: {{ settings.body_text_color}};
  --DTColor_Heading: {{ settings.heading_color}};
  --DTColor_Border: {{ settings.border_color}};

  /* Error and alerts */
  --DT_Error_Color: {{ settings.error_color}};
  --DT_Success_Color:{{ settings.success_color}};
  --DT_Warning_Color:{{ settings.warning_color}};
  --DT_Info_Color: {{ settings.info_color}};

  /* Blog section */
  --DT_Blog_Border_Radius: {{ settings.blog_border_radius}}px;
  --DT_Blog_Gutter_Width: {{ settings.blog_gutter_width}}px;
  --DT_Blog_BG_Color:{{ settings.blog_bg_color}};
  --DT_Blog_Link_Color:{{ settings.blog_link_color}};
  --DT_Blog_Link_Hover_Color:{{ settings.blog_link_hover_color}};
  --DT_Blog_Text_Color: {{ settings.blog_text_color}};
  --DT_Blog_Icon_Color: {{ settings.blog_icon_color}};
  --DT_Blog_Button_BG_Color: {{ settings.blog_button_bg_color}};
  --DT_Blog_Button_Text_Color:{{ settings.blog_button_text_color}};  
  --DT_Blog_Button_BG_Hover_Color: {{ settings.blog_button_bg_hover_color}};
  --DT_Blog_Button_Text_Hover_Color:{{ settings.blog_button_text_hover_color}};

  /* Overlay Style */
  --DT_Blog_Link_Color_Overlay:{{ settings.blog_link_color_overlay}};
  --DT_Blog_Link_Hover_Color_Overlay:{{ settings.blog_link_hover_color_overlay}};
  --DT_Blog_Text_Color_overlay: {{ settings.blog_text_color_overlay}};
  --DT_Blog_Icon_Color_overlay: {{ settings.blog_icon_color_overlay}};
  --DT_Blog_Button_BG_Color_overlay: {{ settings.blog_button_bg_color_overlay}};
  --DT_Blog_Button_Text_Color_overlay:{{ settings.blog_button_text_color_overlay}};  
  --DT_Blog_Button_BG_Hover_Color_overlay: {{ settings.blog_button_bg_hover_color_overlay}};
  --DT_Blog_Button_Text_Hover_Color_overlay:{{ settings.blog_button_text_hover_color_overlay}};

	/* Base Size */
  --DTFontSizeBase: {{ settings.type_base_size }}px;  

	/* Heading Size */
  --DTFontSize_H1: {{ settings.h1_size}}px;
  --DTFontSize_H2: {{ settings.h2_size}}px;
  --DTFontSize_H3: {{ settings.h3_size}}px;
  --DTFontSize_H4: {{ settings.h4_size}}px;
  --DTFontSize_H5: {{ settings.h5_size}}px;
  --DTFontSize_H6: {{ settings.h6_size}}px;

  --DT_Heading_Line_Height: {{ settings.heading_line_height}}px;
  --DT_Body_Line_Height: {{ settings.body_line_height}}px;

  --DTRadius: {{ settings.overall_border_radius }}px;
  --DTInputPadding: {{ settings.input_padding }};

  --DTInputBackground: {{ settings.input_bg }};
  --DTform_BG: {{ settings.form_bg}};	

	/* Button Style */
  --DTPadding_Btn: {{ settings.button_padding}};
  --DT_Button_BG_Color: {{ settings.button_bg_color}};
  --DT_Button_Text_Color: {{ settings.button_text_color}};  
  --DT_Button_BG_Hover_Color: {{ settings.button_bg_hover_color}};
  --DT_Button_Text_Hover_Color: {{ settings.button_text_hover_color}};
  --DT_Button_Border_Radius: {{ settings.button_border_radius}}px;

  --DTContainer: {{settings.container_width}}px;
  --DT_Lap_Container: {{settings.lap_container_width}}px;
  --DT_Tab_Container: {{settings.tab_container_width}}px;    

  --DT_Container_Spacing: {{settings.fullwidth_gap}}px;  
  --DTGutter_Width: {{settings.gutter_width}}px;

  --DTBaseTransition: {{settings.base_transitions}}; 

  --DTboxShadowcolor: {{ settings.shadow_color }};
  --DTboxShadowcolor_light: {{ settings.shadow_color_light }};

  --DTboxShadow: 0 0 10px var(--DTboxShadowcolor);
    --DTboxShadow_light: 0 0 10px var(--DTboxShadowcolor_light);

      }

/*================ Vendor-specific styles ================*/


/* Magnigic pop-up  */

.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:10000;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:10001;position:fixed;outline:0!important;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.mfp-align-top .mfp-container:before{display:none}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045;height:100%}
.modal-popup.error{position:absolute;left:50%;top:40%;transform:translate(-50%,-40%)!important;text-align:center;width:100%}
.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:zoom-out}
.mfp-zoom{cursor:zoom-in}
.mfp-auto-cursor .mfp-content{
  overflow: auto;
  display: flex;
  align-items: center;
  max-height: 90vh;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5%;
  right: 5%;
  max-width: 90%;
  border-radius: var(--DTRadius);
    width: calc(var(--DTContainer) / 1.2);

      }
.mfp-counter{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none!important}
.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}
.mfp-preloader a{color:#ccc}
.mfp-preloader a:hover{color:#fff}
.mfp-s-ready .mfp-preloader{display:none}
.mfp-s-error .mfp-content{display:none}
button.mfp-arrow, button.mfp-close{overflow:visible;cursor:pointer;appearance:none;display:block;padding:0;z-index:1046;overflow:hidden;background: transparent;border-radius:var(--DTRadius);
  color:currentcolor;
    }
button.mfp-arrow:hover,button.mfp-close:hover{

  color: var(--DTBodyBGColor);
    }
button.mfp-arrow *,button.mfp-close *{pointer-events:none}
button::-moz-focus-inner{padding:0;margin:0}
.mfp-close{position:absolute;right:5px;top:5px;width:30px;height:30px;margin:0!important;display:block;transition:var(--DTBaseTransition)}
.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}
.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}
.mfp-arrow{position:absolute;opacity:.65;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";filter:alpha(opacity=65);margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.mfp-arrow:active{margin-top:-54px}
.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;-ms-filter:none;filter:none}
.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:solid transparent}
.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}
.mfp-arrow .mfp-a,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px}
.mfp-arrow-left{left:0}
.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}
.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px}
.mfp-arrow-right{right:0}
.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}
.mfp-iframe-holder .mfp-content{line-height:0;width:80%;height:auto}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;-webkit-box-shadow:0 0 8px rgba(0,0,0,.4);box-shadow:0 0 8px rgba(0,0,0,.4);background:#000}
.mfp-iframe-holder .mfp-close{top:-40px}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0 40px;margin:0 auto}
.mfp-figure{line-height:0}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;-webkit-box-shadow:0 0 8px rgba(0,0,0,.4);box-shadow:0 0 8px rgba(0,0,0,.4);background:#444}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}
.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-break:break-word;padding-right:36px}
.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}
.mfp-fade.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;-o-transition:all .15s ease-out;-ms-transition:all .15s ease-out;transition:all .15s ease-out}
.mfp-fade.mfp-bg.mfp-ready{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.mfp-fade.mfp-bg.mfp-removing{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-fade.mfp-wrap .mfp-content{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;-o-transition:all .15s ease-out;-ms-transition:all .15s ease-out;transition:all .15s ease-out}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1;-ms-filter:none;filter:none}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-zoom-in .mfp-with-anim{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(.8);-moz-transform:scale(.8);-o-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8)}
.mfp-zoom-in.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;-ms-transition:all .3s ease-out;transition:all .3s ease-out}
.mfp-zoom-in.mfp-ready .mfp-with-anim{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.mfp-zoom-in.mfp-ready.mfp-bg{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.mfp-zoom-in.mfp-removing .mfp-with-anim{-webkit-transform:scale(.8);-moz-transform:scale(.8);-o-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-zoom-in.mfp-removing.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-newspaper .mfp-with-anim{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(0) rotate(500deg);-moz-transform:scale(0) rotate(500deg);-o-transform:scale(0) rotate(500deg);-ms-transform:scale(0) rotate(500deg);transform:scale(0) rotate(500deg)}
.mfp-newspaper.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;-ms-transition:.5s;transition:.5s}
.mfp-newspaper.mfp-ready .mfp-with-anim{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1) rotate(0);-moz-transform:scale(1) rotate(0);-o-transform:scale(1) rotate(0);-ms-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}
.mfp-newspaper.mfp-ready.mfp-bg{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.mfp-newspaper.mfp-removing .mfp-with-anim{-webkit-transform:scale(0) rotate(500deg);-moz-transform:scale(0) rotate(500deg);-o-transform:scale(0) rotate(500deg);-ms-transform:scale(0) rotate(500deg);transform:scale(0) rotate(500deg);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-newspaper.mfp-removing.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-move-horizontal .mfp-with-anim{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;-ms-transition:.3s;transition:.3s;-webkit-transform:translateX(-50px);-moz-transform:translateX(-50px);-o-transform:translateX(-50px);-ms-transform:translateX(-50px);transform:translateX(-50px)}
.mfp-move-horizontal.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;-ms-transition:.3s;transition:.3s}
.mfp-move-horizontal.mfp-ready .mfp-with-anim{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.mfp-move-horizontal.mfp-ready.mfp-bg{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.mfp-move-horizontal.mfp-removing .mfp-with-anim{-webkit-transform:translateX(50px);-moz-transform:translateX(50px);-o-transform:translateX(50px);-ms-transform:translateX(50px);transform:translateX(50px);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-move-horizontal.mfp-removing.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-move-from-top .mfp-with-anim{opacity:0}
.mfp-move-from-top.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;-ms-transition:.2s;transition:.2s}
.mfp-move-from-top.mfp-ready .mfp-with-anim{opacity:1;filter:none}
.mfp-move-from-top.mfp-ready.mfp-bg{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)}
.mfp-move-from-top.mfp-removing .mfp-with-anim{-webkit-transform:translateY(-50px);-moz-transform:translateY(-50px);-o-transform:translateY(-50px);-ms-transform:translateY(-50px);transform:translateY(-50px);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-move-from-top.mfp-removing.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-3d-unfold .mfp-content{-webkit-perspective:2000px;-moz-perspective:2000px;-ms-perspective:2000px;perspective:2000px}
.mfp-3d-unfold .mfp-with-anim{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;-ms-transition:.3s ease-in-out;transition:.3s ease-in-out;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateY(-60deg);-moz-transform:rotateY(-60deg);-o-transform:rotateY(-60deg);-ms-transform:rotateY(-60deg);transform:rotateY(-60deg)}
.mfp-3d-unfold.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;-ms-transition:.5s;transition:.5s}
.mfp-3d-unfold.mfp-ready .mfp-with-anim{opacity:1;-ms-filter:none;filter:none;-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-o-transform:rotateY(0);-ms-transform:rotateY(0);transform:rotateY(0)}
.mfp-3d-unfold.mfp-ready.mfp-bg{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.mfp-3d-unfold.mfp-removing .mfp-with-anim{-webkit-transform:rotateY(60deg);-moz-transform:rotateY(60deg);-o-transform:rotateY(60deg);-ms-transform:rotateY(60deg);transform:rotateY(60deg);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-3d-unfold.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-zoom-out .mfp-with-anim{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;-ms-transition:.3s ease-in-out;transition:.3s ease-in-out;-webkit-transform:scale(1.3);-moz-transform:scale(1.3);-o-transform:scale(1.3);-ms-transform:scale(1.3);transform:scale(1.3)}
.mfp-zoom-out.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:.3s ease-out;-moz-transition:.3s ease-out;-o-transition:.3s ease-out;-ms-transition:.3s ease-out;transition:.3s ease-out}
.mfp-zoom-out.mfp-ready .mfp-with-anim{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.mfp-zoom-out.mfp-ready.mfp-bg{opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.mfp-zoom-out.mfp-removing .mfp-with-anim{-webkit-transform:scale(1.3);-moz-transform:scale(1.3);-o-transform:scale(1.3);-ms-transform:scale(1.3);transform:scale(1.3);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-zoom-out.mfp-removing.mfp-bg{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.mfp-dialog{padding:var(--DTGutter_Width);text-align:left;max-width:100%;margin:auto;position:relative;border-radius:var(--DTRadius);background-color: var(--DTBodyBGColor);}
.mfp-search-dialog{width:100%;height:250px!important;}

.mfp-dialog-full{margin:0;max-width:none;padding:0;overflow:auto}
.mfp-dialog-full::-webkit-scrollbar{width:7px;background-color:#e6e6e6}
.mfp-dialog-full::-webkit-scrollbar-thumb{background-color:grey}
.mfp-dialog-full::-webkit-scrollbar-thumb:hover{background-color:#666}
.mfp-dialog-full::-webkit-scrollbar-thumb:active{background-color:#4d4d4d}
.mfp-dialog-full::-webkit-scrollbar-track{background-color:#4d4d4d}
.mfp-subscribe-dialog{max-width:800px;padding:0}
.mfp-subscribe-dialog .widget-title{margin-bottom:10px}
.mfp-subscribe-dialog .mfp-close{color:#fff;opacity:1;-ms-filter:none;filter:none}
.subscribe-dialog-inner{padding:20px 30px}
.subscribe-dialog-bg{height:410px}
.mfp-dialog-nav{color:#fff;background:0 0;margin:0;min-height:100vh;max-width:none}
.mfp-dialog-nav .mfp-close{outline:0!important;color:#fff;font-size:60px;font-weight:100}
.mfp-dialog-nav-container{margin-left:0}
.mfp-dialog-product{max-width:960px;padding:0;margin:0 auto}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('{{ 'loading.gif' | asset_url }}') center no-repeat #fff;
    }


    .product_short_description .color-green{
      color: #6A6A6A;
    }
#dT_collectionGrid{
  padding-bottom: 115px;
}
.dark-green-btn{
  background: #427B7D !important;
}
/***********************************************************************************/
/*Responsive*/
/***********************************************************************************/
.cart_table{
  color: #6A6A6A;
  padding-bottom: 130px;
}
.product-collection .grid-link__title a{
  color: #427B7D;
  display: block;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: .9em;
  font-weight: lighter;
}
.footer__newsletter input{
  margin-top: 10px;
}
.mb-show{
  display: none !important;
}
.mb-hidden{
  display: block !important;
}
@media (max-width:1540px) {


}

@media (max-width:1199px) {
  .mfp-search-dialog{height:150px!important}
  .mfp-search-dialog .full-center{position:relative!important}
}

@media (max-width:767px) {
  .mb-show{
    display: block !important;
  }
  .mb-hidden{
    display: none !important;
  }
  .mfp-dialog { padding:15px; }
  #dT_collectionGrid{
    padding-bottom: 5px;
  }
  .cart_table{
    padding-bottom: 0px;
  }
  h1 { font-size: calc(.75 * {{ settings.h1_size}}px; }
  h2 { font-size: calc(.75 * {{ settings.h2_size}}px; }
  h3 { font-size: calc(.75 * {{ settings.h3_size}}px; }
  h4 { font-size: calc(.75 * {{ settings.h4_size}}px; }
  h5 { font-size: calc(.75 * {{ settings.h5_size}}px; }
  h6 { font-size: calc(.75 * {{ settings.h6_size}}px; }

}

@media (max-width:576px) {

}