<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
  </div>
</div>
{% section 'about-overlay-section' %}    
{% section 'about-content-with-image-section' %}
{% section 'about-testimonials-section' %}