<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
  </div>
</div>
{% section 'about-partial-overlay-section' %}
{% section 'about-masonary-overlay-section' %}
{% section 'about-team-section' %}
{% section 'about-brand-logos' %}
  
