{% assign current_variant = product.selected_or_first_available_variant %}
{%- capture sidebarCheck -%}
{%- if settings.product_page_sidebar == "left_sidebar" -%}
{%- assign mid_width = "has-sidebar" -%}   
left-sidebar 
{%- elsif settings.product_page_sidebar == "right_sidebar" -%}
{%- assign mid_width = "has-sidebar" -%}   
right-sidebar
{% endif %}
{%- endcapture -%}

<div class="">
  <div class="row">
    <div class="container">
      <div class="{%- if settings.product_page_sidebar == "full_width" -%}full-width{% endif %}{%- if settings.product_page_sidebar != "full_width" -%}{{ mid_width }} {{- sidebarCheck -}} {%- unless section.blocks.size > 0 -%}full-width{%- endunless -%}{%- endif -%}">
        <div class="product-template-content">
          {% section 'product-template' %}   
        </div>  
        {%- unless settings.product_page_sidebar == "full_width" -%}     
        <div class="sidebar" id="sidebar-sticky">
          {% section 'product-sidebar' %}      
        </div>
        {%- endunless -%}
  
      </div>
    </div>
    <!-- {% section 'support-block' %} -->
    {% section 'product-support-block' %}
    {% section 'product-image-gallery' %} 
    {% include 'dT_product_bundle' %}
    {% section 'related-products' %}        
    {% section 'product-recommendations' %}
    {% section 'recently-viewed-products' %}  
  </div> 
</div>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>



{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}